In [ ]:
import pandas as pd
import requests

In [ ]:
now=pd.to_datetime('now')

In [ ]:
javascript_date_string=str(now.date())+'T'+str(now.time())+'Z'
javascript_date_string

'2021-12-04T18:21:16.568929Z'

In [ ]:
url='https://api.carbonintensity.org.uk/intensity/'+javascript_date_string+'/fw48h'
pd.json_normalize(requests.get(url).json()['data'])

                 from                 to  ...  intensity.actual intensity.index
0   2021-12-04T18:00Z  2021-12-04T18:30Z  ...              None        moderate
1   2021-12-04T18:30Z  2021-12-04T19:00Z  ...              None        moderate
2   2021-12-04T19:00Z  2021-12-04T19:30Z  ...              None        moderate
3   2021-12-04T19:30Z  2021-12-04T20:00Z  ...              None        moderate
4   2021-12-04T20:00Z  2021-12-04T20:30Z  ...              None             low
..                ...                ...  ...               ...             ...
91  2021-12-06T15:30Z  2021-12-06T16:00Z  ...              None        moderate
92  2021-12-06T16:00Z  2021-12-06T16:30Z  ...              None        moderate
93  2021-12-06T16:30Z  2021-12-06T17:00Z  ...              None        moderate
94  2021-12-06T17:00Z  2021-12-06T17:30Z  ...              None        moderate
95  2021-12-06T17:30Z  2021-12-06T18:00Z  ...              None        moderate

[96 rows x 5 columns]

In [ ]:
# however, your api also works wiht just the date (without the hours) - as this is also a valid JavaScript Date string
javascript_date_string=str(now.date())
url='https://api.carbonintensity.org.uk/intensity/'+javascript_date_string+'/fw48h'
pd.json_normalize(requests.get(url).json()['data'])

                 from                 to  ...  intensity.actual  intensity.index
0   2021-12-03T23:30Z  2021-12-04T00:00Z  ...             179.0         moderate
1   2021-12-04T00:00Z  2021-12-04T00:30Z  ...             174.0         moderate
2   2021-12-04T00:30Z  2021-12-04T01:00Z  ...             176.0         moderate
3   2021-12-04T01:00Z  2021-12-04T01:30Z  ...             167.0         moderate
4   2021-12-04T01:30Z  2021-12-04T02:00Z  ...             159.0         moderate
..                ...                ...  ...               ...              ...
92  2021-12-05T21:30Z  2021-12-05T22:00Z  ...               NaN             high
93  2021-12-05T22:00Z  2021-12-05T22:30Z  ...               NaN             high
94  2021-12-05T22:30Z  2021-12-05T23:00Z  ...               NaN         moderate
95  2021-12-05T23:00Z  2021-12-05T23:30Z  ...               NaN         moderate
96  2021-12-05T23:30Z  2021-12-06T00:00Z  ...               NaN         moderate

[97 rows x 5 columns]