In [1]:
import pandas as pd

In [7]:
url = "https://assets.ctfassets.net/jeox55pd4d8n/5ftdPCvJTzU3cFFiccdSA0/26b3aaf34a18555a4a76e05b506f6bcd/Apartment_List_Rent_Estimates_2024_09.csv"

In [8]:
df = pd.read_csv(url)

In [9]:
df

,location_name,location_type,location_fips_code,population,state,county,metro,bed_size,2017_01,2017_02,...,2023_12,2024_01,2024_02,2024_03,2024_04,2024_05,2024_06,2024_07,2024_08,2024_09
0,United States,National,0,331097593,NaN,NaN,NaN,overall,1070.0,1071.0,...,1380,1377,1380,1389,1397,1405,1410,1414,1412,1405
1,United States,National,0,331097593,NaN,NaN,NaN,1br,940.0,941.0,...,1213,1210,1213,1220,1227,1234,1239,1242,1240,1234
2,United States,National,0,331097593,NaN,NaN,NaN,2br,1059.0,1060.0,...,1366,1363,1366,1375,1382,1390,1396,1399,1397,1390
3,California,State,6,39356104,California,NaN,NaN,overall,1742.0,1746.0,...,2117,2112,2120,2135,2146,2154,2163,2170,2175,2169
4,California,State,6,39356104,California,NaN,NaN,1br,1512.0,1515.0,...,1838,1834,1840,1853,1863,1870,1878,1884,1888,1883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3556,"Oakwood, GA",City,1357260,5132,Georgia,Hall County,"Gainesville, GA",1br,NaN,NaN,...,1480,1460,1480,1500,1509,1499,1493,1481,1466,1461
3557,"Oakwood, GA",City,1357260,5132,Georgia,Hall County,"Gainesville, GA",2br,NaN,NaN,...,1362,1344,1362,1380,1389,1380,1374,1363,1349,1345
3558,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",overall,1310.0,1343.0,...,1669,1669,1682,1686,1687,1683,1706,1726,1741,1723
3559,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",1br,1162.0,1191.0,...,1480,1480,1492,1495,1496,1492,1513,1531,1544,1528
3560,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",2br,1470.0,1506.0,...,1872,1872,1887,1891,1892,1888,1914,1936,1952,1933