In [49]:
import pandas as pd
import requests

In [50]:
# set base url for API
base_url = "https://api.beta.ons.gov.uk/v1/data?uri="

In [51]:
uris = {
    "Unpemployment rate (%)":"/employmentandlabourmarket/peoplenotinwork/unemployment/timeseries/mgsx/lms",
    "Inactivity rate (%)":"/employmentandlabourmarket/peoplenotinwork/economicinactivity/timeseries/lf2s/lms",
    "Employment rate (%)":"/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/lf24/lms",
    "Female employment rate (%)":"/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/lf25/lms",
    "Male employment rate (%)":"/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/mgsv/lms",
    "Avg weekly earnings (£)":"/employmentandlabourmarket/peopleinwork/earningsandworkinghours/timeseries/kai7/emp",
    "Working days lost due to strikes":"/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/bbfw/lms",
    "Total vacancies":"/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/ap2y/lms",
    "Vacancies per 100 jobs":"/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/ap2z/lms"
}

In [52]:
def fetch_ons_data(uri):
    response = requests.get(base_url + uri)
    if response.status_code == 200:
        return response.json()
    else:
        return None

In [53]:
data_frames = {}
for series_name, uri in uris.items():
    data = fetch_ons_data(uri)
    if data:
        df = pd.DataFrame(data['months'])
        df['series'] = series_name
        data_frames[series_name] = df

df = pd.concat(data_frames.values(), ignore_index=True)

df

,date,value,label,year,month,quarter,sourceDataset,updateDate,series
0,1971 FEB,3.8,1971 JAN-MAR,1971,February,,LMS,2015-10-13T23:00:00.000Z,Unpemployment rate (%)
1,1971 MAR,3.9,1971 FEB-APR,1971,March,,LMS,2015-10-13T23:00:00.000Z,Unpemployment rate (%)
2,1971 APR,4.0,1971 MAR-MAY,1971,April,,LMS,2015-10-13T23:00:00.000Z,Unpemployment rate (%)
3,1971 MAY,4.1,1971 APR-JUN,1971,May,,LMS,2015-10-13T23:00:00.000Z,Unpemployment rate (%)
4,1971 JUN,4.1,1971 MAY-JUL,1971,June,,LMS,2015-10-13T23:00:00.000Z,Unpemployment rate (%)
...,...,...,...,...,...,...,...,...,...
5203,2024 JUN,2.7,2024 MAY-JUL,2024,June,,LMS,2024-08-12T23:00:00.000Z,Vacancies per 100 jobs
5204,2024 JUL,2.6,2024 JUN-AUG,2024,July,,LMS,2024-12-17T00:00:00.000Z,Vacancies per 100 jobs
5205,2024 AUG,2.6,2024 JUL-SEP,2024,August,,LMS,2024-10-14T23:00:00.000Z,Vacancies per 100 jobs
5206,2024 SEP,2.6,2024 AUG-OCT,2024,September,,LMS,2024-11-12T00:00:00.000Z,Vacancies per 100 jobs
5207,2024 OCT,2.5,2024 SEP-NOV,2024,October,,LMS,2024-12-17T00:00:00.000Z,Vacancies per 100 jobs

In [54]:
df[df['series'] == 'Inactivity rate']

Empty DataFrame
Columns: [date, value, label, year, month, quarter, sourceDataset, updateDate, series]
Index: []

In [55]:
# Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%Y %b')

df = df[['date', 'value', 'series']]

df

           date value                  series
0    1971-02-01   3.8  Unpemployment rate (%)
1    1971-03-01   3.9  Unpemployment rate (%)
2    1971-04-01   4.0  Unpemployment rate (%)
3    1971-05-01   4.1  Unpemployment rate (%)
4    1971-06-01   4.1  Unpemployment rate (%)
...         ...   ...                     ...
5203 2024-06-01   2.7  Vacancies per 100 jobs
5204 2024-07-01   2.6  Vacancies per 100 jobs
5205 2024-08-01   2.6  Vacancies per 100 jobs
5206 2024-09-01   2.6  Vacancies per 100 jobs
5207 2024-10-01   2.5  Vacancies per 100 jobs

[5208 rows x 3 columns]

In [57]:
df.to_csv('data/ons_labor_data.csv', index=False)