In [2]:
# import necessary libraries
import census
import us
from typing import Dict, List
import pandas as pd
from requests.exceptions import ConnectionError, Timeout

In [6]:
# user input for api key
api_key = input("Enter your API key: ")

# Define the API key
c = census.Census(api_key)

In [7]:
def get_census_data(c, series_code: str, dataset: str = 'acs1', geo_level: str = 'state') -> pd.DataFrame:
    """
    Gets census data for all available years between 2010-2024.
    
    Parameters:
    -----------
    c : Census client object
    series_code : str
        The census series code to fetch
    dataset : str
        Census dataset to query (e.g., 'acs1', 'acs5', 'sf1', etc.)
    geo_level : str
        Geographic level for data ('state' or 'county')
        
    Returns:
    --------
    pd.DataFrame with columns:
        - id: numeric state FIPS or combined state+county FIPS
        - value: the requested census value
        - year: year of observation
    """
    data_rows = []
    
    for year in range(2010, 2024):
        try:
            census_dataset = getattr(c, dataset)
            
            if geo_level == 'state':
                data = census_dataset.get(series_code, {'for': 'state:*'}, year=year)
                for row in data:
                    data_rows.append({
                        'id': int(row['state']),
                        'value': row[series_code],
                        'year': year
                    })
            else:  # county level
                data = census_dataset.get(
                    series_code,
                    {'for': 'county:*', 'in': 'state:*'},
                    year=year
                )
                for row in data:
                    # Create combined FIPS code: state (2 digits) + county (3 digits)
                    fips = int(str(row['state']).zfill(2) + str(row['county']).zfill(3))
                    data_rows.append({
                        'id': fips,
                        'value': row[series_code],
                        'year': year
                    })
                
        except Exception as e:
            print(f"Failed to fetch {year} data from {dataset}: {str(e)}")
            
    df = pd.DataFrame(data_rows)
    df['value'] = pd.to_numeric(df['value'])
    return df

In [8]:
population_state = get_census_data(c, 'B01001_001E', dataset='acs5', geo_level='state')
population_state

     id       value  year
0     1   4712651.0  2010
1     2    691189.0  2010
2     4   6246816.0  2010
3     5   2872684.0  2010
4     6  36637290.0  2010
..   ..         ...   ...
723  53   7740984.0  2023
724  54   1784462.0  2023
725  55   5892023.0  2023
726  56    579761.0  2023
727  72   3254885.0  2023

[728 rows x 3 columns]

In [13]:
unemployment_state = c.acs5.state(
    fields=(
        'NAME',
        'B23025_005E',
        'B23025_002E'
        ),
    state_fips='*',
    year=2022
)

# Create a DataFrame from the API response
df = pd.DataFrame(unemployment_state)
df.columns = ['state', 'unemployed', 'labor_force', 'id']
df

                   state  unemployed  labor_force  id
0                Alabama    120030.0    2345086.0  01
1                 Alaska     23035.0     383078.0  02
2                Arizona    186058.0    3490030.0  04
3               Arkansas     71601.0    1397075.0  05
4             California   1282055.0   20168662.0  06
5               Colorado    143483.0    3205413.0  08
6            Connecticut    115050.0    1955341.0  09
7               Delaware     27315.0     505728.0  10
8   District of Columbia     28264.0     400930.0  11
9                Florida    531896.0   10629693.0  12
10               Georgia    280651.0    5406476.0  13
11                Hawaii     35913.0     760387.0  15
12                 Idaho     34154.0     912877.0  16
13              Illinois    397747.0    6697663.0  17
14               Indiana    154602.0    3446205.0  18
15                  Iowa     64695.0    1695226.0  19
16                Kansas     60636.0    1533709.0  20
17              Kentucky    108558.0    2147538.0  21
18             Louisiana    142144.0    2180175.0  22
19                 Maine     28762.0     714333.0  23
20              Maryland    168965.0    3331958.0  24
21         Massachusetts    206164.0    3882906.0  25
22              Michigan    302167.0    5018590.0  26
23             Minnesota    123497.0    3116753.0  27
24           Mississippi     85519.0    1344337.0  28
25              Missouri    132657.0    3107514.0  29
26               Montana     21635.0     559429.0  30
27              Nebraska     32157.0    1054285.0  31
28                Nevada    109909.0    1578524.0  32
29         New Hampshire     27426.0     770353.0  33
30            New Jersey    307824.0    4939081.0  34
31            New Mexico     59989.0     976697.0  35
32              New York    638401.0   10279583.0  36
33        North Carolina    263374.0    5290874.0  37
34          North Dakota     12191.0     423612.0  38
35                  Ohio    300192.0    5998649.0  39
36              Oklahoma     92216.0    1915098.0  40
37                Oregon    119746.0    2169277.0  41
38          Pennsylvania    358729.0    6689654.0  42
39          Rhode Island     34616.0     592606.0  44
40        South Carolina    128211.0    2517626.0  45
41          South Dakota     14552.0     471697.0  46
42             Tennessee    172829.0    3450165.0  47
43                 Texas    766007.0   14784312.0  48
44                  Utah     56860.0    1702399.0  49
45               Vermont     13466.0     351783.0  50
46              Virginia    197001.0    4570843.0  51
47            Washington    197009.0    4010799.0  53
48         West Virginia     47503.0     786112.0  54
49             Wisconsin    105086.0    3129606.0  55
50               Wyoming     11456.0     302838.0  56
51           Puerto Rico    165697.0    1250216.0  72

In [14]:
df['unemp_rate'] = df['unemployed'] / df['labor_force']

df

                   state  unemployed  labor_force  id  unemp_rate
0                Alabama    120030.0    2345086.0  01    0.051184
1                 Alaska     23035.0     383078.0  02    0.060131
2                Arizona    186058.0    3490030.0  04    0.053311
3               Arkansas     71601.0    1397075.0  05    0.051251
4             California   1282055.0   20168662.0  06    0.063567
5               Colorado    143483.0    3205413.0  08    0.044763
6            Connecticut    115050.0    1955341.0  09    0.058839
7               Delaware     27315.0     505728.0  10    0.054011
8   District of Columbia     28264.0     400930.0  11    0.070496
9                Florida    531896.0   10629693.0  12    0.050039
10               Georgia    280651.0    5406476.0  13    0.051910
11                Hawaii     35913.0     760387.0  15    0.047230
12                 Idaho     34154.0     912877.0  16    0.037414
13              Illinois    397747.0    6697663.0  17    0.059386
14               Indiana    154602.0    3446205.0  18    0.044862
15                  Iowa     64695.0    1695226.0  19    0.038163
16                Kansas     60636.0    1533709.0  20    0.039536
17              Kentucky    108558.0    2147538.0  21    0.050550
18             Louisiana    142144.0    2180175.0  22    0.065198
19                 Maine     28762.0     714333.0  23    0.040264
20              Maryland    168965.0    3331958.0  24    0.050710
21         Massachusetts    206164.0    3882906.0  25    0.053095
22              Michigan    302167.0    5018590.0  26    0.060210
23             Minnesota    123497.0    3116753.0  27    0.039624
24           Mississippi     85519.0    1344337.0  28    0.063614
25              Missouri    132657.0    3107514.0  29    0.042689
26               Montana     21635.0     559429.0  30    0.038673
27              Nebraska     32157.0    1054285.0  31    0.030501
28                Nevada    109909.0    1578524.0  32    0.069628
29         New Hampshire     27426.0     770353.0  33    0.035602
30            New Jersey    307824.0    4939081.0  34    0.062324
31            New Mexico     59989.0     976697.0  35    0.061420
32              New York    638401.0   10279583.0  36    0.062104
33        North Carolina    263374.0    5290874.0  37    0.049779
34          North Dakota     12191.0     423612.0  38    0.028779
35                  Ohio    300192.0    5998649.0  39    0.050043
36              Oklahoma     92216.0    1915098.0  40    0.048152
37                Oregon    119746.0    2169277.0  41    0.055201
38          Pennsylvania    358729.0    6689654.0  42    0.053624
39          Rhode Island     34616.0     592606.0  44    0.058413
40        South Carolina    128211.0    2517626.0  45    0.050925
41          South Dakota     14552.0     471697.0  46    0.030850
42             Tennessee    172829.0    3450165.0  47    0.050093
43                 Texas    766007.0   14784312.0  48    0.051812
44                  Utah     56860.0    1702399.0  49    0.033400
45               Vermont     13466.0     351783.0  50    0.038279
46              Virginia    197001.0    4570843.0  51    0.043099
47            Washington    197009.0    4010799.0  53    0.049120
48         West Virginia     47503.0     786112.0  54    0.060428
49             Wisconsin    105086.0    3129606.0  55    0.033578
50               Wyoming     11456.0     302838.0  56    0.037829
51           Puerto Rico    165697.0    1250216.0  72    0.132535

In [17]:
# make object integer
df['id'] = df['id'].astype(int)

In [18]:
df.to_csv('data/us_unemployment_rate.csv', index=False)