In [1]:
# import necessary libraries
import census
import us
from typing import Dict, List
import pandas as pd
from requests.exceptions import ConnectionError, Timeout

/Users/gabrielmelmed/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [6]:
# user input for api key
api_key = input("Enter your API key: ")

# Define the API key
c = census.Census(api_key)

In [7]:
def get_census_data(c, series_code: str, dataset: str = 'acs1', geo_level: str = 'state') -> pd.DataFrame:
    """
    Gets census data for all available years between 2010-2024.
    
    Parameters:
    -----------
    c : Census client object
    series_code : str
        The census series code to fetch
    dataset : str
        Census dataset to query (e.g., 'acs1', 'acs5', 'sf1', etc.)
    geo_level : str
        Geographic level for data ('state' or 'county')
        
    Returns:
    --------
    pd.DataFrame with columns:
        - id: numeric state FIPS or combined state+county FIPS
        - value: the requested census value
        - year: year of observation
    """
    data_rows = []
    
    for year in range(2010, 2024):
        try:
            census_dataset = getattr(c, dataset)
            
            if geo_level == 'state':
                data = census_dataset.get(series_code, {'for': 'state:*'}, year=year)
                for row in data:
                    data_rows.append({
                        'id': int(row['state']),
                        'value': row[series_code],
                        'year': year
                    })
            else:  # county level
                data = census_dataset.get(
                    series_code,
                    {'for': 'county:*', 'in': 'state:*'},
                    year=year
                )
                for row in data:
                    # Create combined FIPS code: state (2 digits) + county (3 digits)
                    fips = int(str(row['state']).zfill(2) + str(row['county']).zfill(3))
                    data_rows.append({
                        'id': fips,
                        'value': row[series_code],
                        'year': year
                    })
                
        except Exception as e:
            print(f"Failed to fetch {year} data from {dataset}: {str(e)}")
            
    df = pd.DataFrame(data_rows)
    df['value'] = pd.to_numeric(df['value'])
    return df

In [8]:
population_state = get_census_data(c, 'B01001_001E', dataset='acs5', geo_level='state')
population_state

     id       value  year
0     1   4712651.0  2010
1     2    691189.0  2010
2     4   6246816.0  2010
3     5   2872684.0  2010
4     6  36637290.0  2010
..   ..         ...   ...
723  53   7740984.0  2023
724  54   1784462.0  2023
725  55   5892023.0  2023
726  56    579761.0  2023
727  72   3254885.0  2023

[728 rows x 3 columns]

In [13]:
unemployment_state = c.acs5.state(
    fields=(
        'NAME',
        'B23025_005E',
        'B23025_002E'
        ),
    state_fips='*',
    year=2022
)

# Create a DataFrame from the API response
df = pd.DataFrame(unemployment_state)
df.columns = ['state', 'unemployed', 'labor_force', 'id']
df

                   state  unemployed  labor_force  id
0                Alabama    120030.0    2345086.0  01
1                 Alaska     23035.0     383078.0  02
2                Arizona    186058.0    3490030.0  04
3               Arkansas     71601.0    1397075.0  05
4             California   1282055.0   20168662.0  06
5               Colorado    143483.0    3205413.0  08
6            Connecticut    115050.0    1955341.0  09
7               Delaware     27315.0     505728.0  10
8   District of Columbia     28264.0     400930.0  11
9                Florida    531896.0   10629693.0  12
10               Georgia    280651.0    5406476.0  13
11                Hawaii     35913.0     760387.0  15
12                 Idaho     34154.0     912877.0  16
13              Illinois    397747.0    6697663.0  17
14               Indiana    154602.0    3446205.0  18
15                  Iowa     64695.0    1695226.0  19
16                Kansas     60636.0    1533709.0  20
17              Kentucky    108558.0    2147538.0  21
18             Louisiana    142144.0    2180175.0  22
19                 Maine     28762.0     714333.0  23
20              Maryland    168965.0    3331958.0  24
21         Massachusetts    206164.0    3882906.0  25
22              Michigan    302167.0    5018590.0  26
23             Minnesota    123497.0    3116753.0  27
24           Mississippi     85519.0    1344337.0  28
25              Missouri    132657.0    3107514.0  29
26               Montana     21635.0     559429.0  30
27              Nebraska     32157.0    1054285.0  31
28                Nevada    109909.0    1578524.0  32
29         New Hampshire     27426.0     770353.0  33
30            New Jersey    307824.0    4939081.0  34
31            New Mexico     59989.0     976697.0  35
32              New York    638401.0   10279583.0  36
33        North Carolina    263374.0    5290874.0  37
34          North Dakota     12191.0     423612.0  38
35                  Ohio    300192.0    5998649.0  39
36              Oklahoma     92216.0    1915098.0  40
37                Oregon    119746.0    2169277.0  41
38          Pennsylvania    358729.0    6689654.0  42
39          Rhode Island     34616.0     592606.0  44
40        South Carolina    128211.0    2517626.0  45
41          South Dakota     14552.0     471697.0  46
42             Tennessee    172829.0    3450165.0  47
43                 Texas    766007.0   14784312.0  48
44                  Utah     56860.0    1702399.0  49
45               Vermont     13466.0     351783.0  50
46              Virginia    197001.0    4570843.0  51
47            Washington    197009.0    4010799.0  53
48         West Virginia     47503.0     786112.0  54
49             Wisconsin    105086.0    3129606.0  55
50               Wyoming     11456.0     302838.0  56
51           Puerto Rico    165697.0    1250216.0  72

In [14]:
df['unemp_rate'] = df['unemployed'] / df['labor_force']

df

                   state  unemployed  labor_force  id  unemp_rate
0                Alabama    120030.0    2345086.0  01    0.051184
1                 Alaska     23035.0     383078.0  02    0.060131
2                Arizona    186058.0    3490030.0  04    0.053311
3               Arkansas     71601.0    1397075.0  05    0.051251
4             California   1282055.0   20168662.0  06    0.063567
5               Colorado    143483.0    3205413.0  08    0.044763
6            Connecticut    115050.0    1955341.0  09    0.058839
7               Delaware     27315.0     505728.0  10    0.054011
8   District of Columbia     28264.0     400930.0  11    0.070496
9                Florida    531896.0   10629693.0  12    0.050039
10               Georgia    280651.0    5406476.0  13    0.051910
11                Hawaii     35913.0     760387.0  15    0.047230
12                 Idaho     34154.0     912877.0  16    0.037414
13              Illinois    397747.0    6697663.0  17    0.059386
14               Indiana    154602.0    3446205.0  18    0.044862
15                  Iowa     64695.0    1695226.0  19    0.038163
16                Kansas     60636.0    1533709.0  20    0.039536
17              Kentucky    108558.0    2147538.0  21    0.050550
18             Louisiana    142144.0    2180175.0  22    0.065198
19                 Maine     28762.0     714333.0  23    0.040264
20              Maryland    168965.0    3331958.0  24    0.050710
21         Massachusetts    206164.0    3882906.0  25    0.053095
22              Michigan    302167.0    5018590.0  26    0.060210
23             Minnesota    123497.0    3116753.0  27    0.039624
24           Mississippi     85519.0    1344337.0  28    0.063614
25              Missouri    132657.0    3107514.0  29    0.042689
26               Montana     21635.0     559429.0  30    0.038673
27              Nebraska     32157.0    1054285.0  31    0.030501
28                Nevada    109909.0    1578524.0  32    0.069628
29         New Hampshire     27426.0     770353.0  33    0.035602
30            New Jersey    307824.0    4939081.0  34    0.062324
31            New Mexico     59989.0     976697.0  35    0.061420
32              New York    638401.0   10279583.0  36    0.062104
33        North Carolina    263374.0    5290874.0  37    0.049779
34          North Dakota     12191.0     423612.0  38    0.028779
35                  Ohio    300192.0    5998649.0  39    0.050043
36              Oklahoma     92216.0    1915098.0  40    0.048152
37                Oregon    119746.0    2169277.0  41    0.055201
38          Pennsylvania    358729.0    6689654.0  42    0.053624
39          Rhode Island     34616.0     592606.0  44    0.058413
40        South Carolina    128211.0    2517626.0  45    0.050925
41          South Dakota     14552.0     471697.0  46    0.030850
42             Tennessee    172829.0    3450165.0  47    0.050093
43                 Texas    766007.0   14784312.0  48    0.051812
44                  Utah     56860.0    1702399.0  49    0.033400
45               Vermont     13466.0     351783.0  50    0.038279
46              Virginia    197001.0    4570843.0  51    0.043099
47            Washington    197009.0    4010799.0  53    0.049120
48         West Virginia     47503.0     786112.0  54    0.060428
49             Wisconsin    105086.0    3129606.0  55    0.033578
50               Wyoming     11456.0     302838.0  56    0.037829
51           Puerto Rico    165697.0    1250216.0  72    0.132535

In [17]:
# make object integer
df['id'] = df['id'].astype(int)

In [18]:
df.to_csv('data/us_unemployment_rate.csv', index=False)

## NYC Languages

In [2]:
import requests

# Define the API endpoint
url = "https://data.cityofnewyork.us/resource/ajin-gkbp.json"

# Fetch the data
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    # Convert the data to a DataFrame
    nyc_languages_df = pd.DataFrame(data)
    print(nyc_languages_df.head())
else:
    print(f"Failed to fetch data: {response.status_code}")

  acs_5_year_data_time_period    borough borough_cd_code  \
0                   2015-2019  Manhattan             101
1                   2015-2019  Manhattan             101
2                   2015-2019  Manhattan             101
3                   2015-2019  Manhattan             101
4                   2015-2019  Manhattan             101

      community_district_name          language lep_population_estimate  \
0  Battery Park City, Tribeca         Afrikaans                       0
1  Battery Park City, Tribeca  Akan (incl. Twi)                       0
2  Battery Park City, Tribeca          Albanian                       7
3  Battery Park City, Tribeca   Aleut languages                       0
4  Battery Park City, Tribeca           Amharic                       0

  of_lep_population cvalep_population_estimate of_cvalep_population
0                 0                          0                    0
1                 0                          0                    0
2               0.2                          0                    0
3                 0                          0                    0
4                 0                          0                    0

In [4]:
# turn response into a dataframe
nyc_languages_df = pd.DataFrame(data)

nyc_languages_df

,acs_5_year_data_time_period,borough,borough_cd_code,community_district_name,language,lep_population_estimate,of_lep_population,cvalep_population_estimate,of_cvalep_population
0,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Afrikaans,0,0,0,0
1,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Akan (incl. Twi),0,0,0,0
2,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Albanian,7,0.2,0,0
3,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Aleut languages,0,0,0,0
4,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Amharic,0,0,0,0
...,...,...,...,...,...,...,...,...,...
995,2015-2019,Manhattan,108,Upper East Side,Hebrew,156,1.7,57,1.4
996,2015-2019,Manhattan,108,Upper East Side,Hindi,34,0.4,0,0
997,2015-2019,Manhattan,108,Upper East Side,Hmong,0,0,0,0
998,2015-2019,Manhattan,108,Upper East Side,Hungarian,17,0.2,17,0.4
999,2015-2019,Manhattan,108,Upper East Side,Igbo,0,0,0,0

In [9]:
nyc_languages_df = pd.read_csv('data/nyc_languages.csv')

nyc_languages_df

,American Community Survey (ACS) Data Time Period,Borough,Borough Community District Code,Community District Name,Language,LEP Population (Estimate),% of LEP Population,CVALEP Population (Estimate),% of CVALEP Population
0,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Afrikaans,0,0.0,0,0.0
1,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Akan (incl. Twi),0,0.0,0,0.0
2,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Albanian,7,0.2,0,0.0
3,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Aleut languages,0,0.0,0,0.0
4,2015-2019,Manhattan,101,"Battery Park City, Tribeca",Amharic,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...
8019,2015-2019,Staten Island,503,"Tottenville, Woodrow, Great Kills",Vietnamese,0,0.0,0,0.0
8020,2015-2019,Staten Island,503,"Tottenville, Woodrow, Great Kills",Wolof,0,0.0,0,0.0
8021,2015-2019,Staten Island,503,"Tottenville, Woodrow, Great Kills",Yiddish,0,0.0,0,0.0
8022,2015-2019,Staten Island,503,"Tottenville, Woodrow, Great Kills",Yoruba,0,0.0,0,0.0
8023,2015-2019,Staten Island,503,"Tottenville, Woodrow, Great Kills",Zuni (2016 or earlier),0,0.0,0,0.0

In [10]:
nyc_languages_df.columns

Index(['American Community Survey (ACS) Data Time Period', 'Borough',
       'Borough Community District Code', 'Community District Name',
       'Language', 'LEP Population (Estimate)', '% of LEP Population',
       'CVALEP Population (Estimate)', '% of CVALEP Population'],
      dtype='object')

In [11]:
nyc_languages_df = nyc_languages_df[['Borough', 'Borough Community District Code', 'Community District Name', 'Language', '% of LEP Population']]

nyc_languages_df.columns = ['borough', 'id', 'name', 'language', 'pct']

nyc_languages_df

,borough,id,name,language,pct
0,Manhattan,101,"Battery Park City, Tribeca",Afrikaans,0.0
1,Manhattan,101,"Battery Park City, Tribeca",Akan (incl. Twi),0.0
2,Manhattan,101,"Battery Park City, Tribeca",Albanian,0.2
3,Manhattan,101,"Battery Park City, Tribeca",Aleut languages,0.0
4,Manhattan,101,"Battery Park City, Tribeca",Amharic,0.0
...,...,...,...,...,...
8019,Staten Island,503,"Tottenville, Woodrow, Great Kills",Vietnamese,0.0
8020,Staten Island,503,"Tottenville, Woodrow, Great Kills",Wolof,0.0
8021,Staten Island,503,"Tottenville, Woodrow, Great Kills",Yiddish,0.0
8022,Staten Island,503,"Tottenville, Woodrow, Great Kills",Yoruba,0.0
8023,Staten Island,503,"Tottenville, Woodrow, Great Kills",Zuni (2016 or earlier),0.0

In [15]:
# divide the percentage by 100
nyc_languages_df['pct'] = nyc_languages_df['pct'] / 100

nyc_languages_df

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_18908/1209379873.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nyc_languages_df['pct'] = nyc_languages_df['pct'] / 100

,borough,id,name,language,pct
0,Manhattan,101,"Battery Park City, Tribeca",Afrikaans,0.000
1,Manhattan,101,"Battery Park City, Tribeca",Akan (incl. Twi),0.000
2,Manhattan,101,"Battery Park City, Tribeca",Albanian,0.002
3,Manhattan,101,"Battery Park City, Tribeca",Aleut languages,0.000
4,Manhattan,101,"Battery Park City, Tribeca",Amharic,0.000
...,...,...,...,...,...
8019,Staten Island,503,"Tottenville, Woodrow, Great Kills",Vietnamese,0.000
8020,Staten Island,503,"Tottenville, Woodrow, Great Kills",Wolof,0.000
8021,Staten Island,503,"Tottenville, Woodrow, Great Kills",Yiddish,0.000
8022,Staten Island,503,"Tottenville, Woodrow, Great Kills",Yoruba,0.000
8023,Staten Island,503,"Tottenville, Woodrow, Great Kills",Zuni (2016 or earlier),0.000

In [20]:
# Group by 'id' and find the third highest 'pct' value for each group
third_highest_pct = nyc_languages_df.groupby('id')['pct'].nlargest(3).groupby(level=0).nth(2).reset_index()

# add the 'borough', 'name', and 'language' columns
third_highest_pct = third_highest_pct.merge(nyc_languages_df, on=['id', 'pct'], how='inner')

# drop duplicates to ensure only one language is included in case of a tie
third_highest_pct = third_highest_pct.drop_duplicates(subset=['id'])

third_highest_pct

,id,pct,borough,name,language
0,101,0.049,Manhattan,"Battery Park City, Tribeca",Russian
1,102,0.049,Manhattan,"Greenwich Village, Soho",Russian
2,103,0.009,Manhattan,"Lower East Side, Chinatown",Korean
4,104,0.080,Manhattan,"Chelsea, Clinton",Japanese
5,105,0.080,Manhattan,Midtown Business District,Japanese
6,106,0.156,Manhattan,"Stuyvesant Town, Turtle Bay",Korean
7,107,0.044,Manhattan,"West Side, Upper West Side",Russian
8,108,0.103,Manhattan,Upper East Side,Japanese
9,109,0.014,Manhattan,"Manhattanville, Hamilton Heights",French
10,110,0.078,Manhattan,Central Harlem,"Chinese (incl. Mandarin, Cantonese)"
11,111,0.020,Manhattan,East Harlem,French
12,112,0.007,Manhattan,"Washington Heights, Inwood","Chinese (incl. Mandarin, Cantonese)"
13,201,0.020,Bronx,"Melrose, Mott Haven, Port Morris",Arabic
14,202,0.020,Bronx,"Hunts Point, Longwood",Arabic
15,203,0.015,Bronx,"Morrisania, Crotona Park East",Akan (incl. Twi)
16,204,0.017,Bronx,"Highbridge, Concourse Village",Akan (incl. Twi)
17,205,0.014,Bronx,"University Hts., Fordham, Mt. Hope",French
18,206,0.015,Bronx,"East Tremont, Belmont",Akan (incl. Twi)
19,207,0.019,Bronx,"Bedford Park, Norwood, Fordham",Albanian
20,208,0.019,Bronx,"Riverdale, Kingsbridge, Marble Hill","Chinese (incl. Mandarin, Cantonese)"
21,209,0.017,Bronx,"Soundview, Parkchester",Arabic
23,210,0.032,Bronx,"Throgs Nk., Co-op City, Pelham Bay","Chinese (incl. Mandarin, Cantonese)"
24,211,0.048,Bronx,"Pelham Pkwy, Morris Park, Laconia",Arabic
25,212,0.033,Bronx,"Wakefield, Williamsbridge",French
26,301,0.111,Brooklyn,"Williamsburg, Greenpoint",Polish
27,302,0.114,Brooklyn,"Brooklyn Heights, Fort Greene",Yiddish
28,303,0.054,Brooklyn,Bedford Stuyvesant,"Chinese (incl. Mandarin, Cantonese)"
29,304,0.011,Brooklyn,Bushwick,Haitian
30,305,0.069,Brooklyn,"East New York, Starrett City",Bengali
31,306,0.036,Brooklyn,"Park Slope, Carroll Gardens",Japanese
32,307,0.014,Brooklyn,"Sunset Park, Windsor Terrace",Russian
33,308,0.061,Brooklyn,Crown Heights North,French
34,309,0.059,Brooklyn,"Crown Heights South, Wingate",Hebrew
35,310,0.098,Brooklyn,"Bay Ridge, Dyker Heights",Arabic
36,311,0.153,Brooklyn,"Bensonhurst, Bath Beach",Russian
37,312,0.158,Brooklyn,"Borough Park, Ocean Parkway",Spanish
38,313,0.114,Brooklyn,"Coney Island, Brighton Beach","Chinese (incl. Mandarin, Cantonese)"
39,314,0.143,Brooklyn,"Flatbush, Midwood",Haitian
40,315,0.104,Brooklyn,"Sheepshead Bay, Gerritsen Beach",Spanish
41,316,0.035,Brooklyn,"Brownsville, Ocean Hill","Chinese (incl. Mandarin, Cantonese)"
42,317,0.071,Brooklyn,"East Flatbush, Rugby, Farragut",French
43,318,0.103,Brooklyn,"Canarsie, Flatlands","Chinese (incl. Mandarin, Cantonese)"
44,401,0.078,Queens,"Astoria, Long Island City",Bengali
45,402,0.098,Queens,"Sunnyside, Woodside",Bengali
46,403,0.054,Queens,"Jackson Heights, North Corona",Bengali
47,404,0.050,Queens,"Elmhurst, South Corona",Bengali
48,405,0.118,Queens,"Ridgewood, Glendale, Maspeth","Chinese (incl. Mandarin, Cantonese)"
49,406,0.140,Queens,"Forest Hills, Rego Park",Spanish
50,407,0.129,Queens,"Flushing, Bay Terrace",Korean
51,408,0.128,Queens,"Fresh Meadows, Briarwood",Bengali
52,409,0.086,Queens,"Woodhaven, Richmond Hill",Bengali
53,410,0.105,Queens,"Ozone Park, Howard Beach",Bengali
54,411,0.093,Queens,"Bayside, Douglaston, Little Neck",Spanish
55,412,0.100,Queens,"Jamaica, St. Albans, Hollis",Haitian
56,413,0.083,Queens,"Queens Village, Rosedale",Punjabi
57,414,0.062,Queens,"The Rockaways, Broad Channel",Polish
58,501,0.050,Staten Island,"Stapleton, Port Richmond",Russian
59,502,0.111,Staten Island,"New Springville, South Beach",Spanish
60,503,0.157,Staten Island,"Tottenville, Woodrow, Great Kills",Italian

In [19]:
third_highest_pct['language'].value_counts()

Chinese (incl. Mandarin, Cantonese)    10
Bengali                                 8
Russian                                 6
French                                  6
Arabic                                  5
Spanish                                 5
Japanese                                4
Akan (incl. Twi)                        3
Korean                                  3
Haitian                                 3
Polish                                  2
Hebrew                                  1
Punjabi                                 1
Albanian                                1
Yiddish                                 1
Min Nan Chinese                         1
Italian                                 1
Name: language, dtype: int64

In [29]:
third_highest_pct.id.nunique()

59

In [27]:
third_highest_pct['language'] = third_highest_pct['language'].str.split('(').str[0].str.strip()

third_highest_pct

     id    pct        borough                                 name  language
0   101  0.049      Manhattan           Battery Park City, Tribeca   Russian
1   102  0.049      Manhattan              Greenwich Village, Soho   Russian
2   103  0.009      Manhattan           Lower East Side, Chinatown    Korean
4   104  0.080      Manhattan                     Chelsea, Clinton  Japanese
5   105  0.080      Manhattan            Midtown Business District  Japanese
6   106  0.156      Manhattan          Stuyvesant Town, Turtle Bay    Korean
7   107  0.044      Manhattan           West Side, Upper West Side   Russian
8   108  0.103      Manhattan                      Upper East Side  Japanese
9   109  0.014      Manhattan     Manhattanville, Hamilton Heights    French
10  110  0.078      Manhattan                       Central Harlem   Chinese
11  111  0.020      Manhattan                          East Harlem    French
12  112  0.007      Manhattan           Washington Heights, Inwood   Chinese
13  201  0.020          Bronx     Melrose, Mott Haven, Port Morris    Arabic
14  202  0.020          Bronx                Hunts Point, Longwood    Arabic
15  203  0.015          Bronx        Morrisania, Crotona Park East      Akan
16  204  0.017          Bronx        Highbridge, Concourse Village      Akan
17  205  0.014          Bronx   University Hts., Fordham, Mt. Hope    French
18  206  0.015          Bronx                East Tremont, Belmont      Akan
19  207  0.019          Bronx       Bedford Park, Norwood, Fordham  Albanian
20  208  0.019          Bronx  Riverdale, Kingsbridge, Marble Hill   Chinese
21  209  0.017          Bronx               Soundview, Parkchester    Arabic
23  210  0.032          Bronx   Throgs Nk., Co-op City, Pelham Bay   Chinese
24  211  0.048          Bronx    Pelham Pkwy, Morris Park, Laconia    Arabic
25  212  0.033          Bronx            Wakefield, Williamsbridge    French
26  301  0.111       Brooklyn             Williamsburg, Greenpoint    Polish
27  302  0.114       Brooklyn        Brooklyn Heights, Fort Greene   Yiddish
28  303  0.054       Brooklyn                   Bedford Stuyvesant   Chinese
29  304  0.011       Brooklyn                             Bushwick   Haitian
30  305  0.069       Brooklyn         East New York, Starrett City   Bengali
31  306  0.036       Brooklyn          Park Slope, Carroll Gardens  Japanese
32  307  0.014       Brooklyn         Sunset Park, Windsor Terrace   Russian
33  308  0.061       Brooklyn                  Crown Heights North    French
34  309  0.059       Brooklyn         Crown Heights South, Wingate    Hebrew
35  310  0.098       Brooklyn             Bay Ridge, Dyker Heights    Arabic
36  311  0.153       Brooklyn              Bensonhurst, Bath Beach   Russian
37  312  0.158       Brooklyn          Borough Park, Ocean Parkway   Spanish
38  313  0.114       Brooklyn         Coney Island, Brighton Beach   Chinese
39  314  0.143       Brooklyn                    Flatbush, Midwood   Haitian
40  315  0.104       Brooklyn      Sheepshead Bay, Gerritsen Beach   Spanish
41  316  0.035       Brooklyn              Brownsville, Ocean Hill   Chinese
42  317  0.071       Brooklyn       East Flatbush, Rugby, Farragut    French
43  318  0.103       Brooklyn                  Canarsie, Flatlands   Chinese
44  401  0.078         Queens            Astoria, Long Island City   Bengali
45  402  0.098         Queens                  Sunnyside, Woodside   Bengali
46  403  0.054         Queens        Jackson Heights, North Corona   Bengali
47  404  0.050         Queens               Elmhurst, South Corona   Bengali
48  405  0.118         Queens         Ridgewood, Glendale, Maspeth   Chinese
49  406  0.140         Queens              Forest Hills, Rego Park   Spanish
50  407  0.129         Queens                Flushing, Bay Terrace    Korean
51  408  0.128         Queens             Fresh Meadows, Briarwood   Bengali
52  409  0.086         Queens             Woodhaven, Richmond Hill   Bengali
53  410  0.105         Queens             Ozone Park, Howard Beach   Bengali
54  411  0.093         Queens     Bayside, Douglaston, Little Neck   Spanish
55  412  0.100         Queens          Jamaica, St. Albans, Hollis   Haitian
56  413  0.083         Queens             Queens Village, Rosedale   Punjabi
57  414  0.062         Queens         The Rockaways, Broad Channel    Polish
58  501  0.050  Staten Island             Stapleton, Port Richmond   Russian
59  502  0.111  Staten Island         New Springville, South Beach   Spanish
60  503  0.157  Staten Island    Tottenville, Woodrow, Great Kills   Italian

In [22]:
third_highest_pct.dtypes

id            int64
pct         float64
borough      object
name         object
language     object
dtype: object

In [28]:
# save to csv
third_highest_pct.to_csv('data/nyc_languages.csv', index=False)