In [1]:
import pandas as pd

In [2]:
cherry_blossoms = pd.read_csv('https://raw.githubusercontent.com/jhellingsdata/RADataHub/refs/heads/main/Chart%20Packs/cherry_blossoms/cherry_blossoms.csv')
cherry_blossoms

     Year  20_year_avg  peak_blossom
0     853   101.000000           104
1     864   100.833336           100
2     866   101.571430           106
3     869   100.750000            95
4     889   101.111115           104
..    ...          ...           ...
830  2023    94.050000            84
831   812          NaN            92
832   815          NaN           105
833   831          NaN            96
834   851          NaN           108

[835 rows x 3 columns]

In [3]:
# save to csv in the data folder
# make sure null values read NaN
cherry_blossoms.to_csv('data/cherry_blossoms.csv', index=False, na_rep='NaN')

In [4]:
# count nans in each column
cherry_blossoms.isnull().sum()

Year            0
20_year_avg     4
peak_blossom    0
dtype: int64