In [9]:
import pandas as pd
import numpy as np

In [10]:
# read in the consumer trends data
# the sheet called 02CN
# lines 8-35

ct = pd.read_excel('consumertrends.xlsx', sheet_name='02CN', skiprows=7, nrows=27)
ct

    CDID identifier code   ADFL   ADFM  UUHX   UTHT  UUMI   ADFN  MNC2
0                   1997  30546   9715  2751   3986  2978  12471  8360
1                   1998  31299  10211  2741   4207  3263  13261  7827
2                   1999  32188  10555  2911   4541  3103  14078  7555
3                   2000  32641  10924  2925   4832  3167  14139  7578
4                   2001  32726  11111  2925   5037  3149  14201  7414
5                   2002  32534  11552  2922   5366  3264  14215  6767
6                   2003  33437  12509  3157   5684  3668  15342  5586
7                   2004  32670  12408  3079   5877  3452  15458  4804
8                   2005  33592  12553  3230   6013  3310  15652  5387
9                   2006  35103  12713  3169   5947  3597  15509  6881
10                  2007  33917  13298  3346   6416  3536  15448  5171
11                  2008  35307  13547  3505   6541  3501  16332  5428
12                  2009  37995  14307  3526   6720  4061  16905  6783
13                  2010  37317  14519  3739   7047  3733  17633  5165
14                  2011  41683  15867  4405   7441  4021  18599  7217
15                  2012  41417  16686  4728   7865  4093  18967  5764
16                  2013  42660  18537  5246   8573  4718  18902  5221
17                  2014  41351  17844  5015   8231  4598  19054  4453
18                  2015  39738  18232  5237   8380  4615  18151  3355
19                  2016  39322  18269  5263   8442  4564  18015  3038
20                  2017  42314  19916  5694   9069  5153  18091  4307
21                  2018  44009  21386  6225   9422  5739  18546  4077
22                  2019  43120  21383  6230   9445  5708  18106  3631
23                  2020  49311  26797  7683  11721  7393  19683  2831
24                  2021  49654  26705  7646  11593  7466  20173  2776
25                  2022  47435  24380  7070  11129  6181  20207  2848
26                  2023  48893  25149  7003  11808  6338  21044  2700

In [11]:
# rename cols
ct.columns

Index(['CDID identifier code', 'ADFL', 'ADFM', 'UUHX', 'UTHT', 'UUMI', 'ADFN',
       'MNC2'],
      dtype='object')

In [12]:
ct.columns = [
    'id',
    'Alcohol & Tobacco',
    'Alcoholic Beverages',
    'Spirits',
    'Wines, cider and perry',
    'Beer',
    'Tobacco',
    'Narcotics']

In [13]:
# melt
ct = ct.melt(id_vars=['id'], var_name='category', value_name='value')
ct

       id           category  value
0    1997  Alcohol & Tobacco  30546
1    1998  Alcohol & Tobacco  31299
2    1999  Alcohol & Tobacco  32188
3    2000  Alcohol & Tobacco  32641
4    2001  Alcohol & Tobacco  32726
..    ...                ...    ...
184  2019          Narcotics   3631
185  2020          Narcotics   2831
186  2021          Narcotics   2776
187  2022          Narcotics   2848
188  2023          Narcotics   2700

[189 rows x 3 columns]

In [14]:
ct.rename(columns={'id': 'year'}, inplace=True)

In [15]:
ct.to_csv('consumertrends.csv', index=False)