In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in the consumer trends data
# the sheet called 02CN
# lines 8-35

ct = pd.read_excel('consumertrends.xlsx', sheet_name='02CN', skiprows=7, nrows=27)
ct

    CDID identifier code   ADFL   ADFM  UUHX   UTHT  UUMI   ADFN  MNC2
0                   1997  30546   9715  2751   3986  2978  12471  8360
1                   1998  31299  10211  2741   4207  3263  13261  7827
2                   1999  32188  10555  2911   4541  3103  14078  7555
3                   2000  32641  10924  2925   4832  3167  14139  7578
4                   2001  32726  11111  2925   5037  3149  14201  7414
5                   2002  32534  11552  2922   5366  3264  14215  6767
6                   2003  33437  12509  3157   5684  3668  15342  5586
7                   2004  32670  12408  3079   5877  3452  15458  4804
8                   2005  33592  12553  3230   6013  3310  15652  5387
9                   2006  35103  12713  3169   5947  3597  15509  6881
10                  2007  33917  13298  3346   6416  3536  15448  5171
11                  2008  35307  13547  3505   6541  3501  16332  5428
12                  2009  37995  14307  3526   6720  4061  16905  6783
13                  2010  37317  14519  3739   7047  3733  17633  5165
14                  2011  41683  15867  4405   7441  4021  18599  7217
15                  2012  41417  16686  4728   7865  4093  18967  5764
16                  2013  42660  18537  5246   8573  4718  18902  5221
17                  2014  41351  17844  5015   8231  4598  19054  4453
18                  2015  39738  18232  5237   8380  4615  18151  3355
19                  2016  39322  18269  5263   8442  4564  18015  3038
20                  2017  42314  19916  5694   9069  5153  18091  4307
21                  2018  44009  21386  6225   9422  5739  18546  4077
22                  2019  43120  21383  6230   9445  5708  18106  3631
23                  2020  49311  26797  7683  11721  7393  19683  2831
24                  2021  49654  26705  7646  11593  7466  20173  2776
25                  2022  47435  24380  7070  11129  6181  20207  2848
26                  2023  48893  25149  7003  11808  6338  21044  2700

In [3]:
# rename cols
ct.columns

Index(['CDID identifier code', 'ADFL', 'ADFM', 'UUHX', 'UTHT', 'UUMI', 'ADFN',
       'MNC2'],
      dtype='object')

In [4]:
ct.rename(columns={
    "CDID identifier code": "id",
    "UUHX": "spirits",
    "ADFN": "tobacco"
}, inplace=True)

In [5]:
ct = ct[['id', 'spirits', 'tobacco']]
ct

      id  spirits  tobacco
0   1997     2751    12471
1   1998     2741    13261
2   1999     2911    14078
3   2000     2925    14139
4   2001     2925    14201
5   2002     2922    14215
6   2003     3157    15342
7   2004     3079    15458
8   2005     3230    15652
9   2006     3169    15509
10  2007     3346    15448
11  2008     3505    16332
12  2009     3526    16905
13  2010     3739    17633
14  2011     4405    18599
15  2012     4728    18967
16  2013     5246    18902
17  2014     5015    19054
18  2015     5237    18151
19  2016     5263    18015
20  2017     5694    18091
21  2018     6225    18546
22  2019     6230    18106
23  2020     7683    19683
24  2021     7646    20173
25  2022     7070    20207
26  2023     7003    21044

In [6]:
# melt
ct = ct.melt(id_vars=['id'], var_name='category', value_name='value')
ct

      id category  value
0   1997  spirits   2751
1   1998  spirits   2741
2   1999  spirits   2911
3   2000  spirits   2925
4   2001  spirits   2925
5   2002  spirits   2922
6   2003  spirits   3157
7   2004  spirits   3079
8   2005  spirits   3230
9   2006  spirits   3169
10  2007  spirits   3346
11  2008  spirits   3505
12  2009  spirits   3526
13  2010  spirits   3739
14  2011  spirits   4405
15  2012  spirits   4728
16  2013  spirits   5246
17  2014  spirits   5015
18  2015  spirits   5237
19  2016  spirits   5263
20  2017  spirits   5694
21  2018  spirits   6225
22  2019  spirits   6230
23  2020  spirits   7683
24  2021  spirits   7646
25  2022  spirits   7070
26  2023  spirits   7003
27  1997  tobacco  12471
28  1998  tobacco  13261
29  1999  tobacco  14078
30  2000  tobacco  14139
31  2001  tobacco  14201
32  2002  tobacco  14215
33  2003  tobacco  15342
34  2004  tobacco  15458
35  2005  tobacco  15652
36  2006  tobacco  15509
37  2007  tobacco  15448
38  2008  tobacco  16332
39  2009  tobacco  16905
40  2010  tobacco  17633
41  2011  tobacco  18599
42  2012  tobacco  18967
43  2013  tobacco  18902
44  2014  tobacco  19054
45  2015  tobacco  18151
46  2016  tobacco  18015
47  2017  tobacco  18091
48  2018  tobacco  18546
49  2019  tobacco  18106
50  2020  tobacco  19683
51  2021  tobacco  20173
52  2022  tobacco  20207
53  2023  tobacco  21044

In [7]:
ct.columns = ['year', 'category', 'value']

In [8]:
ct.to_csv('consumertrends.csv', index=False)