In [11]:
import pandas as pd

# import the us census package
from census import Census
import us

In [12]:
# set the api key
c = Census("9330018ae4a2bd20da22ced1281145d9405dc349")

In [ ]:
# get the table B25140 from the 2023 ACS 1 year estimates for all counties in the US
data = c.acs1.get(('NAME', 'B25140_010E'), {'for': 'county:*'})

data_df = pd.DataFrame(data)

# get 5 sample rows
data_df[data_df['state'] == '09'].sample(5)

                              NAME  B25140_010E state county
665    York County, South Carolina      30057.0    45    091
474        Orange County, New York      45720.0    36    071
615  Crawford County, Pennsylvania       9417.0    42    039
348    Livingston County, Michigan       9039.0    26    093
621  Franklin County, Pennsylvania      16984.0    42    055

In [ ]:
data_df

In [8]:
# get population data for all counties in the US from 2023
population_data = c.acs1.get(('NAME', 'B01003_001E'), {'for': 'county:*'})

population_df = pd.DataFrame(population_data)

# get 5 sample rows
population_df[population_df['state'] == '09'].sample(5)

,NAME,B01003_001E,state,county
103,"Northwest Hills Planning Region, Connecticut",113234.0,09,160
100,Lower Connecticut River Valley Planning Region...,176622.0,09,130
106,"Western Connecticut Planning Region, Connecticut",623690.0,09,190
105,"Southeastern Connecticut Planning Region, Conn...",280403.0,09,180
99,"Greater Bridgeport Planning Region, Connecticut",327286.0,09,120