In [49]:
import pandas as pd
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
from typing import List
import re

In [50]:
def generate_year_month_range(end_date: date = None, years_back: int = 6) -> List[str]:
    """
    Generate a list of year-month combinations in 'yyyymm' format,
    starting from the specified end date and going back a specified number of years.

    Args:
        end_date (date, optional): The end date to start from. Defaults to today's date.
        years_back (int, optional): Number of years to go back. Defaults to 6.

    Returns:
        List[str]: List of year-month combinations in 'yyyymm' format, sorted in descending order.

    Example:
        >>> generate_year_month_range()  # If today is 2024-11-14
        ['202411', '202410', '202409', ..., '201812']
    """
    # If no end date is provided, use today's date
    if end_date is None:
        end_date = date.today()

    # Calculate start date
    start_date = end_date - relativedelta(years=years_back)

    # Initialize result list
    date_list = []

    # Current date for iteration
    current_date = end_date

    # Generate dates until we reach start date
    while current_date >= start_date:
        # Format date as 'yyyymm'
        date_str = current_date.strftime('%Y%m')
        date_list.append(date_str)
        # Move to previous month
        current_date -= relativedelta(months=1)

    return date_list

# Example usage
if __name__ == "__main__":
    date_list = generate_year_month_range()
    print(f"Generated {len(date_list)} year-month combinations:")
    print(date_list[:12])  # Print first year as example

Generated 73 year-month combinations:
['202502', '202501', '202412', '202411', '202410', '202409', '202408', '202407', '202406', '202405', '202404', '202403']

In [51]:
import requests

In [52]:
# read in the metro_areas.json file as a list
import json
with open('data/metro_areas.json') as f:
    metro_areas = json.load(f)

metro_areas

['Abilene, TX',
 'Akron, OH',
 'Albany, OR',
 'Albany-Schenectady-Troy, NY',
 'Albuquerque, NM',
 'Allentown-Bethlehem-Easton, PA-NJ',
 'Altoona, PA',
 'Amarillo, TX',
 'Ames, IA',
 'Amherst Town-Northampton, MA',
 'Ann Arbor, MI',
 'Appleton, WI',
 'Asheville, NC',
 'Athens-Clarke County, GA',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Atlantic City-Hammonton, NJ',
 'Auburn-Opelika, AL',
 'Baltimore-Columbia-Towson, MD',
 'Barnstable Town, MA',
 'Baton Rouge, LA',
 'Battle Creek, MI',
 'Bay City, MI',
 'Birmingham, AL',
 'Bloomington, IL',
 'Bloomington, IN',
 'Boise City, ID',
 'Boston-Cambridge-Newton, MA-NH',
 'Boulder, CO',
 'Bowling Green, KY',
 'Bremerton-Silverdale-Port Orchard, WA',
 'Bridgeport-Stamford-Danbury, CT',
 'Brownsville-Harlingen, TX',
 'Buffalo-Cheektowaga, NY',
 'Burlington, NC',
 'Burlington-South Burlington, VT',
 'Canton-Massillon, OH',
 'Cape Coral-Fort Myers, FL',
 'Cape Girardeau, MO-IL',
 'Carson City, NV',
 'Cedar Rapids, IA',
 'Chambersburg, PA',
 'Champaign-Urbana, IL',
 'Charleston, WV',
 'Charlotte-Concord-Gastonia, NC-SC',
 'Chattanooga, TN-GA',
 'Chicago-Naperville-Elgin, IL-IN',
 'Cincinnati, OH-KY-IN',
 'Cleveland, OH',
 'Cleveland, TN',
 'Coeur dAlene, ID',
 'Columbia, MO',
 'Columbia, SC',
 'Columbus, GA-AL',
 'Columbus, IN',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Corvallis, OR',
 'Dallas-Fort Worth-Arlington, TX',
 'Dalton, GA',
 'Daphne-Fairhope-Foley, AL',
 'Davenport-Moline-Rock Island, IA-IL',
 'Dayton-Kettering-Beavercreek, OH',
 'Decatur, AL',
 'Deltona-Daytona Beach-Ormond Beach, FL',
 'Denver-Aurora-Centennial, CO',
 'Des Moines-West Des Moines, IA',
 'Detroit-Warren-Dearborn, MI',
 'Dothan, AL',
 'Dover, DE',
 'Duluth, MN-WI',
 'Durham-Chapel Hill, NC',
 'Eau Claire, WI',
 'El Paso, TX',
 'Elizabethtown, KY',
 'Elkhart-Goshen, IN',
 'Elmira, NY',
 'Erie, PA',
 'Evansville, IN',
 'Fargo, ND-MN',
 'Fayetteville, NC',
 'Flint, MI',
 'Florence-Muscle Shoals, AL',
 'Fort Wayne, IN',
 'Fresno, CA',
 'Gainesville, FL',
 'Gainesville, GA',
 'Gettysburg, PA',
 'Glens Falls, NY',
 'Grand Rapids-Wyoming-Kentwood, MI',
 'Grants Pass, OR',
 'Greeley, CO',
 'Green Bay, WI',
 'Greensboro-High Point, NC',
 'Greenville, NC',
 'Greenville-Anderson-Greer, SC',
 'Hagerstown-Martinsburg, MD-WV',
 'Hammond, LA',
 'Hanford-Corcoran, CA',
 'Harrisburg-Carlisle, PA',
 'Harrisonburg, VA',
 'Hartford-West Hartford-East Hartford, CT',
 'Hattiesburg, MS',
 'Hickory-Lenoir-Morganton, NC',
 'Hinesville, GA',
 'Hot Springs, AR',
 'Houston-Pasadena-The Woodlands, TX',
 'Huntington-Ashland, WV-KY-OH',
 'Huntsville, AL',
 'Idaho Falls, ID',
 'Indianapolis-Carmel-Greenwood, IN',
 'Iowa City, IA',
 'Ithaca, NY',
 'Jackson, MS',
 'Jacksonville, FL',
 'Janesville-Beloit, WI',
 'Jefferson City, MO',
 'Johnson City, TN',
 'Johnstown, PA',
 'Jonesboro, AR',
 'Joplin, MO-KS',
 'Kalamazoo-Portage, MI',
 'Kankakee, IL',
 'Kansas City, MO-KS',
 'Kennewick-Richland, WA',
 'Kenosha, WI',
 'Kingsport-Bristol, TN-VA',
 'Kingston, NY',
 'Kiryas Joel-Poughkeepsie-Newburgh, NY',
 'Knoxville, TN',
 'Kokomo, IN',
 'La Crosse-Onalaska, WI-MN',
 'Lafayette, LA',
 'Lafayette-West Lafayette, IN',
 'Lake Charles, LA',
 'Lakeland-Winter Haven, FL',
 'Lansing-East Lansing, MI',
 'Las Cruces, NM',
 'Las Vegas-Henderson-North Las Vegas, NV',
 'Lawrence, KS',
 'Lawton, OK',
 'Lebanon, PA',
 'Lewiston-Auburn, ME',
 'Lexington Park, MD',
 'Lexington-Fayette, KY',
 'Lima, OH',
 'Lincoln, NE',
 'Little Rock-North Little Rock-Conway, AR',
 'Longview-Kelso, WA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Louisville-Jefferson County, KY-IN',
 'Lubbock, TX',
 'Macon-Bibb County, GA',
 'Madison, WI',
 'Manchester-Nashua, NH',
 'Mankato, MN',
 'Mansfield, OH',
 'McAllen-Edinburg-Mission, TX',
 'Medford, OR',
 'Memphis, TN-MS-AR',
 'Merced, CA',
 'Miami-Fort Lauderdale-West Palm Beach, FL',
 'Michigan City-La Porte, IN',
 'Midland, MI',
 'Midland, TX',
 'Milwaukee-Waukesha, WI',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'Mobile, AL',
 'Modesto, CA',
 'Monroe, LA',
 'Monroe, MI',
 'Montgomery, AL',
 'Morristown, TN',
 'Mount Vernon-Anacortes, WA',
 'Muncie, IN',
 'Muskegon-Norton Shores, MI',
 'Myrtle Beach-Conway-North Myrtle Beach, SC',
 'Napa, CA',
 'Naples-Marco Island, FL',
 'Nashville-Davidson--Murfreesboro--Franklin, TN',
 'New Haven, CT',
 'New Orleans-Metairie, LA',
 'New York-Newark-Jersey City, NY-NJ',
 'Niles, MI',
 'North Port-Bradenton-Sarasota, FL',
 'Norwich-New London-Willimantic, CT',
 'Odessa, TX',
 'Ogden, UT',
 'Oklahoma City, OK',
 'Olympia-Lacey-Tumwater, WA',
 'Omaha, NE-IA',
 'Orlando-Kissimmee-Sanford, FL',
 'Oshkosh-Neenah, WI',
 'Oxnard-Thousand Oaks-Ventura, CA',
 'Paducah, KY-IL',
 'Parkersburg-Vienna, WV',
 'Peoria, IL',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
 'Phoenix-Mesa-Chandler, AZ',
 'Pinehurst-Southern Pines, NC',
 'Pittsburgh, PA',
 'Port St. Lucie, FL',
 'Portland-South Portland, ME',
 'Portland-Vancouver-Hillsboro, OR-WA',
 'Providence-Warwick, RI-MA',
 'Provo-Orem-Lehi, UT',
 'Pueblo, CO',
 'Punta Gorda, FL',
 'Racine-Mount Pleasant, WI',
 'Raleigh-Cary, NC',
 'Rapid City, SD',
 'Reading, PA',
 'Redding, CA',
 'Reno, NV',
 'Riverside-San Bernardino-Ontario, CA',
 'Rochester, MN',
 'Rochester, NY',
 'Rockford, IL',
 'Rocky Mount, NC',
 'Rome, GA',
 'Sacramento-Roseville-Folsom, CA',
 'Saginaw, MI',
 'Salem, OR',
 'Salisbury, MD',
 'Salt Lake City-Murray, UT',
 'San Antonio-New Braunfels, TX',
 'San Francisco-Oakland-Fremont, CA',
 'San Jose-Sunnyvale-Santa Clara, CA',
 'Sandusky, OH',
 'Santa Cruz-Watsonville, CA',
 'Santa Fe, NM',
 'Savannah, GA',
 'Seattle-Tacoma-Bellevue, WA',
 'Sebastian-Vero Beach-West Vero Corridor, FL',
 'Sherman-Denison, TX',
 'Shreveport-Bossier City, LA',
 'Sioux City, IA-NE-SD',
 'Slidell-Mandeville-Covington, LA',
 'South Bend-Mishawaka, IN-MI',
 'Spartanburg, SC',
 'Spokane-Spokane Valley, WA',
 'Springfield, IL',
 'Springfield, MA',
 'Springfield, OH',
 'St. Cloud, MN',
 'St. Joseph, MO-KS',
 'St. Louis, MO-IL',
 'State College, PA',
 'Staunton-Stuarts Draft, VA',
 'Stockton-Lodi, CA',
 'Sumter, SC',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Trenton-Princeton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tyler, TX',
 'Vallejo, CA',
 'Victoria, TX',
 'Vineland, NJ',
 'Virginia Beach-Chesapeake-Norfolk, VA-NC',
 'Walla Walla, WA',
 'Warner Robins, GA',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Waterbury-Shelton, CT',
 'Wausau, WI',
 'Weirton-Steubenville, WV-OH',
 'Wichita, KS',
 'Wildwood-The Villages, FL',
 'Williamsport, PA',
 'Winchester, VA-WV',
 'Winston-Salem, NC',
 'Worcester, MA',
 'York-Hanover, PA',
 'Youngstown-Warren, OH',
 'Yuba City, CA']

In [53]:
import pandas as pd
import requests
from datetime import datetime

def check_url_exists(url):
    """Check if a URL exists without downloading the full file"""
    try:
        response = requests.head(url)
        return response.status_code == 200
    except:
        return False

def process_2024_data(url):
    """Process data from 2024 onwards"""
    df = pd.read_excel(url, skiprows=7)
    
    # Clean columns
    df.drop(columns=['Metro /Micro Code', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_2022_2023_data(url):
    """Process data from 2022-2023"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Unnamed: 9'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_pre_2022_data(url):
    """Process data from 2021 and earlier"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Monthly Coverage Percent*', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

# Initialize an empty list to store all dataframes
all_dfs = []

# Process each date
for date_str in date_list:
    year = int(date_str[:4])
    
    try:
        # Determine URL format and processing function based on year
        if year >= 2024:
            url = f'https://www.census.gov/construction/bps/xls/cbsamonthly_{date_str}.xls'
            process_func = process_2024_data
        else:
            url = f'https://www.census.gov/construction/bps/xls/msamonthly_{date_str}.xls'
            if year >= 2022:
                process_func = process_2022_2023_data
            else:
                process_func = process_pre_2022_data
        
        # Check if URL exists
        if check_url_exists(url):
            try:
                df = process_func(url)
                all_dfs.append(df)
                print(f"Successfully processed data for {date_str}")
            except Exception as e:
                print(f"Error processing {date_str}: {str(e)}")
                continue
        else:
            print(f"No data available for {date_str}")
            continue
            
    except Exception as e:
        print(f"Error with {date_str}: {str(e)}")
        continue

# Concatenate all dataframes if we have any data
if all_dfs:
    homebuilding = pd.concat(all_dfs, ignore_index=True)
    
    # Convert date column to datetime
    homebuilding['date'] = pd.to_datetime(homebuilding['date'], format='%Y%m')
    
    # Sort by date and other relevant columns
    homebuilding = homebuilding.sort_values(['date', 'Name'], ascending=[False, True])
    
    print(f"\nFinal dataset contains {len(homebuilding)} rows from {len(all_dfs)} different months")
    print(f"Date range: {homebuilding['date'].min()} to {homebuilding['date'].max()}")
else:
    print("No data was successfully processed")
    homebuilding = pd.DataFrame()

No data available for 202502
No data available for 202501
Successfully processed data for 202412
Successfully processed data for 202411
Successfully processed data for 202410
Successfully processed data for 202409
Successfully processed data for 202408
Successfully processed data for 202407
Successfully processed data for 202406
Successfully processed data for 202405
Successfully processed data for 202404
Successfully processed data for 202403
Successfully processed data for 202402
Successfully processed data for 202401
Successfully processed data for 202312
Successfully processed data for 202311
Successfully processed data for 202310
Successfully processed data for 202309
Successfully processed data for 202308
Successfully processed data for 202307
Successfully processed data for 202306
Successfully processed data for 202305
Successfully processed data for 202304
Successfully processed data for 202303
Successfully processed data for 202302
Successfully processed data for 202301
Successfully processed data for 202212
Successfully processed data for 202211
Successfully processed data for 202210
Successfully processed data for 202209
Successfully processed data for 202208
Successfully processed data for 202207
Successfully processed data for 202206
Successfully processed data for 202205
Successfully processed data for 202204
Successfully processed data for 202203
Successfully processed data for 202202
Successfully processed data for 202201
Successfully processed data for 202112
Successfully processed data for 202111
Successfully processed data for 202110
Successfully processed data for 202109
Successfully processed data for 202108
Successfully processed data for 202107
Successfully processed data for 202106
Successfully processed data for 202105
Successfully processed data for 202104
Successfully processed data for 202103
Successfully processed data for 202102
Successfully processed data for 202101
Successfully processed data for 202012
Successfully processed data for 202011
Successfully processed data for 202010
Successfully processed data for 202009
Successfully processed data for 202008
Successfully processed data for 202007
Successfully processed data for 202006
Successfully processed data for 202005
Successfully processed data for 202004
Successfully processed data for 202003
Successfully processed data for 202002
Successfully processed data for 202001
Successfully processed data for 201912
Successfully processed data for 201911
No data available for 201910
No data available for 201909
No data available for 201908
No data available for 201907
No data available for 201906
No data available for 201905
No data available for 201904
No data available for 201903
No data available for 201902

Final dataset contains 29836 rows from 62 different months
Date range: 2019-11-01 00:00:00 to 2024-12-01 00:00:00

In [54]:
# homebuilding['date'] = pd.to_datetime(homebuilding['date'])
homebuilding.dtypes

CSA                                                  float64
CBSA                                                 float64
Name                                                  object
Total                                                float64
1 Unit                                               float64
2 Units                                              float64
3 and 4 Units                                        float64
5 Units or More                                      float64
Num of Structures With 5 Units or More               float64
Total_ytd                                            float64
1 Unit_ytd                                           float64
2 Units_ytd                                          float64
3 and 4 Units_ytd                                    float64
5 Units or More_ytd                                  float64
Num of Structures With 5 Units or More_ytd           float64
date                                          datetime64[ns]
dtype: object

In [7]:
homebuilding.columns

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More',
       'Total_ytd', '1 Unit_ytd', '2 Units_ytd', '3 and 4 Units_ytd',
       '5 Units or More_ytd', 'Num of Structures With 5 Units or More_ytd',
       'date'],
      dtype='object')

In [55]:
# create a 'multi_total' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total'] = homebuilding['2 Units'] + homebuilding['3 and 4 Units'] + homebuilding['5 Units or More'] + homebuilding['Num of Structures With 5 Units or More']

# create a 'multi_total_ytd' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total_ytd'] =  homebuilding['2 Units_ytd'] + homebuilding['3 and 4 Units_ytd'] + homebuilding['5 Units or More_ytd'] + homebuilding['Num of Structures With 5 Units or More_ytd']

In [56]:
# rename Name to name, Total to total, and Total_ytd to total_ytd
homebuilding.rename(
    columns={
        'Name': 'name',
        'Total': 'total',
        'Total_ytd': 'total_ytd'
    },
    inplace=True
)

homebuilding = homebuilding[['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd']]

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
0,2024-12-01,"Aberdeen, SD",1.0,88.0,0.0,16.0
1,2024-12-01,"Aberdeen, WA",36.0,297.0,5.0,44.0
2,2024-12-01,"Abilene, TX",78.0,520.0,0.0,96.0
3,2024-12-01,"Ada, OK",0.0,2.0,0.0,0.0
4,2024-12-01,"Adrian, MI",9.0,137.0,0.0,0.0
...,...,...,...,...,...,...
29831,2019-11-01,"Worcester, MA-CT",18.0,219.0,2.0,52.0
29832,2019-11-01,"Yakima, WA",52.0,823.0,13.0,476.0
29833,2019-11-01,"York-Hanover, PA",11.0,155.0,4.0,62.0
29834,2019-11-01,"Youngstown-Warren-Boardman, OH-PA",13.0,200.0,0.0,7.0
29835,2019-11-01,"Yuma, AZ",80.0,1063.0,0.0,6.0

In [57]:
# find nyc data
homebuilding[homebuilding['name'].str.contains('New York')]

,date,name,total,total_ytd,multi_total,multi_total_ytd
596,2024-12-01,"New York-Newark-Jersey City, NY-NJ",6341.0,58580.0,5599.0,46990.0
1517,2024-11-01,"New York-Newark-Jersey City, NY-NJ",4216.0,52213.0,3448.0,41343.0
2438,2024-10-01,"New York-Newark-Jersey City, NY-NJ",4168.0,48063.0,2924.0,37914.0
3359,2024-09-01,"New York-Newark-Jersey City, NY-NJ",3666.0,43928.0,2683.0,35127.0
4280,2024-08-01,"New York-Newark-Jersey City, NY-NJ",5023.0,40252.0,3890.0,32418.0
...,...,...,...,...,...,...
28235,2020-03-01,"New York-Newark-Jersey City, NY-NJ-PA",3410.0,12366.0,2461.0,9753.0
28603,2020-02-01,"New York-Newark-Jersey City, NY-NJ-PA",2929.0,8873.0,2147.0,7250.0
28971,2020-01-01,"New York-Newark-Jersey City, NY-NJ-PA",5982.0,5982.0,5169.0,5169.0
29339,2019-12-01,"New York-Newark-Jersey City, NY-NJ-PA",5708.0,60746.0,5096.0,50701.0
29707,2019-11-01,"New York-Newark-Jersey City, NY-NJ-PA",6967.0,55381.0,5652.0,46086.0

In [62]:
# clean up the name column
homebuilding['name'] = homebuilding['name'].apply(lambda x: x.split(',')[0].split('-')[0] + ',' + x.split(',')[1].split('-')[0])

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd,name_clean
0,2024-12-01,"Aberdeen, SD",1.0,88.0,0.0,16.0,"Aberdeen, SD"
1,2024-12-01,"Aberdeen, WA",36.0,297.0,5.0,44.0,"Aberdeen, WA"
2,2024-12-01,"Abilene, TX",78.0,520.0,0.0,96.0,"Abilene, TX"
3,2024-12-01,"Ada, OK",0.0,2.0,0.0,0.0,"Ada, OK"
4,2024-12-01,"Adrian, MI",9.0,137.0,0.0,0.0,"Adrian, MI"
...,...,...,...,...,...,...,...
29831,2019-11-01,"Worcester, MA",18.0,219.0,2.0,52.0,"Worcester, MA"
29832,2019-11-01,"Yakima, WA",52.0,823.0,13.0,476.0,"Yakima, WA"
29833,2019-11-01,"York, PA",11.0,155.0,4.0,62.0,"York, PA"
29834,2019-11-01,"Youngstown, OH",13.0,200.0,0.0,7.0,"Youngstown, OH"
29835,2019-11-01,"Yuma, AZ",80.0,1063.0,0.0,6.0,"Yuma, AZ"

In [63]:
# sort by date with earliest date first
homebuilding = homebuilding.sort_values('date')



homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd,name_clean
29835,2019-11-01,"Yuma, AZ",80.0,1063.0,0.0,6.0,"Yuma, AZ"
29584,2019-11-01,"Fayetteville, AR",495.0,6303.0,199.0,2562.0,"Fayetteville, AR"
29585,2019-11-01,"Flagstaff, AZ",48.0,650.0,19.0,194.0,"Flagstaff, AZ"
29586,2019-11-01,"Flint, MI",18.0,371.0,0.0,130.0,"Flint, MI"
29587,2019-11-01,"Florence, SC",36.0,664.0,6.0,288.0,"Florence, SC"
...,...,...,...,...,...,...,...
608,2024-12-01,"Oak Harbor, WA",19.0,402.0,0.0,112.0,"Oak Harbor, WA"
607,2024-12-01,"Norwich, CT",11.0,487.0,0.0,259.0,"Norwich, CT"
606,2024-12-01,"Norwalk, OH",3.0,40.0,0.0,0.0,"Norwalk, OH"
604,2024-12-01,"North Port, FL",1075.0,14938.0,279.0,4128.0,"North Port, FL"
0,2024-12-01,"Aberdeen, SD",1.0,88.0,0.0,16.0,"Aberdeen, SD"

In [65]:
# Ensure the DataFrame is sorted by 'name' and 'date'
homebuilding = homebuilding.sort_values(by=['name', 'date'])

# Create a 12-month running total column
homebuilding['rt'] = (
    homebuilding.groupby('name')['total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

# Create a 12-month running total column for multi-unit structures
homebuilding['multi_rt'] = (
    homebuilding.groupby('name')['multi_total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
10131,2024-01-01,"Aberdeen, SD",2.0,2.0,0.0,0.0,2.0,0.0
9210,2024-02-01,"Aberdeen, SD",2.0,4.0,0.0,0.0,4.0,0.0
8289,2024-03-01,"Aberdeen, SD",4.0,8.0,0.0,0.0,8.0,0.0
7368,2024-04-01,"Aberdeen, SD",15.0,23.0,0.0,0.0,23.0,0.0
6447,2024-05-01,"Aberdeen, SD",1.0,24.0,0.0,0.0,24.0,0.0
...,...,...,...,...,...,...,...,...
4604,2024-08-01,"Zanesville, OH",17.0,82.0,14.0,65.0,84.0,65.0
3683,2024-09-01,"Zanesville, OH",15.0,97.0,12.0,77.0,99.0,77.0
2762,2024-10-01,"Zanesville, OH",16.0,113.0,14.0,91.0,115.0,91.0
1841,2024-11-01,"Zanesville, OH",15.0,128.0,14.0,105.0,130.0,105.0
920,2024-12-01,"Zanesville, OH",12.0,140.0,12.0,117.0,142.0,117.0

In [66]:
# show the df sorted by multi_total_12_month_running in the max date
homebuilding[homebuilding['date'] == homebuilding['date'].max()].sort_values('multi_rt', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
596,2024-12-01,"New York, NY",6341.0,58580.0,5599.0,46990.0,59629.0,48211.0
206,2024-12-01,"Dallas, TX",6144.0,72151.0,2604.0,25721.0,70339.0,24897.0
56,2024-12-01,"Austin, TX",3073.0,32304.0,2020.0,16138.0,33530.0,16766.0
489,2024-12-01,"Los Angeles, CA",2527.0,26671.0,1526.0,15374.0,27246.0,15598.0
653,2024-12-01,"Phoenix, AZ",2322.0,45515.0,676.0,15735.0,44491.0,15002.0
...,...,...,...,...,...,...,...,...
237,2024-12-01,"Duncan, OK",1.0,17.0,0.0,0.0,17.0,0.0
740,2024-12-01,"Sanford, NC",62.0,602.0,0.0,0.0,602.0,0.0
561,2024-12-01,"Morgantown, WV",0.0,25.0,0.0,16.0,13.0,0.0
77,2024-12-01,"Beeville, TX",1.0,15.0,0.0,0.0,14.0,0.0
94,2024-12-01,"Bloomsburg, PA",4.0,82.0,0.0,0.0,84.0,0.0

In [68]:
# population

# read in the population data
metros = pd.read_csv('data/zori_metro_long_clean.csv')

# change 'date' to datetime
metros['date'] = pd.to_datetime(metros['date'])

metros

,name,date,zori,lat,lng,pop_2023
0,"New York, NY",2015-02-01,2225.296911,40.6943,-73.9249,19498249.0
1,"Los Angeles, CA",2015-02-01,1802.281380,34.1141,-118.4068,12799100.0
2,"Chicago, IL",2015-02-01,1352.236287,41.8375,-87.6866,9262825.0
3,"Dallas, TX",2015-02-01,1082.375956,32.7935,-96.7667,8100037.0
4,"Houston, TX",2015-02-01,1221.669822,29.7860,-95.3885,7510253.0
...,...,...,...,...,...,...
5995,"Salt Lake City, UT",2025-01-01,1656.973108,40.7776,-111.9311,1267864.0
5996,"Hartford, CT",2025-01-01,1870.252402,41.7661,-72.6834,1151543.0
5997,"Buffalo, NY",2025-01-01,1324.995704,42.9018,-78.8487,1155604.0
5998,"Birmingham, AL",2025-01-01,1339.420553,33.5279,-86.7971,1184290.0
5999,"Grand Rapids, MI",2025-01-01,1742.311646,42.9619,-85.6562,1162950.0

In [69]:
# merge the population data with the homebuilding data
# merge on 'name' and 'date'
# only include rows where both 'name' and 'date' are in both dataframes
homebuilding_zori = pd.merge(
    homebuilding,
    metros,
    on=['name', 'date'],
    how='inner'
)

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3095,2024-08-01,"Washington, DC",2137.0,15660.0,1257.0,7569.0,22460.0,11575.0,2375.472810,38.9047,-77.0163,6304975.0
3096,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0
3097,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0
3098,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0
3099,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0

In [70]:
homebuilding_zori['name'].nunique()

50

In [71]:
homebuilding_zori.columns

Index(['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd',
       'rt', 'multi_rt', 'zori', 'lat', 'lng', 'pop_2023'],
      dtype='object')

In [72]:
# create 'total_per_capita' and 'total_ytd_per_capita' columns that divide 'total' and 'total_ytd' by 'pop_2023'
homebuilding_zori['total_pc'] = homebuilding_zori['total'] / homebuilding_zori['pop_2023']
homebuilding_zori['total_ytd_pc'] = homebuilding_zori['total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_pc'] = homebuilding_zori['multi_total'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_ytd_pc'] = homebuilding_zori['multi_total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['rt_pc'] = homebuilding_zori['rt'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_rt_pc'] = homebuilding_zori['multi_rt'] / homebuilding_zori['pop_2023']


# change per capita columns to per 1000
for col in homebuilding_zori.columns:
    if 'pc' in col:
        homebuilding_zori[col] = homebuilding_zori[col] * 1000

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,2024-08-01,"Washington, DC",2137.0,15660.0,1257.0,7569.0,22460.0,11575.0,2375.472810,38.9047,-77.0163,6304975.0,0.338939,2.483753,0.199366,1.200481,3.562266,1.835852
3096,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770
3097,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318
3098,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574
3099,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697

In [73]:
# create 'zori_yoy' column that calculates the year-over-year change in 'zori' for each metro area
homebuilding_zori['zori_yoy'] = homebuilding_zori.groupby('name')['zori'].pct_change(12)
homebuilding_zori

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_56554/3262750924.py:2: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  homebuilding_zori['zori_yoy'] = homebuilding_zori.groupby('name')['zori'].pct_change(12)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550,NaN
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321,NaN
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587,NaN
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802,NaN
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,2024-08-01,"Washington, DC",2137.0,15660.0,1257.0,7569.0,22460.0,11575.0,2375.472810,38.9047,-77.0163,6304975.0,0.338939,2.483753,0.199366,1.200481,3.562266,1.835852,0.050066
3096,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770,0.048862
3097,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318,0.047143
3098,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574,0.044723
3099,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697,0.045161

In [74]:
# sort by multi_rt_pc in the max date and filter to this date
homebuilding_zori[homebuilding_zori['date'] == homebuilding_zori['date'].max()].sort_values('rt_pc', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
123,2024-12-01,"Austin, TX",3073.0,32304.0,2020.0,16138.0,33530.0,16766.0,1675.390403,30.3005,-97.7522,2473275.0,1.242482,13.061224,0.816731,6.524952,13.556924,6.778866,-0.031384
2293,2024-12-01,"Raleigh, NC",893.0,18980.0,143.0,5727.0,19107.0,5786.0,1719.893690,35.8324,-78.6429,1509231.0,0.591692,12.575941,0.094750,3.794648,12.660090,3.833740,0.008075
1735,2024-12-01,"Nashville, TN",1260.0,19947.0,391.0,5626.0,19954.0,5750.0,1849.902241,36.1715,-86.7842,2102573.0,0.599266,9.486948,0.185963,2.675769,9.490277,2.734745,0.018306
433,2024-12-01,"Charlotte, NC",2102.0,25952.0,790.0,7205.0,25837.0,7122.0,1779.642907,35.2083,-80.8303,2805115.0,0.749345,9.251671,0.281628,2.568522,9.210674,2.538933,0.016711
1177,2024-12-01,"Jacksonville, FL",1064.0,15006.0,38.0,2144.0,15350.0,2169.0,1690.501961,30.3322,-81.6749,1713240.0,0.621046,8.758843,0.022180,1.251430,8.959632,1.266022,0.019776
2045,2024-12-01,"Phoenix, AZ",2322.0,45515.0,676.0,15735.0,44491.0,15002.0,1799.202542,33.5722,-112.0892,5070110.0,0.457978,8.977123,0.133330,3.103483,8.775155,2.958910,0.008447
743,2024-12-01,"Dallas, TX",6144.0,72151.0,2604.0,25721.0,70339.0,24897.0,1721.806844,32.7935,-96.7667,8100037.0,0.758515,8.907490,0.321480,3.175418,8.683787,3.073690,0.002405
1053,2024-12-01,"Houston, TX",4828.0,65871.0,980.0,13365.0,65155.0,12859.0,1680.787304,29.7860,-95.3885,7510253.0,0.642855,8.770810,0.130488,1.779567,8.675473,1.712193,0.027959
1921,2024-12-01,"Orlando, FL",2158.0,23644.0,865.0,8693.0,23522.0,8134.0,1988.895190,28.4773,-81.3370,2817933.0,0.765810,8.390547,0.306963,3.084885,8.347253,2.886513,0.015153
2975,2024-12-01,"Tampa, FL",949.0,20999.0,33.0,8048.0,21631.0,8015.0,2059.035759,27.9945,-82.4447,3342963.0,0.283880,6.281553,0.009871,2.407445,6.470607,2.397574,0.024493
2355,2024-12-01,"Richmond, VA",684.0,8625.0,326.0,3682.0,8673.0,3760.0,1643.749508,37.5295,-77.4756,1349732.0,0.506767,6.390157,0.241529,2.727949,6.425720,2.785738,0.055034
61,2024-12-01,"Atlanta, GA",3660.0,40700.0,1874.0,15786.0,39188.0,14085.0,1884.003683,33.7628,-84.4220,6307261.0,0.580284,6.452880,0.297118,2.502830,6.213157,2.233141,0.019352
681,2024-12-01,"Columbus, OH",1314.0,13521.0,794.0,7695.0,13405.0,7556.0,1466.898043,39.9862,-82.9855,2180271.0,0.602677,6.201523,0.364175,3.529378,6.148318,3.465624,0.053986
1301,2024-12-01,"Las Vegas, NV",764.0,14754.0,43.0,2551.0,13350.0,2196.0,1781.003197,36.2333,-115.2654,2336573.0,0.326975,6.314376,0.018403,1.091770,5.713496,0.939838,0.023561
1115,2024-12-01,"Indianapolis, IN",1281.0,11890.0,685.0,2716.0,12109.0,2921.0,1505.609845,39.7771,-86.1458,2138468.0,0.599027,5.560055,0.320323,1.270068,5.662465,1.365931,0.046721
2603,2024-12-01,"San Antonio, TX",1308.0,14776.0,726.0,4057.0,14582.0,4065.0,1435.413476,29.4632,-98.5238,2703999.0,0.483728,5.464499,0.268491,1.500370,5.392753,1.503329,-0.009864
805,2024-12-01,"Denver, CO",1696.0,15897.0,707.0,6806.0,15762.0,6796.0,1947.243688,39.7620,-104.8758,3005131.0,0.564368,5.289952,0.235264,2.264793,5.245029,2.261465,0.003637
1859,2024-12-01,"Oklahoma City, OK",480.0,6896.0,14.0,1044.0,7227.0,1357.0,1361.935122,35.4676,-97.5136,1477926.0,0.324779,4.665998,0.009473,0.706395,4.889961,0.918179,0.035062
2541,2024-12-01,"Salt Lake City, UT",461.0,5837.0,227.0,2408.0,6008.0,2511.0,1666.898340,40.7776,-111.9311,1267864.0,0.363604,4.603806,0.179041,1.899257,4.738679,1.980496,0.013258
2479,2024-12-01,"Sacramento, CA",997.0,11518.0,351.0,2963.0,11363.0,2857.0,2280.703732,38.5677,-121.4685,2420608.0,0.411880,4.758309,0.145005,1.224073,4.694275,1.180282,0.034490
2851,2024-12-01,"Seattle, WA",2096.0,17746.0,1716.0,11484.0,17681.0,11707.0,2227.808165,47.6211,-122.3244,4044837.0,0.518191,4.387321,0.424245,2.839175,4.371252,2.894307,0.038883
1425,2024-12-01,"Louisville, KY",376.0,5771.0,189.0,2120.0,5948.0,2430.0,1370.129626,38.1663,-85.6485,1365557.0,0.275346,4.226114,0.138405,1.552480,4.355732,1.779494,0.055601
1239,2024-12-01,"Kansas City, MO",628.0,9337.0,237.0,4640.0,9463.0,4839.0,1434.127183,39.1238,-94.5541,2221343.0,0.282712,4.203313,0.106692,2.088826,4.260035,2.178412,0.051740
1673,2024-12-01,"Minneapolis, MN",1147.0,14828.0,548.0,5575.0,15227.0,6112.0,1642.330397,44.9635,-93.2678,3712020.0,0.308996,3.994591,0.147629,1.501878,4.102079,1.646543,0.031869
2169,2024-12-01,"Portland, OR",813.0,9129.0,440.0,2967.0,9132.0,3038.0,1840.656030,45.5371,-122.6500,2508050.0,0.324156,3.639880,0.175435,1.182991,3.641076,1.211300,0.039603
2665,2024-12-01,"San Diego, CA",1067.0,11759.0,893.0,8684.0,11568.0,8446.0,3006.945313,32.8313,-117.1222,3269973.0,0.326302,3.596054,0.273091,2.655679,3.537644,2.582896,0.025598
929,2024-12-01,"Grand Rapids, MI",201.0,4028.0,43.0,1576.0,3916.0,1494.0,1738.722444,42.9619,-85.6562,1162950.0,0.172836,3.463605,0.036975,1.355174,3.367299,1.284664,0.040520
3099,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697,0.045161
2417,2024-12-01,"Riverside, CA",1102.0,14653.0,214.0,3647.0,15201.0,3819.0,2539.325564,33.9381,-117.3949,4688053.0,0.235066,3.125605,0.045648,0.777935,3.242497,0.814624,0.034587
247,2024-12-01,"Birmingham, AL",255.0,3748.0,25.0,598.0,3756.0,598.0,1343.885933,33.5279,-86.7971,1184290.0,0.215319,3.164765,0.021110,0.504944,3.171520,0.504944,0.047465
1487,2024-12-01,"Memphis, TN",233.0,4205.0,5.0,1142.0,4205.0,1088.0,1441.748104,35.1087,-89.9663,1335674.0,0.174444,3.148223,0.003743,0.854999,3.148223,0.814570,0.055096
557,2024-12-01,"Cincinnati, OH",349.0,7055.0,71.0,3183.0,6985.0,3185.0,1553.288863,39.1413,-84.5060,2271479.0,0.153644,3.105906,0.031257,1.401290,3.075089,1.402170,0.056069
1797,2024-12-01,"New York, NY",6341.0,58580.0,5599.0,46990.0,59629.0,48211.0,3183.050513,40.6943,-73.9249,19498249.0,0.325209,3.004372,0.287154,2.409960,3.058172,2.472581,0.035610
3037,2024-12-01,"Virginia Beach, VA",465.0,4912.0,200.0,1350.0,4956.0,1356.0,1758.212734,36.7335,-76.0435,1787169.0,0.260188,2.748481,0.111909,0.755385,2.773101,0.758742,0.050765
1549,2024-12-01,"Miami, FL",1238.0,16136.0,952.0,10856.0,16604.0,11628.0,2705.366286,25.7840,-80.2101,6183199.0,0.200220,2.609652,0.153966,1.755725,2.685341,1.880580,0.020343
2107,2024-12-01,"Pittsburgh, PA",523.0,5469.0,296.0,1913.0,6090.0,2544.0,1452.708813,40.4397,-79.9763,2422725.0,0.215873,2.257375,0.122176,0.789607,2.513698,1.050057,0.045931
2913,2024-12-01,"St. Louis, MO",389.0,6691.0,131.0,2144.0,6789.0,2183.0,1360.692123,38.6359,-90.2451,2796999.0,0.139078,2.392207,0.046836,0.766536,2.427244,0.780479,0.052741
1611,2024-12-01,"Milwaukee, WI",166.0,3930.0,48.0,2286.0,3627.0,1979.0,1357.577874,43.0642,-87.9675,1560424.0,0.106381,2.518546,0.030761,1.464986,2.324368,1.268245,0.043406
185,2024-12-01,"Baltimore, MD",632.0,6247.0,397.0,2467.0,6549.0,2950.0,1852.236237,39.3051,-76.6144,2834316.0,0.222981,2.204059,0.140069,0.870404,2.310610,1.040815,0.041596
309,2024-12-01,"Boston, MA",941.0,11349.0,713.0,8018.0,11160.0,7794.0,2991.880216,42.3188,-71.0852,4919179.0,0.191292,2.307092,0.144943,1.629947,2.268671,1.584411,0.031643
2789,2024-12-01,"San Jose, CA",212.0,4119.0,77.0,1964.0,4290.0,2155.0,3243.628265,37.3012,-121.8480,1945767.0,0.108954,2.116903,0.039573,1.009371,2.204786,1.107532,0.046826
1983,2024-12-01,"Philadelphia, PA",1249.0,13624.0,791.0,6129.0,13720.0,6100.0,1852.997119,40.0077,-75.1339,6246160.0,0.199963,2.181180,0.126638,0.981243,2.196550,0.976600,0.038628
1363,2024-12-01,"Los Angeles, CA",2527.0,26671.0,1526.0,15374.0,27246.0,15598.0,2922.512112,34.1141,-118.4068,12799100.0,0.197436,2.083818,0.119227,1.201178,2.128743,1.218679,0.029827
495,2024-12-01,"Chicago, IL",1228.0,17516.0,692.0,8445.0,17320.0,8220.0,1979.127514,41.8375,-87.6866,9262825.0,0.132573,1.891000,0.074707,0.911709,1.869840,0.887418,0.057196
619,2024-12-01,"Cleveland, OH",213.0,3833.0,56.0,954.0,3638.0,744.0,1344.492983,41.4764,-81.6805,2063132.0,0.103241,1.857855,0.027143,0.462404,1.763338,0.360617,0.073778
867,2024-12-01,"Detroit, MI",493.0,7446.0,243.0,2698.0,7361.0,2679.0,1452.612638,42.3834,-83.1024,4342304.0,0.113534,1.714758,0.055961,0.621329,1.695183,0.616954,0.049737
991,2024-12-01,"Hartford, CT",163.0,2145.0,126.0,1598.0,1895.0,1341.0,1863.550203,41.7661,-72.6834,1151543.0,0.141549,1.862718,0.109418,1.387703,1.645618,1.164524,0.074391
2727,2024-12-01,"San Francisco, CA",315.0,5829.0,141.0,3169.0,6268.0,3547.0,2986.891371,37.7558,-122.4449,4566961.0,0.068974,1.276341,0.030874,0.693897,1.372466,0.776665,0.032880
371,2024-12-01,"Buffalo, NY",74.0,1411.0,23.0,681.0,1421.0,676.0,1329.113705,42.9018,-78.8487,1155604.0,0.064036,1.221007,0.019903,0.589302,1.229660,0.584975,0.060493
2231,2024-12-01,"Providence, RI",139.0,2441.0,19.0,1127.0,2034.0,654.0,2020.400382,41.8230,-71.4187,1677803.0,0.082846,1.454879,0.011324,0.671712,1.212300,0.389795,0.060212

In [79]:
# Create a 'state' column by extracting the state abbreviation from the 'name' column
homebuilding_zori['state'] = homebuilding_zori['name'].str.split(', ').str[-1]

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy,state
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550,NaN,GA
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321,NaN,GA
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587,NaN,GA
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802,NaN,GA
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937,NaN,GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,2024-08-01,"Washington, DC",2137.0,15660.0,1257.0,7569.0,22460.0,11575.0,2375.472810,38.9047,-77.0163,6304975.0,0.338939,2.483753,0.199366,1.200481,3.562266,1.835852,0.050066,DC
3096,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770,0.048862,DC
3097,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318,0.047143,DC
3098,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574,0.044723,DC
3099,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697,0.045161,DC

In [75]:
homebuilding_zori['name'].nunique()

50

In [77]:
regions = pd.read_csv('data/regions.csv')

regions

   state     region
0     WA       West
1     OR       West
2     CA       West
3     NV       West
4     ID       West
5     MT       West
6     WY       West
7     UT       West
8     CO       West
9     HI       West
10    AK       West
11    AZ  Southwest
12    NM  Southwest
13    TX  Southwest
14    OK  Southwest
15    ND    Midwest
16    SD    Midwest
17    NE    Midwest
18    KS    Midwest
19    MN    Midwest
20    IA    Midwest
21    MO    Midwest
22    WI    Midwest
23    IL    Midwest
24    IN    Midwest
25    MI    Midwest
26    OH    Midwest
27    AR  Southeast
28    LA  Southeast
29    MS  Southeast
30    AL  Southeast
31    TN  Southeast
32    KY  Southeast
33    FL  Southeast
34    GA  Southeast
35    SC  Southeast
36    NC  Southeast
37    VA  Southeast
38    WV  Southeast
39    ME   Northest
40    NH   Northest
41    VT   Northest
42    MA   Northest
43    RI   Northest
44    CT   Northest
45    NY   Northest
46    NJ   Northest
47    PA   Northest
48    DE   Northest
49    MD   Northest
50    DC   Northest

In [80]:


# merge
homebuilding_zori = pd.merge(
    homebuilding_zori,
    regions,
    on='state',
    how='left'
)

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,...,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy,state,region
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,...,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550,NaN,GA,Southeast
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,...,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321,NaN,GA,Southeast
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,...,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587,NaN,GA,Southeast
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,...,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802,NaN,GA,Southeast
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,...,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937,NaN,GA,Southeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,2024-08-01,"Washington, DC",2137.0,15660.0,1257.0,7569.0,22460.0,11575.0,2375.472810,38.9047,...,6304975.0,0.338939,2.483753,0.199366,1.200481,3.562266,1.835852,0.050066,DC,Northest
3096,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,...,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770,0.048862,DC,Northest
3097,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,...,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318,0.047143,DC,Northest
3098,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,...,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574,0.044723,DC,Northest
3099,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,...,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697,0.045161,DC,Northest

In [81]:
# save the final dataset to a csv file
homebuilding_zori.to_csv('data/homebuilding_zori.csv', index=False)

In [44]:
# make a list of the names of every state and District of Columbia
us_states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [51]:
nov24 = "https://www.census.gov/construction/bps/xls/statemonthly_202411.xls"

df = pd.read_excel(nov24, skiprows=5)

# rename columns
df.rename(
    columns={
        'Unnamed: 0': 'Name'
    },
    inplace=True
)

# drop null names
df = df.dropna(subset=['Name'])

# drop rows where 'Name includes 'Region', 'Division', or 'United States'
df = df[~df['Name'].str.contains('Region|Division|United States')]

# drop columns that have 'Unnamed' in the name
df = df.loc[:, ~df.columns.str.contains('^Unnamed|Year to Date')]

# add date column
df['date'] = '202411'

# make it datetime
df['date'] = pd.to_datetime(df['date'], format='%Y%m')

df

,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,date
7,Connecticut,564.0,146.0,2.0,9.0,407.0,15.0,2024-11-01
8,Maine,387.0,317.0,18.0,15.0,37.0,6.0,2024-11-01
9,Massachusetts,1006.0,355.0,24.0,6.0,621.0,36.0,2024-11-01
10,New Hampshire,336.0,224.0,10.0,19.0,83.0,7.0,2024-11-01
11,Rhode Island,90.0,63.0,24.0,3.0,0.0,0.0,2024-11-01
12,Vermont,132.0,112.0,2.0,6.0,12.0,2.0,2024-11-01
15,New Jersey,3179.0,1110.0,60.0,40.0,1969.0,84.0,2024-11-01
16,New York,3492.0,775.0,66.0,40.0,2611.0,86.0,2024-11-01
17,Pennsylvania,1800.0,1208.0,42.0,44.0,506.0,27.0,2024-11-01
21,Illinois,1819.0,779.0,58.0,87.0,895.0,34.0,2024-11-01
22,Indiana,2019.0,1394.0,42.0,33.0,550.0,25.0,2024-11-01
23,Michigan,1749.0,1056.0,60.0,34.0,599.0,24.0,2024-11-01
24,Ohio,2034.0,1372.0,54.0,54.0,554.0,35.0,2024-11-01
25,Wisconsin,2206.0,885.0,114.0,7.0,1200.0,24.0,2024-11-01
28,Iowa,1398.0,545.0,28.0,38.0,787.0,24.0,2024-11-01
29,Kansas,545.0,387.0,90.0,19.0,49.0,4.0,2024-11-01
30,Minnesota,1898.0,944.0,64.0,23.0,867.0,22.0,2024-11-01
31,Missouri,1721.0,867.0,38.0,28.0,788.0,31.0,2024-11-01
32,Nebraska,762.0,388.0,46.0,18.0,310.0,10.0,2024-11-01
33,North Dakota,95.0,92.0,0.0,3.0,0.0,0.0,2024-11-01
34,South Dakota,333.0,232.0,12.0,18.0,71.0,6.0,2024-11-01
38,Delaware,476.0,452.0,12.0,0.0,12.0,1.0,2024-11-01
39,District of Columbia,70.0,1.0,0.0,0.0,69.0,3.0,2024-11-01
40,Florida,10760.0,8192.0,146.0,53.0,2369.0,70.0,2024-11-01
41,Georgia,4161.0,3057.0,42.0,50.0,1012.0,61.0,2024-11-01
42,Maryland,936.0,766.0,4.0,4.0,162.0,5.0,2024-11-01
43,North Carolina,6149.0,4698.0,56.0,7.0,1388.0,52.0,2024-11-01
44,South Carolina,3069.0,2600.0,24.0,52.0,393.0,37.0,2024-11-01
45,Virginia,3374.0,1700.0,10.0,12.0,1652.0,36.0,2024-11-01
46,West Virginia,267.0,229.0,0.0,6.0,32.0,2.0,2024-11-01
49,Alabama,1580.0,1181.0,48.0,75.0,276.0,14.0,2024-11-01
50,Kentucky,991.0,617.0,44.0,37.0,293.0,21.0,2024-11-01
51,Mississippi,514.0,470.0,6.0,4.0,34.0,6.0,2024-11-01
52,Tennessee,3228.0,2068.0,32.0,36.0,1092.0,43.0,2024-11-01
55,Arkansas,984.0,695.0,46.0,28.0,215.0,19.0,2024-11-01
56,Louisiana,966.0,838.0,38.0,0.0,90.0,4.0,2024-11-01
57,Oklahoma,862.0,793.0,52.0,11.0,6.0,1.0,2024-11-01
58,Texas,16304.0,10503.0,432.0,197.0,5172.0,125.0,2024-11-01
62,Arizona,4641.0,2883.0,88.0,39.0,1631.0,70.0,2024-11-01
63,Colorado,2530.0,1338.0,8.0,41.0,1143.0,28.0,2024-11-01
64,Idaho,1397.0,1026.0,12.0,10.0,349.0,13.0,2024-11-01
65,Montana,396.0,157.0,24.0,10.0,205.0,11.0,2024-11-01
66,Nevada,1585.0,1049.0,42.0,12.0,482.0,22.0,2024-11-01
67,New Mexico,708.0,473.0,16.0,3.0,216.0,8.0,2024-11-01
68,Utah,1708.0,1176.0,10.0,35.0,487.0,32.0,2024-11-01
69,Wyoming,122.0,101.0,2.0,14.0,5.0,1.0,2024-11-01
72,Alaska,109.0,40.0,6.0,7.0,56.0,2.0,2024-11-01
73,California,7647.0,4241.0,250.0,34.0,3122.0,96.0,2024-11-01
74,Hawaii,438.0,275.0,26.0,0.0,137.0,10.0,2024-11-01
75,Oregon,1092.0,527.0,38.0,15.0,512.0,34.0,2024-11-01
76,Washington,2644.0,1217.0,70.0,115.0,1242.0,28.0,2024-11-01