In [28]:
import pandas as pd
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
from typing import List

In [29]:
def generate_year_month_range(end_date: date = None, years_back: int = 6) -> List[str]:
    """
    Generate a list of year-month combinations in 'yyyymm' format,
    starting from the specified end date and going back a specified number of years.

    Args:
        end_date (date, optional): The end date to start from. Defaults to today's date.
        years_back (int, optional): Number of years to go back. Defaults to 6.

    Returns:
        List[str]: List of year-month combinations in 'yyyymm' format, sorted in descending order.

    Example:
        >>> generate_year_month_range()  # If today is 2024-11-14
        ['202411', '202410', '202409', ..., '201812']
    """
    # If no end date is provided, use today's date
    if end_date is None:
        end_date = date.today()

    # Calculate start date
    start_date = end_date - relativedelta(years=years_back)

    # Initialize result list
    date_list = []

    # Current date for iteration
    current_date = end_date

    # Generate dates until we reach start date
    while current_date >= start_date:
        # Format date as 'yyyymm'
        date_str = current_date.strftime('%Y%m')
        date_list.append(date_str)
        # Move to previous month
        current_date -= relativedelta(months=1)

    return date_list

# Example usage
if __name__ == "__main__":
    date_list = generate_year_month_range()
    print(f"Generated {len(date_list)} year-month combinations:")
    print(date_list[:12])  # Print first year as example

Generated 73 year-month combinations:
['202412', '202411', '202410', '202409', '202408', '202407', '202406', '202405', '202404', '202403', '202402', '202401']

In [30]:
import requests

In [31]:
# read in the metro_areas.json file as a list
import json
with open('data/metro_areas.json') as f:
    metro_areas = json.load(f)

metro_areas

['Abilene, TX',
 'Akron, OH',
 'Albany, OR',
 'Albany-Schenectady-Troy, NY',
 'Albuquerque, NM',
 'Allentown-Bethlehem-Easton, PA-NJ',
 'Altoona, PA',
 'Amarillo, TX',
 'Ames, IA',
 'Amherst Town-Northampton, MA',
 'Ann Arbor, MI',
 'Appleton, WI',
 'Asheville, NC',
 'Athens-Clarke County, GA',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Atlantic City-Hammonton, NJ',
 'Auburn-Opelika, AL',
 'Baltimore-Columbia-Towson, MD',
 'Barnstable Town, MA',
 'Baton Rouge, LA',
 'Battle Creek, MI',
 'Bay City, MI',
 'Birmingham, AL',
 'Bloomington, IL',
 'Bloomington, IN',
 'Boise City, ID',
 'Boston-Cambridge-Newton, MA-NH',
 'Boulder, CO',
 'Bowling Green, KY',
 'Bremerton-Silverdale-Port Orchard, WA',
 'Bridgeport-Stamford-Danbury, CT',
 'Brownsville-Harlingen, TX',
 'Buffalo-Cheektowaga, NY',
 'Burlington, NC',
 'Burlington-South Burlington, VT',
 'Canton-Massillon, OH',
 'Cape Coral-Fort Myers, FL',
 'Cape Girardeau, MO-IL',
 'Carson City, NV',
 'Cedar Rapids, IA',
 'Chambersburg, PA',
 'Champaign-Urbana, IL',
 'Charleston, WV',
 'Charlotte-Concord-Gastonia, NC-SC',
 'Chattanooga, TN-GA',
 'Chicago-Naperville-Elgin, IL-IN',
 'Cincinnati, OH-KY-IN',
 'Cleveland, OH',
 'Cleveland, TN',
 'Coeur dAlene, ID',
 'Columbia, MO',
 'Columbia, SC',
 'Columbus, GA-AL',
 'Columbus, IN',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Corvallis, OR',
 'Dallas-Fort Worth-Arlington, TX',
 'Dalton, GA',
 'Daphne-Fairhope-Foley, AL',
 'Davenport-Moline-Rock Island, IA-IL',
 'Dayton-Kettering-Beavercreek, OH',
 'Decatur, AL',
 'Deltona-Daytona Beach-Ormond Beach, FL',
 'Denver-Aurora-Centennial, CO',
 'Des Moines-West Des Moines, IA',
 'Detroit-Warren-Dearborn, MI',
 'Dothan, AL',
 'Dover, DE',
 'Duluth, MN-WI',
 'Durham-Chapel Hill, NC',
 'Eau Claire, WI',
 'El Paso, TX',
 'Elizabethtown, KY',
 'Elkhart-Goshen, IN',
 'Elmira, NY',
 'Erie, PA',
 'Evansville, IN',
 'Fargo, ND-MN',
 'Fayetteville, NC',
 'Flint, MI',
 'Florence-Muscle Shoals, AL',
 'Fort Wayne, IN',
 'Fresno, CA',
 'Gainesville, FL',
 'Gainesville, GA',
 'Gettysburg, PA',
 'Glens Falls, NY',
 'Grand Rapids-Wyoming-Kentwood, MI',
 'Grants Pass, OR',
 'Greeley, CO',
 'Green Bay, WI',
 'Greensboro-High Point, NC',
 'Greenville, NC',
 'Greenville-Anderson-Greer, SC',
 'Hagerstown-Martinsburg, MD-WV',
 'Hammond, LA',
 'Hanford-Corcoran, CA',
 'Harrisburg-Carlisle, PA',
 'Harrisonburg, VA',
 'Hartford-West Hartford-East Hartford, CT',
 'Hattiesburg, MS',
 'Hickory-Lenoir-Morganton, NC',
 'Hinesville, GA',
 'Hot Springs, AR',
 'Houston-Pasadena-The Woodlands, TX',
 'Huntington-Ashland, WV-KY-OH',
 'Huntsville, AL',
 'Idaho Falls, ID',
 'Indianapolis-Carmel-Greenwood, IN',
 'Iowa City, IA',
 'Ithaca, NY',
 'Jackson, MS',
 'Jacksonville, FL',
 'Janesville-Beloit, WI',
 'Jefferson City, MO',
 'Johnson City, TN',
 'Johnstown, PA',
 'Jonesboro, AR',
 'Joplin, MO-KS',
 'Kalamazoo-Portage, MI',
 'Kankakee, IL',
 'Kansas City, MO-KS',
 'Kennewick-Richland, WA',
 'Kenosha, WI',
 'Kingsport-Bristol, TN-VA',
 'Kingston, NY',
 'Kiryas Joel-Poughkeepsie-Newburgh, NY',
 'Knoxville, TN',
 'Kokomo, IN',
 'La Crosse-Onalaska, WI-MN',
 'Lafayette, LA',
 'Lafayette-West Lafayette, IN',
 'Lake Charles, LA',
 'Lakeland-Winter Haven, FL',
 'Lansing-East Lansing, MI',
 'Las Cruces, NM',
 'Las Vegas-Henderson-North Las Vegas, NV',
 'Lawrence, KS',
 'Lawton, OK',
 'Lebanon, PA',
 'Lewiston-Auburn, ME',
 'Lexington Park, MD',
 'Lexington-Fayette, KY',
 'Lima, OH',
 'Lincoln, NE',
 'Little Rock-North Little Rock-Conway, AR',
 'Longview-Kelso, WA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Louisville-Jefferson County, KY-IN',
 'Lubbock, TX',
 'Macon-Bibb County, GA',
 'Madison, WI',
 'Manchester-Nashua, NH',
 'Mankato, MN',
 'Mansfield, OH',
 'McAllen-Edinburg-Mission, TX',
 'Medford, OR',
 'Memphis, TN-MS-AR',
 'Merced, CA',
 'Miami-Fort Lauderdale-West Palm Beach, FL',
 'Michigan City-La Porte, IN',
 'Midland, MI',
 'Midland, TX',
 'Milwaukee-Waukesha, WI',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'Mobile, AL',
 'Modesto, CA',
 'Monroe, LA',
 'Monroe, MI',
 'Montgomery, AL',
 'Morristown, TN',
 'Mount Vernon-Anacortes, WA',
 'Muncie, IN',
 'Muskegon-Norton Shores, MI',
 'Myrtle Beach-Conway-North Myrtle Beach, SC',
 'Napa, CA',
 'Naples-Marco Island, FL',
 'Nashville-Davidson--Murfreesboro--Franklin, TN',
 'New Haven, CT',
 'New Orleans-Metairie, LA',
 'New York-Newark-Jersey City, NY-NJ',
 'Niles, MI',
 'North Port-Bradenton-Sarasota, FL',
 'Norwich-New London-Willimantic, CT',
 'Odessa, TX',
 'Ogden, UT',
 'Oklahoma City, OK',
 'Olympia-Lacey-Tumwater, WA',
 'Omaha, NE-IA',
 'Orlando-Kissimmee-Sanford, FL',
 'Oshkosh-Neenah, WI',
 'Oxnard-Thousand Oaks-Ventura, CA',
 'Paducah, KY-IL',
 'Parkersburg-Vienna, WV',
 'Peoria, IL',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
 'Phoenix-Mesa-Chandler, AZ',
 'Pinehurst-Southern Pines, NC',
 'Pittsburgh, PA',
 'Port St. Lucie, FL',
 'Portland-South Portland, ME',
 'Portland-Vancouver-Hillsboro, OR-WA',
 'Providence-Warwick, RI-MA',
 'Provo-Orem-Lehi, UT',
 'Pueblo, CO',
 'Punta Gorda, FL',
 'Racine-Mount Pleasant, WI',
 'Raleigh-Cary, NC',
 'Rapid City, SD',
 'Reading, PA',
 'Redding, CA',
 'Reno, NV',
 'Riverside-San Bernardino-Ontario, CA',
 'Rochester, MN',
 'Rochester, NY',
 'Rockford, IL',
 'Rocky Mount, NC',
 'Rome, GA',
 'Sacramento-Roseville-Folsom, CA',
 'Saginaw, MI',
 'Salem, OR',
 'Salisbury, MD',
 'Salt Lake City-Murray, UT',
 'San Antonio-New Braunfels, TX',
 'San Francisco-Oakland-Fremont, CA',
 'San Jose-Sunnyvale-Santa Clara, CA',
 'Sandusky, OH',
 'Santa Cruz-Watsonville, CA',
 'Santa Fe, NM',
 'Savannah, GA',
 'Seattle-Tacoma-Bellevue, WA',
 'Sebastian-Vero Beach-West Vero Corridor, FL',
 'Sherman-Denison, TX',
 'Shreveport-Bossier City, LA',
 'Sioux City, IA-NE-SD',
 'Slidell-Mandeville-Covington, LA',
 'South Bend-Mishawaka, IN-MI',
 'Spartanburg, SC',
 'Spokane-Spokane Valley, WA',
 'Springfield, IL',
 'Springfield, MA',
 'Springfield, OH',
 'St. Cloud, MN',
 'St. Joseph, MO-KS',
 'St. Louis, MO-IL',
 'State College, PA',
 'Staunton-Stuarts Draft, VA',
 'Stockton-Lodi, CA',
 'Sumter, SC',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Trenton-Princeton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tyler, TX',
 'Vallejo, CA',
 'Victoria, TX',
 'Vineland, NJ',
 'Virginia Beach-Chesapeake-Norfolk, VA-NC',
 'Walla Walla, WA',
 'Warner Robins, GA',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Waterbury-Shelton, CT',
 'Wausau, WI',
 'Weirton-Steubenville, WV-OH',
 'Wichita, KS',
 'Wildwood-The Villages, FL',
 'Williamsport, PA',
 'Winchester, VA-WV',
 'Winston-Salem, NC',
 'Worcester, MA',
 'York-Hanover, PA',
 'Youngstown-Warren, OH',
 'Yuba City, CA']

In [32]:
import pandas as pd
import requests
from datetime import datetime

def check_url_exists(url):
    """Check if a URL exists without downloading the full file"""
    try:
        response = requests.head(url)
        return response.status_code == 200
    except:
        return False

def process_2024_data(url):
    """Process data from 2024 onwards"""
    df = pd.read_excel(url, skiprows=7)
    
    # Clean columns
    df.drop(columns=['Metro /Micro Code', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_2022_2023_data(url):
    """Process data from 2022-2023"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Unnamed: 9'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_pre_2022_data(url):
    """Process data from 2021 and earlier"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Monthly Coverage Percent*', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

# Initialize an empty list to store all dataframes
all_dfs = []

# Process each date
for date_str in date_list:
    year = int(date_str[:4])
    
    try:
        # Determine URL format and processing function based on year
        if year >= 2024:
            url = f'https://www.census.gov/construction/bps/xls/cbsamonthly_{date_str}.xls'
            process_func = process_2024_data
        else:
            url = f'https://www.census.gov/construction/bps/xls/msamonthly_{date_str}.xls'
            if year >= 2022:
                process_func = process_2022_2023_data
            else:
                process_func = process_pre_2022_data
        
        # Check if URL exists
        if check_url_exists(url):
            try:
                df = process_func(url)
                all_dfs.append(df)
                print(f"Successfully processed data for {date_str}")
            except Exception as e:
                print(f"Error processing {date_str}: {str(e)}")
                continue
        else:
            print(f"No data available for {date_str}")
            continue
            
    except Exception as e:
        print(f"Error with {date_str}: {str(e)}")
        continue

# Concatenate all dataframes if we have any data
if all_dfs:
    homebuilding = pd.concat(all_dfs, ignore_index=True)
    
    # Convert date column to datetime
    homebuilding['date'] = pd.to_datetime(homebuilding['date'], format='%Y%m')
    
    # Sort by date and other relevant columns
    homebuilding = homebuilding.sort_values(['date', 'Name'], ascending=[False, True])
    
    print(f"\nFinal dataset contains {len(homebuilding)} rows from {len(all_dfs)} different months")
    print(f"Date range: {homebuilding['date'].min()} to {homebuilding['date'].max()}")
else:
    print("No data was successfully processed")
    homebuilding = pd.DataFrame()

No data available for 202412
No data available for 202411

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202410

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202409

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202408

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202407

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202406

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202405

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202404

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202403

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202402

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202401

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202312

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202311

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202310

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202309

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202308

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202307

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202306

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202305

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202304

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202303

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202302

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202301

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202212

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202211

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202210

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202209

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202208

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202207

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202206

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202205

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202204

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202203

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202202

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202201

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202112

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202111

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202110

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202109

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202108

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202107

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202106

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202105

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202104

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202103

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202102

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202101

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202012

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202011

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202010

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202009

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202008

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202007

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202006

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202005

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202004

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202003

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202002

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202001

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 201912

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 201911
No data available for 201910
No data available for 201909
No data available for 201908
No data available for 201907
No data available for 201906
No data available for 201905
No data available for 201904
No data available for 201903
No data available for 201902
No data available for 201901
No data available for 201812

Final dataset contains 27994 rows from 60 different months
Date range: 2019-11-01 00:00:00 to 2024-10-01 00:00:00

In [33]:
# homebuilding['date'] = pd.to_datetime(homebuilding['date'])
homebuilding.dtypes

CSA                                                  float64
CBSA                                                 float64
Name                                                  object
Total                                                float64
1 Unit                                               float64
2 Units                                              float64
3 and 4 Units                                        float64
5 Units or More                                      float64
Num of Structures With 5 Units or More               float64
Total_ytd                                            float64
1 Unit_ytd                                           float64
2 Units_ytd                                          float64
3 and 4 Units_ytd                                    float64
5 Units or More_ytd                                  float64
Num of Structures With 5 Units or More_ytd           float64
date                                          datetime64[ns]
dtype: object

In [34]:
homebuilding.columns

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More',
       'Total_ytd', '1 Unit_ytd', '2 Units_ytd', '3 and 4 Units_ytd',
       '5 Units or More_ytd', 'Num of Structures With 5 Units or More_ytd',
       'date'],
      dtype='object')

In [35]:
# create a 'multi_total' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total'] = homebuilding['1 Unit'] + homebuilding['2 Units'] + homebuilding['3 and 4 Units'] + homebuilding['5 Units or More'] + homebuilding['Num of Structures With 5 Units or More']

# create a 'multi_total_ytd' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total_ytd'] = homebuilding['1 Unit_ytd'] + homebuilding['2 Units_ytd'] + homebuilding['3 and 4 Units_ytd'] + homebuilding['5 Units or More_ytd'] + homebuilding['Num of Structures With 5 Units or More_ytd']

In [36]:
homebuilding

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Total_ytd,1 Unit_ytd,2 Units_ytd,3 and 4 Units_ytd,5 Units or More_ytd,Num of Structures With 5 Units or More_ytd,date,multi_total,multi_total_ytd
0,999.0,10100.0,"Aberdeen, SD",15.0,11.0,4.0,0.0,0.0,0.0,80.0,68.0,8.0,4.0,0.0,0.0,2024-10-01,15.0,80.0
1,999.0,10140.0,"Aberdeen, WA",28.0,25.0,0.0,3.0,0.0,0.0,253.0,216.0,8.0,12.0,17.0,2.0,2024-10-01,28.0,255.0
2,101.0,10180.0,"Abilene, TX",48.0,28.0,20.0,0.0,0.0,0.0,422.0,330.0,92.0,0.0,0.0,0.0,2024-10-01,48.0,422.0
3,999.0,10220.0,"Ada, OK",1.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,2024-10-01,1.0,2.0
4,220.0,10300.0,"Adrian, MI",12.0,12.0,0.0,0.0,0.0,0.0,118.0,118.0,0.0,0.0,0.0,0.0,2024-10-01,12.0,118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27989,148.0,49340.0,"Worcester, MA-CT",18.0,16.0,2.0,0.0,0.0,0.0,219.0,172.0,6.0,0.0,41.0,5.0,2019-11-01,18.0,224.0
27990,999.0,49420.0,"Yakima, WA",52.0,40.0,6.0,0.0,6.0,1.0,823.0,368.0,62.0,23.0,370.0,21.0,2019-11-01,53.0,844.0
27991,276.0,49620.0,"York-Hanover, PA",11.0,7.0,0.0,4.0,0.0,0.0,155.0,96.0,6.0,11.0,42.0,3.0,2019-11-01,11.0,158.0
27992,566.0,49660.0,"Youngstown-Warren-Boardman, OH-PA",13.0,13.0,0.0,0.0,0.0,0.0,200.0,193.0,4.0,3.0,0.0,0.0,2019-11-01,13.0,200.0
27993,999.0,49740.0,"Yuma, AZ",80.0,80.0,0.0,0.0,0.0,0.0,1063.0,1057.0,6.0,0.0,0.0,0.0,2019-11-01,80.0,1063.0

In [37]:
# rename Name to name, Total to total, and Total_ytd to total_ytd
homebuilding.rename(
    columns={
        'Name': 'name',
        'Total': 'total',
        'Total_ytd': 'total_ytd'
    },
    inplace=True
)

homebuilding = homebuilding[['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd']]

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
0,2024-10-01,"Aberdeen, SD",15.0,80.0,15.0,80.0
1,2024-10-01,"Aberdeen, WA",28.0,253.0,28.0,255.0
2,2024-10-01,"Abilene, TX",48.0,422.0,48.0,422.0
3,2024-10-01,"Ada, OK",1.0,2.0,1.0,2.0
4,2024-10-01,"Adrian, MI",12.0,118.0,12.0,118.0
...,...,...,...,...,...,...
27989,2019-11-01,"Worcester, MA-CT",18.0,219.0,18.0,224.0
27990,2019-11-01,"Yakima, WA",52.0,823.0,53.0,844.0
27991,2019-11-01,"York-Hanover, PA",11.0,155.0,11.0,158.0
27992,2019-11-01,"Youngstown-Warren-Boardman, OH-PA",13.0,200.0,13.0,200.0
27993,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0

In [38]:
# # unify the names of the metro areas for new york city
# # replace all instances of 'New York-Newark-Jersey City, NY-NJ-PA' with 'New York-Newark-Jersey City, NY-NJ' 
# homebuilding['name'] = homebuilding['name'].str.replace('New York-Newark-Jersey City, NY-NJ-PA', 'New York-Newark-Jersey City, NY-NJ')

In [39]:
# sort by date with earliest date first
homebuilding = homebuilding.sort_values('date')



homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
27993,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0
27742,2019-11-01,"Fayetteville-Springdale-Rogers, AR-MO",495.0,6303.0,510.0,6400.0
27743,2019-11-01,"Flagstaff, AZ",48.0,650.0,49.0,655.0
27744,2019-11-01,"Flint, MI",18.0,371.0,18.0,372.0
27745,2019-11-01,"Florence, SC",36.0,664.0,37.0,682.0
...,...,...,...,...,...,...
608,2024-10-01,"Oak Harbor, WA",22.0,360.0,22.0,367.0
607,2024-10-01,"Norwich-New London-Willimantic, CT",12.0,446.0,12.0,455.0
606,2024-10-01,"Norwalk, OH",5.0,35.0,5.0,35.0
604,2024-10-01,"North Port-Bradenton-Sarasota, FL",1277.0,13171.0,1284.0,13247.0
0,2024-10-01,"Aberdeen, SD",15.0,80.0,15.0,80.0

In [40]:
# Change the name column so 'Austin-Round Rock-Georgetown, TX' becomes 'Austin, TX'
# Delete every character between the first '-' and the ','
homebuilding['name'] = homebuilding['name'].str.replace(r'-.*?,', ',')
homebuilding

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/2817639881.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  homebuilding['name'] = homebuilding['name'].str.replace(r'-.*?,', ',')

,date,name,total,total_ytd,multi_total,multi_total_ytd
27993,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0
27742,2019-11-01,"Fayetteville, AR-MO",495.0,6303.0,510.0,6400.0
27743,2019-11-01,"Flagstaff, AZ",48.0,650.0,49.0,655.0
27744,2019-11-01,"Flint, MI",18.0,371.0,18.0,372.0
27745,2019-11-01,"Florence, SC",36.0,664.0,37.0,682.0
...,...,...,...,...,...,...
608,2024-10-01,"Oak Harbor, WA",22.0,360.0,22.0,367.0
607,2024-10-01,"Norwich, CT",12.0,446.0,12.0,455.0
606,2024-10-01,"Norwalk, OH",5.0,35.0,5.0,35.0
604,2024-10-01,"North Port, FL",1277.0,13171.0,1284.0,13247.0
0,2024-10-01,"Aberdeen, SD",15.0,80.0,15.0,80.0

In [41]:
# change the name of metro areas to match the names in the metro_areas.json file
homebuilding['name'] = homebuilding['name'].str.replace(r'-.*', '')
homebuilding

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_82795/3585228184.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  homebuilding['name'] = homebuilding['name'].str.replace(r'-.*', '')

,date,name,total,total_ytd,multi_total,multi_total_ytd
27993,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0
27742,2019-11-01,"Fayetteville, AR",495.0,6303.0,510.0,6400.0
27743,2019-11-01,"Flagstaff, AZ",48.0,650.0,49.0,655.0
27744,2019-11-01,"Flint, MI",18.0,371.0,18.0,372.0
27745,2019-11-01,"Florence, SC",36.0,664.0,37.0,682.0
...,...,...,...,...,...,...
608,2024-10-01,"Oak Harbor, WA",22.0,360.0,22.0,367.0
607,2024-10-01,"Norwich, CT",12.0,446.0,12.0,455.0
606,2024-10-01,"Norwalk, OH",5.0,35.0,5.0,35.0
604,2024-10-01,"North Port, FL",1277.0,13171.0,1284.0,13247.0
0,2024-10-01,"Aberdeen, SD",15.0,80.0,15.0,80.0

In [42]:
# Ensure the DataFrame is sorted by 'name' and 'date'
homebuilding = homebuilding.sort_values(by=['name', 'date'])

# Create a 12-month running total column
homebuilding['rt'] = (
    homebuilding.groupby('name')['total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

# Create a 12-month running total column for multi-unit structures
homebuilding['multi_rt'] = (
    homebuilding.groupby('name')['multi_total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
8289,2024-01-01,"Aberdeen, SD",2.0,2.0,2.0,2.0,2.0,2.0
7368,2024-02-01,"Aberdeen, SD",2.0,4.0,2.0,4.0,4.0,4.0
6447,2024-03-01,"Aberdeen, SD",4.0,8.0,4.0,8.0,8.0,8.0
5526,2024-04-01,"Aberdeen, SD",15.0,23.0,15.0,23.0,23.0,23.0
4605,2024-05-01,"Aberdeen, SD",1.0,24.0,1.0,24.0,24.0,24.0
...,...,...,...,...,...,...,...,...
4604,2024-06-01,"Zanesville, OH",19.0,53.0,20.0,56.0,53.0,56.0
3683,2024-07-01,"Zanesville, OH",14.0,67.0,15.0,71.0,67.0,71.0
2762,2024-08-01,"Zanesville, OH",17.0,82.0,18.0,87.0,84.0,89.0
1841,2024-09-01,"Zanesville, OH",15.0,97.0,16.0,103.0,99.0,105.0
920,2024-10-01,"Zanesville, OH",16.0,113.0,17.0,120.0,115.0,122.0

In [43]:
# show the df sorted by multi_total_12_month_running in the max date
homebuilding[homebuilding['date'] == homebuilding['date'].max()].sort_values('multi_rt', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
206,2024-10-01,"Dallas, TX",5893.0,61723.0,5951.0,62233.0,68778.0,69311.0
380,2024-10-01,"Houston, TX",6757.0,55935.0,6791.0,56223.0,63568.0,63842.0
596,2024-10-01,"New York, NY",4168.0,48063.0,4290.0,49068.0,54042.0,55326.0
653,2024-10-01,"Phoenix, AZ",3701.0,38818.0,3729.0,39096.0,46554.0,46950.0
48,2024-10-01,"Atlanta, GA",2634.0,34555.0,2660.0,35306.0,37734.0,38529.0
...,...,...,...,...,...,...,...,...
314,2024-10-01,"Gallup, NM",0.0,1.0,0.0,1.0,1.0,1.0
496,2024-10-01,"Macomb, IL",0.0,0.0,0.0,0.0,0.0,0.0
459,2024-10-01,"Las Vegas, NM",0.0,0.0,0.0,0.0,0.0,0.0
312,2024-10-01,"Galesburg, IL",0.0,0.0,0.0,0.0,0.0,0.0
702,2024-10-01,"Rio Grande City, TX",0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
# population

# read in the population data
metros = pd.read_csv('data/zori_metro_long_clean.csv')

# change 'date' to datetime
metros['date'] = pd.to_datetime(metros['date'])

metros

                  name       date         zori      lat       lng    pop_2023
0         New York, NY 2015-02-01  2255.133793  40.6943  -73.9249  19498249.0
1      Los Angeles, CA 2015-02-01  1814.136486  34.1141 -118.4068  12799100.0
2          Chicago, IL 2015-02-01  1356.915213  41.8375  -87.6866   9262825.0
3           Dallas, TX 2015-02-01  1090.919667  32.7935  -96.7667   8100037.0
4          Houston, TX 2015-02-01  1229.410303  29.7860  -95.3885   7510253.0
...                ...        ...          ...      ...       ...         ...
74608     Mitchell, SD 2024-12-01   737.500000  43.7294  -98.0337         NaN
74609     Wahpeton, ND 2024-12-01   766.500000  46.2722  -96.6118         NaN
74610    Jamestown, ND 2024-12-01  1013.611111  46.9063  -98.6937         NaN
74611     Portales, NM 2024-12-01  1015.158730  34.1754 -103.3565         NaN
74612  Brownsville, TN 2024-12-01   925.000000  35.5890  -89.2578         NaN

[74613 rows x 6 columns]

In [45]:
# merge the population data with the homebuilding data
# merge on 'name' and 'date'
# only include rows where both 'name' and 'date' are in both dataframes
homebuilding_zori = pd.merge(
    homebuilding,
    metros,
    on=['name', 'date'],
    how='inner'
)

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023
0,2024-01-01,"Aberdeen, SD",2.0,2.0,2.0,2.0,2.0,2.0,NaN,45.4649,-98.4686,NaN
1,2024-02-01,"Aberdeen, SD",2.0,4.0,2.0,4.0,4.0,4.0,NaN,45.4649,-98.4686,NaN
2,2024-03-01,"Aberdeen, SD",4.0,8.0,4.0,8.0,8.0,8.0,NaN,45.4649,-98.4686,NaN
3,2024-04-01,"Aberdeen, SD",15.0,23.0,15.0,23.0,23.0,23.0,NaN,45.4649,-98.4686,NaN
4,2024-05-01,"Aberdeen, SD",1.0,24.0,1.0,24.0,24.0,24.0,NaN,45.4649,-98.4686,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24705,2024-06-01,"Zanesville, OH",19.0,53.0,20.0,56.0,53.0,56.0,959.566063,39.9565,-82.0132,NaN
24706,2024-07-01,"Zanesville, OH",14.0,67.0,15.0,71.0,67.0,71.0,964.356198,39.9565,-82.0132,NaN
24707,2024-08-01,"Zanesville, OH",17.0,82.0,18.0,87.0,84.0,89.0,968.839603,39.9565,-82.0132,NaN
24708,2024-09-01,"Zanesville, OH",15.0,97.0,16.0,103.0,99.0,105.0,979.434252,39.9565,-82.0132,NaN
24709,2024-10-01,"Zanesville, OH",16.0,113.0,17.0,120.0,115.0,122.0,977.561342,39.9565,-82.0132,NaN

In [46]:
homebuilding_zori.columns

Index(['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd',
       'rt', 'multi_rt', 'zori', 'lat', 'lng', 'pop_2023'],
      dtype='object')

In [48]:
# create 'total_per_capita' and 'total_ytd_per_capita' columns that divide 'total' and 'total_ytd' by 'pop_2023'
homebuilding_zori['total_pc'] = homebuilding_zori['total'] / homebuilding_zori['pop_2023']
homebuilding_zori['total_ytd_pc'] = homebuilding_zori['total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_pc'] = homebuilding_zori['multi_total'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_ytd_pc'] = homebuilding_zori['multi_total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['rt_pc'] = homebuilding_zori['rt'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_rt_pc'] = homebuilding_zori['multi_rt'] / homebuilding_zori['pop_2023']


# change per capita columns to per 1000
for col in homebuilding_zori.columns:
    if 'pc' in col:
        homebuilding_zori[col] = homebuilding_zori[col] * 1000

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc
0,2024-01-01,"Aberdeen, SD",2.0,2.0,2.0,2.0,2.0,2.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-02-01,"Aberdeen, SD",2.0,4.0,2.0,4.0,4.0,4.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-03-01,"Aberdeen, SD",4.0,8.0,4.0,8.0,8.0,8.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-01,"Aberdeen, SD",15.0,23.0,15.0,23.0,23.0,23.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-05-01,"Aberdeen, SD",1.0,24.0,1.0,24.0,24.0,24.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24705,2024-06-01,"Zanesville, OH",19.0,53.0,20.0,56.0,53.0,56.0,959.566063,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24706,2024-07-01,"Zanesville, OH",14.0,67.0,15.0,71.0,67.0,71.0,964.356198,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24707,2024-08-01,"Zanesville, OH",17.0,82.0,18.0,87.0,84.0,89.0,968.839603,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24708,2024-09-01,"Zanesville, OH",15.0,97.0,16.0,103.0,99.0,105.0,979.434252,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24709,2024-10-01,"Zanesville, OH",16.0,113.0,17.0,120.0,115.0,122.0,977.561342,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# create 'zori_yoy' column that calculates the year-over-year change in 'zori' for each metro area
homebuilding_zori['zori_yoy'] = homebuilding_zori.groupby('name')['zori'].pct_change(12)
homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
0,2024-01-01,"Aberdeen, SD",2.0,2.0,2.0,2.0,2.0,2.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-02-01,"Aberdeen, SD",2.0,4.0,2.0,4.0,4.0,4.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-03-01,"Aberdeen, SD",4.0,8.0,4.0,8.0,8.0,8.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-01,"Aberdeen, SD",15.0,23.0,15.0,23.0,23.0,23.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-05-01,"Aberdeen, SD",1.0,24.0,1.0,24.0,24.0,24.0,NaN,45.4649,-98.4686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24705,2024-06-01,"Zanesville, OH",19.0,53.0,20.0,56.0,53.0,56.0,959.566063,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24706,2024-07-01,"Zanesville, OH",14.0,67.0,15.0,71.0,67.0,71.0,964.356198,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24707,2024-08-01,"Zanesville, OH",17.0,82.0,18.0,87.0,84.0,89.0,968.839603,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24708,2024-09-01,"Zanesville, OH",15.0,97.0,16.0,103.0,99.0,105.0,979.434252,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24709,2024-10-01,"Zanesville, OH",16.0,113.0,17.0,120.0,115.0,122.0,977.561342,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
homebuilding_zori[homebuilding_zori['name'] == 'Austin, TX']

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
1440,2019-11-01,"Austin, TX",1967.0,29479.0,1972.0,29815.0,1967.0,1972.0,1426.857721,30.3005,-97.7522,2473275.0,0.795302,11.919014,0.797323,12.054867,0.795302,0.797323,NaN
1441,2019-12-01,"Austin, TX",2607.0,32025.0,2643.0,32394.0,4574.0,4615.0,1423.209683,30.3005,-97.7522,2473275.0,1.054068,12.948419,1.068624,13.097613,1.849370,1.865947,NaN
1442,2020-01-01,"Austin, TX",4393.0,4393.0,4457.0,4457.0,8967.0,9072.0,1424.692204,30.3005,-97.7522,2473275.0,1.776187,1.776187,1.802064,1.802064,3.625557,3.668011,NaN
1443,2020-02-01,"Austin, TX",3446.0,7429.0,3487.0,7524.0,12413.0,12559.0,1427.926264,30.3005,-97.7522,2473275.0,1.393294,3.003710,1.409872,3.042120,5.018852,5.077883,NaN
1444,2020-03-01,"Austin, TX",2700.0,10546.0,2714.0,10654.0,15113.0,15273.0,1434.921945,30.3005,-97.7522,2473275.0,1.091670,4.263982,1.097330,4.307649,6.110521,6.175213,NaN
1445,2020-04-01,"Austin, TX",3309.0,13875.0,3341.0,14015.0,18422.0,18614.0,1442.682331,30.3005,-97.7522,2473275.0,1.337902,5.609971,1.350840,5.666576,7.448424,7.526054,NaN
1446,2020-05-01,"Austin, TX",2935.0,16782.0,2967.0,16953.0,21357.0,21581.0,1440.253657,30.3005,-97.7522,2473275.0,1.186686,6.785335,1.199624,6.854474,8.635109,8.725677,NaN
1447,2020-06-01,"Austin, TX",2254.0,19052.0,2268.0,19237.0,23611.0,23849.0,1431.306248,30.3005,-97.7522,2473275.0,0.911342,7.703147,0.917003,7.777946,9.546452,9.642680,NaN
1448,2020-07-01,"Austin, TX",3979.0,23073.0,4033.0,23312.0,27590.0,27882.0,1424.480810,30.3005,-97.7522,2473275.0,1.608798,9.328926,1.630631,9.425559,11.155250,11.273312,NaN
1449,2020-08-01,"Austin, TX",3253.0,26325.0,3288.0,26599.0,30843.0,31170.0,1427.103889,30.3005,-97.7522,2473275.0,1.315260,10.643782,1.329411,10.754566,12.470510,12.602723,NaN
1450,2020-09-01,"Austin, TX",4316.0,30621.0,4349.0,30928.0,35159.0,35519.0,1430.528723,30.3005,-97.7522,2473275.0,1.745055,12.380750,1.758397,12.504877,14.215564,14.361120,NaN
1451,2020-10-01,"Austin, TX",2775.0,33441.0,2788.0,33761.0,37934.0,38307.0,1423.787520,30.3005,-97.7522,2473275.0,1.121994,13.520939,1.127250,13.650322,15.337559,15.488371,NaN
1452,2020-11-01,"Austin, TX",3587.0,38910.0,3625.0,39321.0,39554.0,39960.0,1416.510835,30.3005,-97.7522,2473275.0,1.450304,15.732177,1.465668,15.898353,15.992560,16.156715,-0.007252
1453,2020-12-01,"Austin, TX",3680.0,40875.0,3705.0,41264.0,40627.0,41022.0,1413.390488,30.3005,-97.7522,2473275.0,1.487906,16.526670,1.498014,16.683951,16.426398,16.586105,-0.006899
1454,2021-01-01,"Austin, TX",4602.0,4602.0,4649.0,4649.0,40836.0,41214.0,1415.454283,30.3005,-97.7522,2473275.0,1.860691,1.860691,1.879694,1.879694,16.510902,16.663735,-0.006484
1455,2021-02-01,"Austin, TX",4507.0,9070.0,4532.0,9142.0,41897.0,42259.0,1423.908841,30.3005,-97.7522,2473275.0,1.822280,3.667202,1.832388,3.696314,16.939887,17.086252,-0.002813
1456,2021-03-01,"Austin, TX",4473.0,13548.0,4496.0,13643.0,43670.0,44041.0,1438.062888,30.3005,-97.7522,2473275.0,1.808533,5.477757,1.817833,5.516168,17.656751,17.806754,0.002189
1457,2021-04-01,"Austin, TX",4669.0,18880.0,4708.0,19082.0,45030.0,45408.0,1459.618476,30.3005,-97.7522,2473275.0,1.887780,7.633603,1.903549,7.715276,18.206629,18.359463,0.011739
1458,2021-05-01,"Austin, TX",4152.0,23080.0,4183.0,23323.0,46247.0,46624.0,1490.067261,30.3005,-97.7522,2473275.0,1.678746,9.331756,1.691280,9.430007,18.698689,18.851118,0.034587
1459,2021-06-01,"Austin, TX",5367.0,28459.0,5391.0,28726.0,49360.0,49747.0,1528.393436,30.3005,-97.7522,2473275.0,2.169997,11.506606,2.179701,11.614560,19.957344,20.113817,0.067831
1460,2021-07-01,"Austin, TX",3138.0,31597.0,3150.0,31876.0,48519.0,48864.0,1575.335374,30.3005,-97.7522,2473275.0,1.268763,12.775369,1.273615,12.888175,19.617309,19.756800,0.105901
1461,2021-08-01,"Austin, TX",5320.0,36918.0,5373.0,37250.0,50586.0,50949.0,1627.290632,30.3005,-97.7522,2473275.0,2.150994,14.926767,2.172423,15.061002,20.453043,20.599812,0.140275
1462,2021-09-01,"Austin, TX",2481.0,39339.0,2492.0,39676.0,48751.0,49092.0,1676.808014,30.3005,-97.7522,2473275.0,1.003123,15.905631,1.007571,16.041888,19.711112,19.848986,0.172160
1463,2021-10-01,"Austin, TX",3497.0,42820.0,3519.0,43179.0,49473.0,49823.0,1709.351547,30.3005,-97.7522,2473275.0,1.413915,17.313077,1.422810,17.458228,20.003032,20.144545,0.200566
1464,2021-11-01,"Austin, TX",3375.0,46073.0,3428.0,46557.0,49261.0,49626.0,1719.623185,30.3005,-97.7522,2473275.0,1.364587,18.628337,1.386017,18.824029,19.917316,20.064894,0.213985
1465,2021-12-01,"Austin, TX",4716.0,50772.0,4769.0,51309.0,50297.0,50690.0,1715.646757,30.3005,-97.7522,2473275.0,1.906784,20.528247,1.928213,20.745368,20.336194,20.495093,0.213852
1466,2022-01-01,"Austin, TX",3935.0,3935.0,3983.0,3983.0,49630.0,50024.0,1719.336313,30.3005,-97.7522,2473275.0,1.591008,1.591008,1.610415,1.610415,20.066511,20.225814,0.214689
1467,2022-02-01,"Austin, TX",2855.0,6791.0,2871.0,6855.0,47978.0,48363.0,1724.356075,30.3005,-97.7522,2473275.0,1.154340,2.745752,1.160809,2.771629,19.398571,19.554235,0.211002
1468,2022-03-01,"Austin, TX",4968.0,11673.0,5026.0,11793.0,48473.0,48893.0,1742.108918,30.3005,-97.7522,2473275.0,2.008673,4.719653,2.032123,4.768172,19.598710,19.768526,0.211427
1469,2022-04-01,"Austin, TX",4759.0,16599.0,4825.0,16787.0,48563.0,49010.0,1760.205662,30.3005,-97.7522,2473275.0,1.924169,6.711344,1.950855,6.787357,19.635099,19.815831,0.205935
1470,2022-05-01,"Austin, TX",4652.0,21325.0,4700.0,21562.0,49063.0,49527.0,1786.084898,30.3005,-97.7522,2473275.0,1.880907,8.622171,1.900314,8.717995,19.837260,20.024866,0.198661
1471,2022-06-01,"Austin, TX",4758.0,26623.0,4816.0,26919.0,48454.0,48952.0,1809.481236,30.3005,-97.7522,2473275.0,1.923765,10.764270,1.947216,10.883949,19.591028,19.792381,0.183911
1472,2022-07-01,"Austin, TX",3611.0,30209.0,3646.0,30542.0,48927.0,49448.0,1834.354066,30.3005,-97.7522,2473275.0,1.460007,12.214169,1.474159,12.348809,19.782272,19.992924,0.164421
1473,2022-08-01,"Austin, TX",2330.0,32834.0,2350.0,33193.0,45937.0,46425.0,1856.143659,30.3005,-97.7522,2473275.0,0.942071,13.275515,0.950157,13.420667,18.573349,18.770658,0.140634
1474,2022-09-01,"Austin, TX",3191.0,35930.0,3232.0,36318.0,46647.0,47165.0,1858.954596,30.3005,-97.7522,2473275.0,1.290192,14.527297,1.306769,14.684174,18.860418,19.069857,0.108627
1475,2022-10-01,"Austin, TX",3212.0,39015.0,3241.0,39432.0,46362.0,46887.0,1848.960728,30.3005,-97.7522,2473275.0,1.298683,15.774631,1.310408,15.943233,18.745186,18.957455,0.081674
1476,2022-11-01,"Austin, TX",2086.0,41372.0,2114.0,41822.0,45073.0,45573.0,1826.924407,30.3005,-97.7522,2473275.0,0.843416,16.727618,0.854737,16.909563,18.224015,18.426176,0.062398
1477,2022-12-01,"Austin, TX",2179.0,42942.0,2222.0,43400.0,42536.0,43026.0,1806.030624,30.3005,-97.7522,2473275.0,0.881018,17.362404,0.898404,17.547584,17.198249,17.396367,0.052682
1478,2023-01-01,"Austin, TX",1719.0,1719.0,1730.0,1730.0,40320.0,40773.0,1792.936162,30.3005,-97.7522,2473275.0,0.695030,0.695030,0.699477,0.699477,16.302271,16.485429,0.042807
1479,2023-02-01,"Austin, TX",2702.0,4473.0,2736.0,4530.0,40167.0,40638.0,1789.094493,30.3005,-97.7522,2473275.0,1.092479,1.808533,1.106226,1.831580,16.240410,16.430846,0.037544
1480,2023-03-01,"Austin, TX",3428.0,7901.0,3468.0,7998.0,38627.0,39080.0,1793.323368,30.3005,-97.7522,2473275.0,1.386017,3.194550,1.402189,3.233769,15.617754,15.800912,0.029398
1481,2023-04-01,"Austin, TX",2055.0,10880.0,2066.0,11022.0,35923.0,36321.0,1806.122920,30.3005,-97.7522,2473275.0,0.830882,4.399026,0.835330,4.456439,14.524467,14.685387,0.026086
1482,2023-05-01,"Austin, TX",2674.0,13628.0,2709.0,13812.0,33945.0,34330.0,1810.850767,30.3005,-97.7522,2473275.0,1.081158,5.510103,1.095309,5.584498,13.724717,13.880381,0.013866
1483,2023-06-01,"Austin, TX",2715.0,16336.0,2736.0,16539.0,31902.0,32250.0,1817.393777,30.3005,-97.7522,2473275.0,1.097735,6.605008,1.106226,6.687085,12.898687,13.039391,0.004373
1484,2023-07-01,"Austin, TX",3369.0,20097.0,3408.0,20338.0,31660.0,32012.0,1814.041704,30.3005,-97.7522,2473275.0,1.362162,8.125663,1.377930,8.223105,12.800841,12.943162,-0.011073
1485,2023-08-01,"Austin, TX",4761.0,24924.0,4791.0,25207.0,34091.0,34453.0,1813.529735,30.3005,-97.7522,2473275.0,1.924978,10.077327,1.937108,10.191750,13.783748,13.930113,-0.022958
1486,2023-09-01,"Austin, TX",3121.0,29009.0,3140.0,29325.0,34021.0,34361.0,1802.791001,30.3005,-97.7522,2473275.0,1.261890,11.728983,1.269572,11.856749,13.755446,13.892915,-0.030212
1487,2023-10-01,"Austin, TX",4261.0,33143.0,4300.0,33498.0,35070.0,35420.0,1785.200717,30.3005,-97.7522,2473275.0,1.722817,13.400451,1.738585,13.543985,14.179580,14.321092,-0.034484
1488,2023-11-01,"Austin, TX",2384.0,35516.0,2412.0,35899.0,35368.0,35718.0,1766.453515,30.3005,-97.7522,2473275.0,0.963904,14.359907,0.975225,14.514763,14.300068,14.441580,-0.033100
1489,2023-12-01,"Austin, TX",3111.0,38599.0,3124.0,38995.0,36300.0,36620.0,1752.466935,30.3005,-97.7522,2473275.0,1.257846,15.606433,1.263103,15.766544,14.676896,14.806279,-0.029658
1490,2024-01-01,"Austin, TX",3317.0,3317.0,3367.0,3367.0,37898.0,38257.0,1741.926540,30.3005,-97.7522,2473275.0,1.341137,1.341137,1.361353,1.361353,15.323003,15.468155,-0.028450
1491,2024-02-01,"Austin, TX",2081.0,5394.0,2102.0,5465.0,37277.0,37623.0,1735.527450,30.3005,-97.7522,2473275.0,0.841395,2.180914,0.849885,2.209621,15.071919,15.211814,-0.029941
1492,2024-03-01,"Austin, TX",2549.0,7911.0,2562.0,7995.0,36398.0,36717.0,1735.236751,30.3005,-97.7522,2473275.0,1.030617,3.198593,1.035873,3.232556,14.716520,14.845498,-0.032390
1493,2024-04-01,"Austin, TX",2541.0,10450.0,2554.0,10547.0,36884.0,37205.0,1739.948755,30.3005,-97.7522,2473275.0,1.027383,4.225167,1.032639,4.264386,14.913020,15.042808,-0.036639
1494,2024-05-01,"Austin, TX",2569.0,12968.0,2579.0,13073.0,36779.0,37075.0,1748.571845,30.3005,-97.7522,2473275.0,1.038704,5.243250,1.042747,5.285704,14.870566,14.990246,-0.034392
1495,2024-06-01,"Austin, TX",2893.0,15816.0,2918.0,15946.0,36957.0,37257.0,1756.589170,30.3005,-97.7522,2473275.0,1.169704,6.394760,1.179812,6.447322,14.942536,15.063832,-0.033457
1496,2024-07-01,"Austin, TX",3505.0,19426.0,3560.0,19631.0,37093.0,37409.0,1759.965973,30.3005,-97.7522,2473275.0,1.417149,7.854363,1.439387,7.937249,14.997524,15.125289,-0.029810
1497,2024-08-01,"Austin, TX",3011.0,22437.0,3034.0,22665.0,35343.0,35652.0,1755.651163,30.3005,-97.7522,2473275.0,1.217414,9.071777,1.226714,9.163963,14.289960,14.414895,-0.031915
1498,2024-09-01,"Austin, TX",2236.0,24673.0,2249.0,24914.0,34458.0,34761.0,1739.544575,30.3005,-97.7522,2473275.0,0.904064,9.975842,0.909321,10.073283,13.932135,14.054644,-0.035083
1499,2024-10-01,"Austin, TX",2696.0,27343.0,2715.0,27603.0,32893.0,33176.0,1725.891345,30.3005,-97.7522,2473275.0,1.090053,11.055382,1.097735,11.160506,13.299370,13.413793,-0.033223

In [52]:
# sort by multi_rt_pc in the max date and filter to this date
homebuilding_zori[homebuilding_zori['date'] == homebuilding_zori['date'].max()].sort_values('multi_rt_pc', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
18475,2024-10-01,"Raleigh, NC",1454.0,17208.0,1460.0,17292.0,21084.0,21218.0,1755.977429,35.8324,-78.6429,1509231.0,0.963405,11.401833,0.967380,11.457491,13.970028,14.058815,0.001350
1499,2024-10-01,"Austin, TX",2696.0,27343.0,2715.0,27603.0,32893.0,33176.0,1725.891345,30.3005,-97.7522,2473275.0,1.090053,11.055382,1.097735,11.160506,13.299370,13.413793,-0.033223
15931,2024-10-01,"Nashville, TN",1120.0,17069.0,1124.0,17158.0,19783.0,19899.0,1877.896629,36.1715,-86.7842,2102573.0,0.532681,8.118149,0.534583,8.160478,9.408948,9.464118,0.015124
11045,2024-10-01,"Jacksonville, FL",1437.0,13158.0,1439.0,13230.0,16079.0,16184.0,1711.673640,30.3322,-81.6749,1713240.0,0.838762,7.680185,0.839929,7.722211,9.385142,9.446429,0.010405
4283,2024-10-01,"Charlotte, NC",1745.0,22028.0,1749.0,22195.0,26032.0,26224.0,1784.142216,35.2083,-80.8303,2805115.0,0.622078,7.852797,0.623504,7.912332,9.280190,9.348636,0.014107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24545,2024-10-01,"York, PA",147.0,1169.0,148.0,1192.0,1319.0,1343.0,1310.424632,39.9651,-76.7315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.057850
24605,2024-10-01,"Youngstown, OH",36.0,245.0,36.0,245.0,291.0,291.0,1010.451213,41.0993,-80.6463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.076995
24639,2024-10-01,"Yuba City, CA",57.0,721.0,57.0,723.0,781.0,783.0,2121.886939,39.1357,-121.6383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049433
24699,2024-10-01,"Yuma, AZ",129.0,1192.0,131.0,1198.0,1426.0,1437.0,1505.926194,32.5995,-114.5491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047207
24709,2024-10-01,"Zanesville, OH",16.0,113.0,17.0,120.0,115.0,122.0,977.561342,39.9565,-82.0132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# save the final dataset to a csv file
homebuilding_zori.to_csv('data/homebuilding_zori.csv', index=False)