In [1]:
import pandas as pd
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
from typing import List

In [2]:
def generate_year_month_range(end_date: date = None, years_back: int = 6) -> List[str]:
    """
    Generate a list of year-month combinations in 'yyyymm' format,
    starting from the specified end date and going back a specified number of years.

    Args:
        end_date (date, optional): The end date to start from. Defaults to today's date.
        years_back (int, optional): Number of years to go back. Defaults to 6.

    Returns:
        List[str]: List of year-month combinations in 'yyyymm' format, sorted in descending order.

    Example:
        >>> generate_year_month_range()  # If today is 2024-11-14
        ['202411', '202410', '202409', ..., '201812']
    """
    # If no end date is provided, use today's date
    if end_date is None:
        end_date = date.today()

    # Calculate start date
    start_date = end_date - relativedelta(years=years_back)

    # Initialize result list
    date_list = []

    # Current date for iteration
    current_date = end_date

    # Generate dates until we reach start date
    while current_date >= start_date:
        # Format date as 'yyyymm'
        date_str = current_date.strftime('%Y%m')
        date_list.append(date_str)
        # Move to previous month
        current_date -= relativedelta(months=1)

    return date_list

# Example usage
if __name__ == "__main__":
    date_list = generate_year_month_range()
    print(f"Generated {len(date_list)} year-month combinations:")
    print(date_list[:12])  # Print first year as example

Generated 73 year-month combinations:
['202501', '202412', '202411', '202410', '202409', '202408', '202407', '202406', '202405', '202404', '202403', '202402']

In [3]:
import requests

/Users/gabrielmelmed/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [4]:
# read in the metro_areas.json file as a list
import json
with open('data/metro_areas.json') as f:
    metro_areas = json.load(f)

metro_areas

['Abilene, TX',
 'Akron, OH',
 'Albany, OR',
 'Albany-Schenectady-Troy, NY',
 'Albuquerque, NM',
 'Allentown-Bethlehem-Easton, PA-NJ',
 'Altoona, PA',
 'Amarillo, TX',
 'Ames, IA',
 'Amherst Town-Northampton, MA',
 'Ann Arbor, MI',
 'Appleton, WI',
 'Asheville, NC',
 'Athens-Clarke County, GA',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Atlantic City-Hammonton, NJ',
 'Auburn-Opelika, AL',
 'Baltimore-Columbia-Towson, MD',
 'Barnstable Town, MA',
 'Baton Rouge, LA',
 'Battle Creek, MI',
 'Bay City, MI',
 'Birmingham, AL',
 'Bloomington, IL',
 'Bloomington, IN',
 'Boise City, ID',
 'Boston-Cambridge-Newton, MA-NH',
 'Boulder, CO',
 'Bowling Green, KY',
 'Bremerton-Silverdale-Port Orchard, WA',
 'Bridgeport-Stamford-Danbury, CT',
 'Brownsville-Harlingen, TX',
 'Buffalo-Cheektowaga, NY',
 'Burlington, NC',
 'Burlington-South Burlington, VT',
 'Canton-Massillon, OH',
 'Cape Coral-Fort Myers, FL',
 'Cape Girardeau, MO-IL',
 'Carson City, NV',
 'Cedar Rapids, IA',
 'Chambersburg, PA',
 'Champaign-Urbana, IL',
 'Charleston, WV',
 'Charlotte-Concord-Gastonia, NC-SC',
 'Chattanooga, TN-GA',
 'Chicago-Naperville-Elgin, IL-IN',
 'Cincinnati, OH-KY-IN',
 'Cleveland, OH',
 'Cleveland, TN',
 'Coeur dAlene, ID',
 'Columbia, MO',
 'Columbia, SC',
 'Columbus, GA-AL',
 'Columbus, IN',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Corvallis, OR',
 'Dallas-Fort Worth-Arlington, TX',
 'Dalton, GA',
 'Daphne-Fairhope-Foley, AL',
 'Davenport-Moline-Rock Island, IA-IL',
 'Dayton-Kettering-Beavercreek, OH',
 'Decatur, AL',
 'Deltona-Daytona Beach-Ormond Beach, FL',
 'Denver-Aurora-Centennial, CO',
 'Des Moines-West Des Moines, IA',
 'Detroit-Warren-Dearborn, MI',
 'Dothan, AL',
 'Dover, DE',
 'Duluth, MN-WI',
 'Durham-Chapel Hill, NC',
 'Eau Claire, WI',
 'El Paso, TX',
 'Elizabethtown, KY',
 'Elkhart-Goshen, IN',
 'Elmira, NY',
 'Erie, PA',
 'Evansville, IN',
 'Fargo, ND-MN',
 'Fayetteville, NC',
 'Flint, MI',
 'Florence-Muscle Shoals, AL',
 'Fort Wayne, IN',
 'Fresno, CA',
 'Gainesville, FL',
 'Gainesville, GA',
 'Gettysburg, PA',
 'Glens Falls, NY',
 'Grand Rapids-Wyoming-Kentwood, MI',
 'Grants Pass, OR',
 'Greeley, CO',
 'Green Bay, WI',
 'Greensboro-High Point, NC',
 'Greenville, NC',
 'Greenville-Anderson-Greer, SC',
 'Hagerstown-Martinsburg, MD-WV',
 'Hammond, LA',
 'Hanford-Corcoran, CA',
 'Harrisburg-Carlisle, PA',
 'Harrisonburg, VA',
 'Hartford-West Hartford-East Hartford, CT',
 'Hattiesburg, MS',
 'Hickory-Lenoir-Morganton, NC',
 'Hinesville, GA',
 'Hot Springs, AR',
 'Houston-Pasadena-The Woodlands, TX',
 'Huntington-Ashland, WV-KY-OH',
 'Huntsville, AL',
 'Idaho Falls, ID',
 'Indianapolis-Carmel-Greenwood, IN',
 'Iowa City, IA',
 'Ithaca, NY',
 'Jackson, MS',
 'Jacksonville, FL',
 'Janesville-Beloit, WI',
 'Jefferson City, MO',
 'Johnson City, TN',
 'Johnstown, PA',
 'Jonesboro, AR',
 'Joplin, MO-KS',
 'Kalamazoo-Portage, MI',
 'Kankakee, IL',
 'Kansas City, MO-KS',
 'Kennewick-Richland, WA',
 'Kenosha, WI',
 'Kingsport-Bristol, TN-VA',
 'Kingston, NY',
 'Kiryas Joel-Poughkeepsie-Newburgh, NY',
 'Knoxville, TN',
 'Kokomo, IN',
 'La Crosse-Onalaska, WI-MN',
 'Lafayette, LA',
 'Lafayette-West Lafayette, IN',
 'Lake Charles, LA',
 'Lakeland-Winter Haven, FL',
 'Lansing-East Lansing, MI',
 'Las Cruces, NM',
 'Las Vegas-Henderson-North Las Vegas, NV',
 'Lawrence, KS',
 'Lawton, OK',
 'Lebanon, PA',
 'Lewiston-Auburn, ME',
 'Lexington Park, MD',
 'Lexington-Fayette, KY',
 'Lima, OH',
 'Lincoln, NE',
 'Little Rock-North Little Rock-Conway, AR',
 'Longview-Kelso, WA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Louisville-Jefferson County, KY-IN',
 'Lubbock, TX',
 'Macon-Bibb County, GA',
 'Madison, WI',
 'Manchester-Nashua, NH',
 'Mankato, MN',
 'Mansfield, OH',
 'McAllen-Edinburg-Mission, TX',
 'Medford, OR',
 'Memphis, TN-MS-AR',
 'Merced, CA',
 'Miami-Fort Lauderdale-West Palm Beach, FL',
 'Michigan City-La Porte, IN',
 'Midland, MI',
 'Midland, TX',
 'Milwaukee-Waukesha, WI',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'Mobile, AL',
 'Modesto, CA',
 'Monroe, LA',
 'Monroe, MI',
 'Montgomery, AL',
 'Morristown, TN',
 'Mount Vernon-Anacortes, WA',
 'Muncie, IN',
 'Muskegon-Norton Shores, MI',
 'Myrtle Beach-Conway-North Myrtle Beach, SC',
 'Napa, CA',
 'Naples-Marco Island, FL',
 'Nashville-Davidson--Murfreesboro--Franklin, TN',
 'New Haven, CT',
 'New Orleans-Metairie, LA',
 'New York-Newark-Jersey City, NY-NJ',
 'Niles, MI',
 'North Port-Bradenton-Sarasota, FL',
 'Norwich-New London-Willimantic, CT',
 'Odessa, TX',
 'Ogden, UT',
 'Oklahoma City, OK',
 'Olympia-Lacey-Tumwater, WA',
 'Omaha, NE-IA',
 'Orlando-Kissimmee-Sanford, FL',
 'Oshkosh-Neenah, WI',
 'Oxnard-Thousand Oaks-Ventura, CA',
 'Paducah, KY-IL',
 'Parkersburg-Vienna, WV',
 'Peoria, IL',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
 'Phoenix-Mesa-Chandler, AZ',
 'Pinehurst-Southern Pines, NC',
 'Pittsburgh, PA',
 'Port St. Lucie, FL',
 'Portland-South Portland, ME',
 'Portland-Vancouver-Hillsboro, OR-WA',
 'Providence-Warwick, RI-MA',
 'Provo-Orem-Lehi, UT',
 'Pueblo, CO',
 'Punta Gorda, FL',
 'Racine-Mount Pleasant, WI',
 'Raleigh-Cary, NC',
 'Rapid City, SD',
 'Reading, PA',
 'Redding, CA',
 'Reno, NV',
 'Riverside-San Bernardino-Ontario, CA',
 'Rochester, MN',
 'Rochester, NY',
 'Rockford, IL',
 'Rocky Mount, NC',
 'Rome, GA',
 'Sacramento-Roseville-Folsom, CA',
 'Saginaw, MI',
 'Salem, OR',
 'Salisbury, MD',
 'Salt Lake City-Murray, UT',
 'San Antonio-New Braunfels, TX',
 'San Francisco-Oakland-Fremont, CA',
 'San Jose-Sunnyvale-Santa Clara, CA',
 'Sandusky, OH',
 'Santa Cruz-Watsonville, CA',
 'Santa Fe, NM',
 'Savannah, GA',
 'Seattle-Tacoma-Bellevue, WA',
 'Sebastian-Vero Beach-West Vero Corridor, FL',
 'Sherman-Denison, TX',
 'Shreveport-Bossier City, LA',
 'Sioux City, IA-NE-SD',
 'Slidell-Mandeville-Covington, LA',
 'South Bend-Mishawaka, IN-MI',
 'Spartanburg, SC',
 'Spokane-Spokane Valley, WA',
 'Springfield, IL',
 'Springfield, MA',
 'Springfield, OH',
 'St. Cloud, MN',
 'St. Joseph, MO-KS',
 'St. Louis, MO-IL',
 'State College, PA',
 'Staunton-Stuarts Draft, VA',
 'Stockton-Lodi, CA',
 'Sumter, SC',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Trenton-Princeton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tyler, TX',
 'Vallejo, CA',
 'Victoria, TX',
 'Vineland, NJ',
 'Virginia Beach-Chesapeake-Norfolk, VA-NC',
 'Walla Walla, WA',
 'Warner Robins, GA',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Waterbury-Shelton, CT',
 'Wausau, WI',
 'Weirton-Steubenville, WV-OH',
 'Wichita, KS',
 'Wildwood-The Villages, FL',
 'Williamsport, PA',
 'Winchester, VA-WV',
 'Winston-Salem, NC',
 'Worcester, MA',
 'York-Hanover, PA',
 'Youngstown-Warren, OH',
 'Yuba City, CA']

In [5]:
import pandas as pd
import requests
from datetime import datetime

def check_url_exists(url):
    """Check if a URL exists without downloading the full file"""
    try:
        response = requests.head(url)
        return response.status_code == 200
    except:
        return False

def process_2024_data(url):
    """Process data from 2024 onwards"""
    df = pd.read_excel(url, skiprows=7)
    
    # Clean columns
    df.drop(columns=['Metro /Micro Code', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_2022_2023_data(url):
    """Process data from 2022-2023"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Unnamed: 9'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_pre_2022_data(url):
    """Process data from 2021 and earlier"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Monthly Coverage Percent*', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

# Initialize an empty list to store all dataframes
all_dfs = []

# Process each date
for date_str in date_list:
    year = int(date_str[:4])
    
    try:
        # Determine URL format and processing function based on year
        if year >= 2024:
            url = f'https://www.census.gov/construction/bps/xls/cbsamonthly_{date_str}.xls'
            process_func = process_2024_data
        else:
            url = f'https://www.census.gov/construction/bps/xls/msamonthly_{date_str}.xls'
            if year >= 2022:
                process_func = process_2022_2023_data
            else:
                process_func = process_pre_2022_data
        
        # Check if URL exists
        if check_url_exists(url):
            try:
                df = process_func(url)
                all_dfs.append(df)
                print(f"Successfully processed data for {date_str}")
            except Exception as e:
                print(f"Error processing {date_str}: {str(e)}")
                continue
        else:
            print(f"No data available for {date_str}")
            continue
            
    except Exception as e:
        print(f"Error with {date_str}: {str(e)}")
        continue

# Concatenate all dataframes if we have any data
if all_dfs:
    homebuilding = pd.concat(all_dfs, ignore_index=True)
    
    # Convert date column to datetime
    homebuilding['date'] = pd.to_datetime(homebuilding['date'], format='%Y%m')
    
    # Sort by date and other relevant columns
    homebuilding = homebuilding.sort_values(['date', 'Name'], ascending=[False, True])
    
    print(f"\nFinal dataset contains {len(homebuilding)} rows from {len(all_dfs)} different months")
    print(f"Date range: {homebuilding['date'].min()} to {homebuilding['date'].max()}")
else:
    print("No data was successfully processed")
    homebuilding = pd.DataFrame()

No data available for 202501
No data available for 202412

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202411

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202410

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202409

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202408

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202407

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202406

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202405

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202404

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202403

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202402

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202401

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202312

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202311

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202310

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202309

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202308

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202307

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202306

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202305

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202304

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202303

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202302

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202301

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202212

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202211

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202210

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202209

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202208

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202207

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202206

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202205

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202204

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202203

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202202

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202201

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202112

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202111

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202110

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202109

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202108

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202107

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202106

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202105

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202104

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202103

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202102

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202101

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202012

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202011

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202010

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202009

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202008

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202007

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202006

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202005

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202004

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202003

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202002

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 202001

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 201912

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2982068359.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('.1', '_ytd')

Successfully processed data for 201911
No data available for 201910
No data available for 201909
No data available for 201908
No data available for 201907
No data available for 201906
No data available for 201905
No data available for 201904
No data available for 201903
No data available for 201902
No data available for 201901

Final dataset contains 28915 rows from 61 different months
Date range: 2019-11-01 00:00:00 to 2024-11-01 00:00:00

In [6]:
# homebuilding['date'] = pd.to_datetime(homebuilding['date'])
homebuilding.dtypes

CSA                                                  float64
CBSA                                                 float64
Name                                                  object
Total                                                float64
1 Unit                                               float64
2 Units                                              float64
3 and 4 Units                                        float64
5 Units or More                                      float64
Num of Structures With 5 Units or More               float64
Total_ytd                                            float64
1 Unit_ytd                                           float64
2 Units_ytd                                          float64
3 and 4 Units_ytd                                    float64
5 Units or More_ytd                                  float64
Num of Structures With 5 Units or More_ytd           float64
date                                          datetime64[ns]
dtype: object

In [7]:
homebuilding.columns

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More',
       'Total_ytd', '1 Unit_ytd', '2 Units_ytd', '3 and 4 Units_ytd',
       '5 Units or More_ytd', 'Num of Structures With 5 Units or More_ytd',
       'date'],
      dtype='object')

In [8]:
# create a 'multi_total' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total'] = homebuilding['1 Unit'] + homebuilding['2 Units'] + homebuilding['3 and 4 Units'] + homebuilding['5 Units or More'] + homebuilding['Num of Structures With 5 Units or More']

# create a 'multi_total_ytd' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total_ytd'] = homebuilding['1 Unit_ytd'] + homebuilding['2 Units_ytd'] + homebuilding['3 and 4 Units_ytd'] + homebuilding['5 Units or More_ytd'] + homebuilding['Num of Structures With 5 Units or More_ytd']

In [9]:
homebuilding

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More,Total_ytd,1 Unit_ytd,2 Units_ytd,3 and 4 Units_ytd,5 Units or More_ytd,Num of Structures With 5 Units or More_ytd,date,multi_total,multi_total_ytd
0,999.0,10100.0,"Aberdeen, SD",7.0,3.0,4.0,0.0,0.0,0.0,87.0,71.0,12.0,4.0,0.0,0.0,2024-11-01,7.0,87.0
1,999.0,10140.0,"Aberdeen, WA",13.0,13.0,0.0,0.0,0.0,0.0,262.0,225.0,8.0,12.0,17.0,2.0,2024-11-01,13.0,264.0
2,101.0,10180.0,"Abilene, TX",21.0,17.0,4.0,0.0,0.0,0.0,442.0,346.0,96.0,0.0,0.0,0.0,2024-11-01,21.0,442.0
3,999.0,10220.0,"Ada, OK",0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,2024-11-01,0.0,2.0
4,220.0,10300.0,"Adrian, MI",10.0,10.0,0.0,0.0,0.0,0.0,128.0,128.0,0.0,0.0,0.0,0.0,2024-11-01,10.0,128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28910,148.0,49340.0,"Worcester, MA-CT",18.0,16.0,2.0,0.0,0.0,0.0,219.0,172.0,6.0,0.0,41.0,5.0,2019-11-01,18.0,224.0
28911,999.0,49420.0,"Yakima, WA",52.0,40.0,6.0,0.0,6.0,1.0,823.0,368.0,62.0,23.0,370.0,21.0,2019-11-01,53.0,844.0
28912,276.0,49620.0,"York-Hanover, PA",11.0,7.0,0.0,4.0,0.0,0.0,155.0,96.0,6.0,11.0,42.0,3.0,2019-11-01,11.0,158.0
28913,566.0,49660.0,"Youngstown-Warren-Boardman, OH-PA",13.0,13.0,0.0,0.0,0.0,0.0,200.0,193.0,4.0,3.0,0.0,0.0,2019-11-01,13.0,200.0
28914,999.0,49740.0,"Yuma, AZ",80.0,80.0,0.0,0.0,0.0,0.0,1063.0,1057.0,6.0,0.0,0.0,0.0,2019-11-01,80.0,1063.0

In [10]:
# rename Name to name, Total to total, and Total_ytd to total_ytd
homebuilding.rename(
    columns={
        'Name': 'name',
        'Total': 'total',
        'Total_ytd': 'total_ytd'
    },
    inplace=True
)

homebuilding = homebuilding[['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd']]

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
0,2024-11-01,"Aberdeen, SD",7.0,87.0,7.0,87.0
1,2024-11-01,"Aberdeen, WA",13.0,262.0,13.0,264.0
2,2024-11-01,"Abilene, TX",21.0,442.0,21.0,442.0
3,2024-11-01,"Ada, OK",0.0,2.0,0.0,2.0
4,2024-11-01,"Adrian, MI",10.0,128.0,10.0,128.0
...,...,...,...,...,...,...
28910,2019-11-01,"Worcester, MA-CT",18.0,219.0,18.0,224.0
28911,2019-11-01,"Yakima, WA",52.0,823.0,53.0,844.0
28912,2019-11-01,"York-Hanover, PA",11.0,155.0,11.0,158.0
28913,2019-11-01,"Youngstown-Warren-Boardman, OH-PA",13.0,200.0,13.0,200.0
28914,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0

In [11]:
# # unify the names of the metro areas for new york city
# # replace all instances of 'New York-Newark-Jersey City, NY-NJ-PA' with 'New York-Newark-Jersey City, NY-NJ' 
# homebuilding['name'] = homebuilding['name'].str.replace('New York-Newark-Jersey City, NY-NJ-PA', 'New York-Newark-Jersey City, NY-NJ')

In [12]:
# sort by date with earliest date first
homebuilding = homebuilding.sort_values('date')



homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
28914,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0
28663,2019-11-01,"Fayetteville-Springdale-Rogers, AR-MO",495.0,6303.0,510.0,6400.0
28664,2019-11-01,"Flagstaff, AZ",48.0,650.0,49.0,655.0
28665,2019-11-01,"Flint, MI",18.0,371.0,18.0,372.0
28666,2019-11-01,"Florence, SC",36.0,664.0,37.0,682.0
...,...,...,...,...,...,...
608,2024-11-01,"Oak Harbor, WA",23.0,383.0,23.0,390.0
607,2024-11-01,"Norwich-New London-Willimantic, CT",12.0,470.0,12.0,479.0
606,2024-11-01,"Norwalk, OH",2.0,37.0,2.0,37.0
604,2024-11-01,"North Port-Bradenton-Sarasota, FL",693.0,13863.0,694.0,13940.0
0,2024-11-01,"Aberdeen, SD",7.0,87.0,7.0,87.0

In [13]:
# Change the name column so 'Austin-Round Rock-Georgetown, TX' becomes 'Austin, TX'
# Delete every character between the first '-' and the ','
homebuilding['name'] = homebuilding['name'].str.replace(r'-.*?,', ',')
homebuilding

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/2817639881.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  homebuilding['name'] = homebuilding['name'].str.replace(r'-.*?,', ',')

,date,name,total,total_ytd,multi_total,multi_total_ytd
28914,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0
28663,2019-11-01,"Fayetteville, AR-MO",495.0,6303.0,510.0,6400.0
28664,2019-11-01,"Flagstaff, AZ",48.0,650.0,49.0,655.0
28665,2019-11-01,"Flint, MI",18.0,371.0,18.0,372.0
28666,2019-11-01,"Florence, SC",36.0,664.0,37.0,682.0
...,...,...,...,...,...,...
608,2024-11-01,"Oak Harbor, WA",23.0,383.0,23.0,390.0
607,2024-11-01,"Norwich, CT",12.0,470.0,12.0,479.0
606,2024-11-01,"Norwalk, OH",2.0,37.0,2.0,37.0
604,2024-11-01,"North Port, FL",693.0,13863.0,694.0,13940.0
0,2024-11-01,"Aberdeen, SD",7.0,87.0,7.0,87.0

In [14]:
# change the name of metro areas to match the names in the metro_areas.json file
homebuilding['name'] = homebuilding['name'].str.replace(r'-.*', '')
homebuilding

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_23841/3585228184.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  homebuilding['name'] = homebuilding['name'].str.replace(r'-.*', '')

,date,name,total,total_ytd,multi_total,multi_total_ytd
28914,2019-11-01,"Yuma, AZ",80.0,1063.0,80.0,1063.0
28663,2019-11-01,"Fayetteville, AR",495.0,6303.0,510.0,6400.0
28664,2019-11-01,"Flagstaff, AZ",48.0,650.0,49.0,655.0
28665,2019-11-01,"Flint, MI",18.0,371.0,18.0,372.0
28666,2019-11-01,"Florence, SC",36.0,664.0,37.0,682.0
...,...,...,...,...,...,...
608,2024-11-01,"Oak Harbor, WA",23.0,383.0,23.0,390.0
607,2024-11-01,"Norwich, CT",12.0,470.0,12.0,479.0
606,2024-11-01,"Norwalk, OH",2.0,37.0,2.0,37.0
604,2024-11-01,"North Port, FL",693.0,13863.0,694.0,13940.0
0,2024-11-01,"Aberdeen, SD",7.0,87.0,7.0,87.0

In [15]:
# Ensure the DataFrame is sorted by 'name' and 'date'
homebuilding = homebuilding.sort_values(by=['name', 'date'])

# Create a 12-month running total column
homebuilding['rt'] = (
    homebuilding.groupby('name')['total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

# Create a 12-month running total column for multi-unit structures
homebuilding['multi_rt'] = (
    homebuilding.groupby('name')['multi_total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
9210,2024-01-01,"Aberdeen, SD",2.0,2.0,2.0,2.0,2.0,2.0
8289,2024-02-01,"Aberdeen, SD",2.0,4.0,2.0,4.0,4.0,4.0
7368,2024-03-01,"Aberdeen, SD",4.0,8.0,4.0,8.0,8.0,8.0
6447,2024-04-01,"Aberdeen, SD",15.0,23.0,15.0,23.0,23.0,23.0
5526,2024-05-01,"Aberdeen, SD",1.0,24.0,1.0,24.0,24.0,24.0
...,...,...,...,...,...,...,...,...
4604,2024-07-01,"Zanesville, OH",14.0,67.0,15.0,71.0,67.0,71.0
3683,2024-08-01,"Zanesville, OH",17.0,82.0,18.0,87.0,84.0,89.0
2762,2024-09-01,"Zanesville, OH",15.0,97.0,16.0,103.0,99.0,105.0
1841,2024-10-01,"Zanesville, OH",16.0,113.0,17.0,120.0,115.0,122.0
920,2024-11-01,"Zanesville, OH",15.0,128.0,16.0,136.0,130.0,138.0

In [16]:
# show the df sorted by multi_total_12_month_running in the max date
homebuilding[homebuilding['date'] == homebuilding['date'].max()].sort_values('multi_rt', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
206,2024-11-01,"Dallas, TX",4322.0,66043.0,4353.0,66583.0,67954.0,68489.0
380,2024-11-01,"Houston, TX",5099.0,61141.0,5131.0,61460.0,64612.0,64912.0
596,2024-11-01,"New York, NY",4216.0,52213.0,4309.0,53306.0,56155.0,57473.0
653,2024-11-01,"Phoenix, AZ",3654.0,42476.0,3719.0,42819.0,45772.0,46169.0
48,2024-11-01,"Atlanta, GA",2517.0,37058.0,2564.0,37857.0,37694.0,38485.0
...,...,...,...,...,...,...,...,...
314,2024-11-01,"Gallup, NM",0.0,1.0,0.0,1.0,1.0,1.0
459,2024-11-01,"Las Vegas, NM",0.0,0.0,0.0,0.0,0.0,0.0
496,2024-11-01,"Macomb, IL",0.0,0.0,0.0,0.0,0.0,0.0
702,2024-11-01,"Rio Grande City, TX",0.0,0.0,0.0,0.0,0.0,0.0
312,2024-11-01,"Galesburg, IL",0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# population

# read in the population data
metros = pd.read_csv('data/zori_metro_long_clean.csv')

# change 'date' to datetime
metros['date'] = pd.to_datetime(metros['date'])

metros

,name,date,zori,lat,lng,pop_2023
0,"New York, NY",2015-02-01,2255.133793,40.6943,-73.9249,19498249.0
1,"Los Angeles, CA",2015-02-01,1814.136486,34.1141,-118.4068,12799100.0
2,"Chicago, IL",2015-02-01,1356.915213,41.8375,-87.6866,9262825.0
3,"Dallas, TX",2015-02-01,1090.919667,32.7935,-96.7667,8100037.0
4,"Houston, TX",2015-02-01,1229.410303,29.7860,-95.3885,7510253.0
...,...,...,...,...,...,...
5945,"Salt Lake City, UT",2024-12-01,1650.452457,40.7776,-111.9311,1267864.0
5946,"Hartford, CT",2024-12-01,1874.958152,41.7661,-72.6834,1151543.0
5947,"Buffalo, NY",2024-12-01,1344.539267,42.9018,-78.8487,1155604.0
5948,"Birmingham, AL",2024-12-01,1365.603146,33.5279,-86.7971,1184290.0
5949,"Grand Rapids, MI",2024-12-01,1679.715934,42.9619,-85.6562,1162950.0

In [18]:
# merge the population data with the homebuilding data
# merge on 'name' and 'date'
# only include rows where both 'name' and 'date' are in both dataframes
homebuilding_zori = pd.merge(
    homebuilding,
    metros,
    on=['name', 'date'],
    how='inner'
)

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,1828.0,30677.0,1819.0,1828.0,1376.046670,33.7628,-84.4220,6307261.0
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,2401.0,32898.0,4207.0,4229.0,1373.491783,33.7628,-84.4220,6307261.0
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,2932.0,2932.0,7119.0,7161.0,1373.374324,33.7628,-84.4220,6307261.0
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,2758.0,5694.0,9861.0,9919.0,1378.194661,33.7628,-84.4220,6307261.0
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,2227.0,7929.0,12077.0,12146.0,1386.720356,33.7628,-84.4220,6307261.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3045,2024-07-01,"Washington, DC",1983.0,13587.0,2006.0,13728.0,22572.0,22822.0,2365.897539,38.9047,-77.0163,6304975.0
3046,2024-08-01,"Washington, DC",2137.0,15660.0,2159.0,15822.0,22460.0,22694.0,2381.806738,38.9047,-77.0163,6304975.0
3047,2024-09-01,"Washington, DC",900.0,16477.0,910.0,16648.0,21885.0,22115.0,2390.051806,38.9047,-77.0163,6304975.0
3048,2024-10-01,"Washington, DC",1801.0,19004.0,1813.0,19185.0,21838.0,22060.0,2389.848641,38.9047,-77.0163,6304975.0
3049,2024-11-01,"Washington, DC",1124.0,20058.0,1135.0,20249.0,21457.0,21670.0,2379.846903,38.9047,-77.0163,6304975.0

In [19]:
homebuilding_zori.columns

Index(['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd',
       'rt', 'multi_rt', 'zori', 'lat', 'lng', 'pop_2023'],
      dtype='object')

In [20]:
# create 'total_per_capita' and 'total_ytd_per_capita' columns that divide 'total' and 'total_ytd' by 'pop_2023'
homebuilding_zori['total_pc'] = homebuilding_zori['total'] / homebuilding_zori['pop_2023']
homebuilding_zori['total_ytd_pc'] = homebuilding_zori['total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_pc'] = homebuilding_zori['multi_total'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_ytd_pc'] = homebuilding_zori['multi_total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['rt_pc'] = homebuilding_zori['rt'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_rt_pc'] = homebuilding_zori['multi_rt'] / homebuilding_zori['pop_2023']


# change per capita columns to per 1000
for col in homebuilding_zori.columns:
    if 'pc' in col:
        homebuilding_zori[col] = homebuilding_zori[col] * 1000

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,1828.0,30677.0,1819.0,1828.0,1376.046670,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.289825,4.863759,0.288398,0.289825
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,2401.0,32898.0,4207.0,4229.0,1373.491783,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.380672,5.215893,0.667009,0.670497
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,2932.0,2932.0,7119.0,7161.0,1373.374324,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.464861,0.464861,1.128699,1.135358
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,2758.0,5694.0,9861.0,9919.0,1378.194661,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.437274,0.902769,1.563436,1.572632
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,2227.0,7929.0,12077.0,12146.0,1386.720356,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.353085,1.257123,1.914777,1.925717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,2024-07-01,"Washington, DC",1983.0,13587.0,2006.0,13728.0,22572.0,22822.0,2365.897539,38.9047,-77.0163,6304975.0,0.314514,2.154965,0.318161,2.177328,3.580030,3.619681
3046,2024-08-01,"Washington, DC",2137.0,15660.0,2159.0,15822.0,22460.0,22694.0,2381.806738,38.9047,-77.0163,6304975.0,0.338939,2.483753,0.342428,2.509447,3.562266,3.599380
3047,2024-09-01,"Washington, DC",900.0,16477.0,910.0,16648.0,21885.0,22115.0,2390.051806,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.144330,2.640455,3.471068,3.507548
3048,2024-10-01,"Washington, DC",1801.0,19004.0,1813.0,19185.0,21838.0,22060.0,2389.848641,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.287551,3.042835,3.463614,3.498824
3049,2024-11-01,"Washington, DC",1124.0,20058.0,1135.0,20249.0,21457.0,21670.0,2379.846903,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.180017,3.211591,3.403186,3.436968

In [21]:
# create 'zori_yoy' column that calculates the year-over-year change in 'zori' for each metro area
homebuilding_zori['zori_yoy'] = homebuilding_zori.groupby('name')['zori'].pct_change(12)
homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,1828.0,30677.0,1819.0,1828.0,1376.046670,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.289825,4.863759,0.288398,0.289825,NaN
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,2401.0,32898.0,4207.0,4229.0,1373.491783,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.380672,5.215893,0.667009,0.670497,NaN
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,2932.0,2932.0,7119.0,7161.0,1373.374324,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.464861,0.464861,1.128699,1.135358,NaN
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,2758.0,5694.0,9861.0,9919.0,1378.194661,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.437274,0.902769,1.563436,1.572632,NaN
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,2227.0,7929.0,12077.0,12146.0,1386.720356,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.353085,1.257123,1.914777,1.925717,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,2024-07-01,"Washington, DC",1983.0,13587.0,2006.0,13728.0,22572.0,22822.0,2365.897539,38.9047,-77.0163,6304975.0,0.314514,2.154965,0.318161,2.177328,3.580030,3.619681,0.050730
3046,2024-08-01,"Washington, DC",2137.0,15660.0,2159.0,15822.0,22460.0,22694.0,2381.806738,38.9047,-77.0163,6304975.0,0.338939,2.483753,0.342428,2.509447,3.562266,3.599380,0.050124
3047,2024-09-01,"Washington, DC",900.0,16477.0,910.0,16648.0,21885.0,22115.0,2390.051806,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.144330,2.640455,3.471068,3.507548,0.049168
3048,2024-10-01,"Washington, DC",1801.0,19004.0,1813.0,19185.0,21838.0,22060.0,2389.848641,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.287551,3.042835,3.463614,3.498824,0.047615
3049,2024-11-01,"Washington, DC",1124.0,20058.0,1135.0,20249.0,21457.0,21670.0,2379.846903,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.180017,3.211591,3.403186,3.436968,0.044880

In [22]:
# sort by multi_rt_pc in the max date and filter to this date
homebuilding_zori[homebuilding_zori['date'] == homebuilding_zori['date'].max()].sort_values('rt_pc', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
121,2024-11-01,"Austin, TX",3059.0,30193.0,3082.0,30494.0,33568.0,33846.0,1708.494615,30.3005,-97.7522,2473275.0,1.236822,12.207700,1.246121,12.329401,13.572288,13.684689,-0.032811
2256,2024-11-01,"Raleigh, NC",879.0,18087.0,881.0,18173.0,20304.0,20418.0,1745.296204,35.8324,-78.6429,1509231.0,0.582416,11.984249,0.583741,12.041232,13.453209,13.528744,0.003932
1707,2024-11-01,"Nashville, TN",1633.0,18699.0,1639.0,18793.0,19830.0,19941.0,1866.113550,36.1715,-86.7842,2102573.0,0.776667,8.893389,0.779521,8.938096,9.431302,9.484094,0.015025
426,2024-11-01,"Charlotte, NC",1786.0,23814.0,1801.0,23996.0,25936.0,26132.0,1775.160145,35.2083,-80.8303,2805115.0,0.636694,8.489492,0.642041,8.554373,9.245967,9.315839,0.013154
1158,2024-11-01,"Jacksonville, FL",785.0,13943.0,785.0,14015.0,15766.0,15863.0,1709.775642,30.3322,-81.6749,1713240.0,0.458196,8.138381,0.458196,8.180407,9.202447,9.259065,0.015999
2012,2024-11-01,"Phoenix, AZ",3654.0,42476.0,3719.0,42819.0,45772.0,46169.0,1825.953865,33.5722,-112.0892,5070110.0,0.720694,8.377728,0.733515,8.445379,9.027812,9.106114,0.008782
1036,2024-11-01,"Houston, TX",5099.0,61141.0,5131.0,61460.0,64612.0,64912.0,1696.645183,29.7860,-95.3885,7510253.0,0.678939,8.141004,0.683199,8.183479,8.603172,8.643118,0.027611
731,2024-11-01,"Dallas, TX",4322.0,66043.0,4353.0,66583.0,67954.0,68489.0,1743.874174,32.7935,-96.7667,8100037.0,0.533578,8.153420,0.537405,8.220086,8.389344,8.455393,0.002903
1890,2024-11-01,"Orlando, FL",1388.0,21421.0,1392.0,21597.0,22901.0,23078.0,2010.439552,28.4773,-81.3370,2817933.0,0.492560,7.601671,0.493979,7.664128,8.126879,8.189691,0.013152
2927,2024-11-01,"Tampa, FL",921.0,20057.0,923.0,20357.0,22665.0,22987.0,2049.558445,27.9945,-82.4447,3342963.0,0.275504,5.999767,0.276102,6.089508,6.779914,6.876235,0.018009
2317,2024-11-01,"Richmond, VA",1225.0,7934.0,1243.0,7994.0,8552.0,8626.0,1652.146144,37.5295,-77.4756,1349732.0,0.907588,5.878204,0.920924,5.922657,6.336073,6.390898,0.054061
60,2024-11-01,"Atlanta, GA",2517.0,37058.0,2564.0,37857.0,37694.0,38485.0,1894.708635,33.7628,-84.4220,6307261.0,0.399064,5.875451,0.406516,6.002130,5.976287,6.101698,0.014618
1280,2024-11-01,"Las Vegas, NV",1188.0,13741.0,1203.0,13812.0,13869.0,13934.0,1786.921852,36.2333,-115.2654,2336573.0,0.508437,5.880835,0.514857,5.911221,5.935616,5.963434,0.026272
670,2024-11-01,"Columbus, OH",521.0,12106.0,531.0,12320.0,12685.0,12902.0,1498.775385,39.9862,-82.9855,2180271.0,0.238961,5.552521,0.243548,5.650674,5.818084,5.917613,0.054582
792,2024-11-01,"Denver, CO",1115.0,14198.0,1129.0,14360.0,17026.0,17233.0,1979.335278,39.7620,-104.8758,3005131.0,0.371032,4.724586,0.375691,4.778494,5.665643,5.734525,0.010968
1097,2024-11-01,"Indianapolis, IN",792.0,10644.0,803.0,10731.0,11724.0,11837.0,1522.703927,39.7771,-86.1458,2138468.0,0.370359,4.977395,0.375502,5.018078,5.482429,5.535271,0.046286
2561,2024-11-01,"San Antonio, TX",1078.0,13492.0,1101.0,13679.0,13880.0,14072.0,1450.018112,29.4632,-98.5238,2703999.0,0.398669,4.989647,0.407175,5.058804,5.133138,5.204144,-0.004677
2500,2024-11-01,"Salt Lake City, UT",579.0,5414.0,590.0,5484.0,6251.0,6334.0,1665.650706,40.7776,-111.9311,1267864.0,0.456674,4.270174,0.465350,4.325385,4.930340,4.995804,0.016908
1829,2024-11-01,"Oklahoma City, OK",505.0,6368.0,505.0,6398.0,7124.0,7166.0,1374.992809,35.4676,-97.5136,1477926.0,0.341695,4.308741,0.341695,4.329039,4.820268,4.848687,0.038154
2439,2024-11-01,"Sacramento, CA",787.0,10479.0,798.0,10557.0,11216.0,11299.0,2297.842434,38.5677,-121.4685,2420608.0,0.325125,4.329078,0.329669,4.361301,4.633547,4.667836,0.034787
1402,2024-11-01,"Louisville, KY",377.0,5396.0,382.0,5455.0,6269.0,6354.0,1382.539853,38.1663,-85.6485,1365557.0,0.276078,3.951501,0.279739,3.994707,4.590801,4.653046,0.064858
1219,2024-11-01,"Kansas City, MO",479.0,8878.0,481.0,8985.0,9631.0,9744.0,1442.074684,39.1238,-94.5541,2221343.0,0.215635,3.996681,0.216536,4.044850,4.335665,4.386536,0.056153
2805,2024-11-01,"Seattle, WA",1254.0,15722.0,1268.0,15931.0,17177.0,17449.0,2228.844768,47.6211,-122.3244,4044837.0,0.310025,3.886930,0.313486,3.938601,4.246648,4.313894,0.035385
1646,2024-11-01,"Minneapolis, MN",1396.0,13682.0,1407.0,13809.0,15243.0,15425.0,1662.225471,44.9635,-93.2678,3712020.0,0.376076,3.685864,0.379039,3.720077,4.106390,4.155419,0.033898
2134,2024-11-01,"Portland, OR",821.0,8323.0,829.0,8410.0,8795.0,8898.0,1853.401324,45.5371,-122.6500,2508050.0,0.327346,3.318514,0.330536,3.353203,3.506708,3.547776,0.037236
3049,2024-11-01,"Washington, DC",1124.0,20058.0,1135.0,20249.0,21457.0,21670.0,2379.846903,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.180017,3.211591,3.403186,3.436968,0.044880
914,2024-11-01,"Grand Rapids, MI",254.0,3832.0,260.0,3895.0,3936.0,4008.0,1689.096810,42.9619,-85.6562,1162950.0,0.218410,3.295069,0.223569,3.349241,3.384496,3.446408,0.049709
2622,2024-11-01,"San Diego, CA",1078.0,10694.0,1087.0,10962.0,10998.0,11263.0,3019.526062,32.8313,-117.1222,3269973.0,0.329666,3.270363,0.332419,3.352321,3.363331,3.444371,0.018510
243,2024-11-01,"Birmingham, AL",217.0,3486.0,218.0,3502.0,3973.0,4007.0,1364.750631,33.5279,-86.7971,1184290.0,0.183232,2.943536,0.184077,2.957046,3.354753,3.383462,0.046250
2378,2024-11-01,"Riverside, CA",769.0,13270.0,774.0,13437.0,15218.0,15458.0,2545.700346,33.9381,-117.3949,4688053.0,0.164034,2.830599,0.165101,2.866222,3.246124,3.297318,0.034785
1463,2024-11-01,"Memphis, TN",241.0,4088.0,241.0,4134.0,4256.0,4299.0,1461.008518,35.1087,-89.9663,1335674.0,0.180433,3.060627,0.180433,3.095067,3.186406,3.218600,0.050790
548,2024-11-01,"Cincinnati, OH",499.0,6714.0,511.0,6848.0,6964.0,7102.0,1542.453429,39.1413,-84.5060,2271479.0,0.219681,2.955783,0.224964,3.014776,3.065844,3.126597,0.056547
2988,2024-11-01,"Virginia Beach, VA",716.0,4457.0,722.0,4480.0,5420.0,5459.0,1764.532136,36.7335,-76.0435,1787169.0,0.400634,2.493888,0.403991,2.506758,3.032729,3.054552,0.051433
1768,2024-11-01,"New York, NY",4216.0,52213.0,4309.0,53306.0,56155.0,57473.0,3236.886437,40.6943,-73.9249,19498249.0,0.216225,2.677830,0.220994,2.733887,2.880002,2.947598,0.031887
1524,2024-11-01,"Miami, FL",1349.0,15350.0,1368.0,15619.0,16700.0,17045.0,2733.384341,25.7840,-80.2101,6183199.0,0.218172,2.482534,0.221245,2.526039,2.700867,2.756664,0.021709
1585,2024-11-01,"Milwaukee, WI",414.0,3750.0,416.0,3811.0,3925.0,3989.0,1333.401885,43.0642,-87.9675,1560424.0,0.265313,2.403193,0.266594,2.442285,2.515342,2.556356,0.044742
2073,2024-11-01,"Pittsburgh, PA",471.0,5120.0,476.0,5164.0,5924.0,5975.0,1443.523938,40.4397,-79.9763,2422725.0,0.194409,2.113323,0.196473,2.131484,2.445181,2.466231,0.048281
2866,2024-11-01,"St. Louis, MO",686.0,6215.0,700.0,6316.0,6804.0,6924.0,1364.581588,38.6359,-90.2451,2796999.0,0.245263,2.222024,0.250268,2.258135,2.432607,2.475510,0.053013
304,2024-11-01,"Boston, MA",695.0,10477.0,720.0,10768.0,11878.0,12213.0,2923.945062,42.3188,-71.0852,4919179.0,0.141284,2.129827,0.146366,2.188983,2.414631,2.482731,0.029901
182,2024-11-01,"Baltimore, MD",402.0,5615.0,406.0,5645.0,6422.0,6480.0,1864.933022,39.3051,-76.6144,2834316.0,0.141833,1.981078,0.143244,1.991662,2.265802,2.286266,0.041861
2744,2024-11-01,"San Jose, CA",204.0,3929.0,208.0,3967.0,4388.0,4452.0,3316.953412,37.3012,-121.8480,1945767.0,0.104843,2.019255,0.106899,2.038785,2.255152,2.288044,0.041364
1951,2024-11-01,"Philadelphia, PA",1369.0,12816.0,1392.0,13042.0,13478.0,13727.0,1857.181167,40.0077,-75.1339,6246160.0,0.219175,2.051821,0.222857,2.088003,2.157806,2.197670,0.037825
1341,2024-11-01,"Los Angeles, CA",2860.0,22911.0,2890.0,23252.0,26984.0,27404.0,2943.561915,34.1141,-118.4068,12799100.0,0.223453,1.790048,0.225797,1.816690,2.108273,2.141088,0.026292
487,2024-11-01,"Chicago, IL",1649.0,16340.0,1673.0,16647.0,16987.0,17295.0,1983.479623,41.8375,-87.6866,9262825.0,0.178023,1.764041,0.180614,1.797184,1.833890,1.867141,0.051640
609,2024-11-01,"Cleveland, OH",289.0,3620.0,291.0,3640.0,3655.0,3679.0,1350.839312,41.4764,-81.6805,2063132.0,0.140078,1.754614,0.141048,1.764308,1.771578,1.783211,0.069599
975,2024-11-01,"Hartford, CT",365.0,1994.0,372.0,2042.0,2026.0,2085.0,1876.735406,41.7661,-72.6834,1151543.0,0.316966,1.731590,0.323045,1.773273,1.759379,1.810614,0.072057
853,2024-11-01,"Detroit, MI",768.0,6952.0,776.0,7058.0,7274.0,7385.0,1469.982215,42.3834,-83.1024,4342304.0,0.176865,1.600993,0.178707,1.625404,1.675148,1.700710,0.054565
2683,2024-11-01,"San Francisco, CA",292.0,5530.0,298.0,5632.0,6387.0,6500.0,3018.595477,37.7558,-122.4449,4566961.0,0.063937,1.210871,0.065251,1.233205,1.398523,1.423266,0.024857
365,2024-11-01,"Buffalo, NY",71.0,1338.0,72.0,1382.0,1425.0,1471.0,1340.183994,42.9018,-78.8487,1155604.0,0.061440,1.157836,0.062305,1.195911,1.233121,1.272927,0.053459
2195,2024-11-01,"Providence, RI",136.0,2322.0,136.0,2343.0,1997.0,2011.0,2093.353217,41.8230,-71.4187,1677803.0,0.081058,1.383953,0.081058,1.396469,1.190247,1.198591,0.058018

In [23]:

with open('data/top_metros.json') as f:
    top_metros = json.load(f)

# filter to only the top metros
homebuilding_zori = homebuilding_zori[homebuilding_zori['name'].isin(top_metros)]

In [24]:
homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,1828.0,30677.0,1819.0,1828.0,1376.046670,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.289825,4.863759,0.288398,0.289825,NaN
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,2401.0,32898.0,4207.0,4229.0,1373.491783,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.380672,5.215893,0.667009,0.670497,NaN
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,2932.0,2932.0,7119.0,7161.0,1373.374324,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.464861,0.464861,1.128699,1.135358,NaN
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,2758.0,5694.0,9861.0,9919.0,1378.194661,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.437274,0.902769,1.563436,1.572632,NaN
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,2227.0,7929.0,12077.0,12146.0,1386.720356,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.353085,1.257123,1.914777,1.925717,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,2024-07-01,"Washington, DC",1983.0,13587.0,2006.0,13728.0,22572.0,22822.0,2365.897539,38.9047,-77.0163,6304975.0,0.314514,2.154965,0.318161,2.177328,3.580030,3.619681,0.050730
3046,2024-08-01,"Washington, DC",2137.0,15660.0,2159.0,15822.0,22460.0,22694.0,2381.806738,38.9047,-77.0163,6304975.0,0.338939,2.483753,0.342428,2.509447,3.562266,3.599380,0.050124
3047,2024-09-01,"Washington, DC",900.0,16477.0,910.0,16648.0,21885.0,22115.0,2390.051806,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.144330,2.640455,3.471068,3.507548,0.049168
3048,2024-10-01,"Washington, DC",1801.0,19004.0,1813.0,19185.0,21838.0,22060.0,2389.848641,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.287551,3.042835,3.463614,3.498824,0.047615
3049,2024-11-01,"Washington, DC",1124.0,20058.0,1135.0,20249.0,21457.0,21670.0,2379.846903,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.180017,3.211591,3.403186,3.436968,0.044880

In [26]:
# Create a 'state' column by extracting the state abbreviation from the 'name' column
homebuilding_zori['state'] = homebuilding_zori['name'].str.split(', ').str[-1]

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy,state
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,1828.0,30677.0,1819.0,1828.0,1376.046670,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.289825,4.863759,0.288398,0.289825,NaN,GA
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,2401.0,32898.0,4207.0,4229.0,1373.491783,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.380672,5.215893,0.667009,0.670497,NaN,GA
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,2932.0,2932.0,7119.0,7161.0,1373.374324,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.464861,0.464861,1.128699,1.135358,NaN,GA
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,2758.0,5694.0,9861.0,9919.0,1378.194661,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.437274,0.902769,1.563436,1.572632,NaN,GA
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,2227.0,7929.0,12077.0,12146.0,1386.720356,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.353085,1.257123,1.914777,1.925717,NaN,GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,2024-07-01,"Washington, DC",1983.0,13587.0,2006.0,13728.0,22572.0,22822.0,2365.897539,38.9047,-77.0163,6304975.0,0.314514,2.154965,0.318161,2.177328,3.580030,3.619681,0.050730,DC
3046,2024-08-01,"Washington, DC",2137.0,15660.0,2159.0,15822.0,22460.0,22694.0,2381.806738,38.9047,-77.0163,6304975.0,0.338939,2.483753,0.342428,2.509447,3.562266,3.599380,0.050124,DC
3047,2024-09-01,"Washington, DC",900.0,16477.0,910.0,16648.0,21885.0,22115.0,2390.051806,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.144330,2.640455,3.471068,3.507548,0.049168,DC
3048,2024-10-01,"Washington, DC",1801.0,19004.0,1813.0,19185.0,21838.0,22060.0,2389.848641,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.287551,3.042835,3.463614,3.498824,0.047615,DC
3049,2024-11-01,"Washington, DC",1124.0,20058.0,1135.0,20249.0,21457.0,21670.0,2379.846903,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.180017,3.211591,3.403186,3.436968,0.044880,DC

In [ ]:
regions = pd.read_csv('data/regions.csv')

# merge
homebuilding_zori = pd.merge(
    homebuilding_zori,
    regions,
    on='state',
    how='left'
)

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,...,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy,state,region
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,1828.0,30677.0,1819.0,1828.0,1376.046670,33.7628,...,6307261.0,0.288398,4.837758,0.289825,4.863759,0.288398,0.289825,NaN,GA,Southeast
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,2401.0,32898.0,4207.0,4229.0,1373.491783,33.7628,...,6307261.0,0.378611,5.189099,0.380672,5.215893,0.667009,0.670497,NaN,GA,Southeast
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,2932.0,2932.0,7119.0,7161.0,1373.374324,33.7628,...,6307261.0,0.461690,0.461690,0.464861,0.464861,1.128699,1.135358,NaN,GA,Southeast
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,2758.0,5694.0,9861.0,9919.0,1378.194661,33.7628,...,6307261.0,0.434737,0.897537,0.437274,0.902769,1.563436,1.572632,NaN,GA,Southeast
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,2227.0,7929.0,12077.0,12146.0,1386.720356,33.7628,...,6307261.0,0.351341,1.249829,0.353085,1.257123,1.914777,1.925717,NaN,GA,Southeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,2024-07-01,"Washington, DC",1983.0,13587.0,2006.0,13728.0,22572.0,22822.0,2365.897539,38.9047,...,6304975.0,0.314514,2.154965,0.318161,2.177328,3.580030,3.619681,0.050730,DC,Northest
3046,2024-08-01,"Washington, DC",2137.0,15660.0,2159.0,15822.0,22460.0,22694.0,2381.806738,38.9047,...,6304975.0,0.338939,2.483753,0.342428,2.509447,3.562266,3.599380,0.050124,DC,Northest
3047,2024-09-01,"Washington, DC",900.0,16477.0,910.0,16648.0,21885.0,22115.0,2390.051806,38.9047,...,6304975.0,0.142744,2.613333,0.144330,2.640455,3.471068,3.507548,0.049168,DC,Northest
3048,2024-10-01,"Washington, DC",1801.0,19004.0,1813.0,19185.0,21838.0,22060.0,2389.848641,38.9047,...,6304975.0,0.285647,3.014128,0.287551,3.042835,3.463614,3.498824,0.047615,DC,Northest
3049,2024-11-01,"Washington, DC",1124.0,20058.0,1135.0,20249.0,21457.0,21670.0,2379.846903,38.9047,...,6304975.0,0.178272,3.181297,0.180017,3.211591,3.403186,3.436968,0.044880,DC,Northest

In [29]:
# save the final dataset to a csv file
homebuilding_zori.to_csv('data/homebuilding_zori.csv', index=False)