In [1]:
import pandas as pd
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
from typing import List
import re

In [2]:
def generate_year_month_range(end_date: date = None, years_back: int = 6) -> List[str]:
    """
    Generate a list of year-month combinations in 'yyyymm' format,
    starting from the specified end date and going back a specified number of years.

    Args:
        end_date (date, optional): The end date to start from. Defaults to today's date.
        years_back (int, optional): Number of years to go back. Defaults to 6.

    Returns:
        List[str]: List of year-month combinations in 'yyyymm' format, sorted in descending order.

    Example:
        >>> generate_year_month_range()  # If today is 2024-11-14
        ['202411', '202410', '202409', ..., '201812']
    """
    # If no end date is provided, use today's date
    if end_date is None:
        end_date = date.today()

    # Calculate start date
    start_date = end_date - relativedelta(years=years_back)

    # Initialize result list
    date_list = []

    # Current date for iteration
    current_date = end_date

    # Generate dates until we reach start date
    while current_date >= start_date:
        # Format date as 'yyyymm'
        date_str = current_date.strftime('%Y%m')
        date_list.append(date_str)
        # Move to previous month
        current_date -= relativedelta(months=1)

    return date_list

# Example usage
if __name__ == "__main__":
    date_list = generate_year_month_range()
    print(f"Generated {len(date_list)} year-month combinations:")
    print(date_list[:12])  # Print first year as example

Generated 73 year-month combinations:
['202503', '202502', '202501', '202412', '202411', '202410', '202409', '202408', '202407', '202406', '202405', '202404']

In [3]:
import requests

In [4]:
# read in the metro_areas.json file as a list
import json
with open('data/metro_areas.json') as f:
    metro_areas = json.load(f)

metro_areas

['Abilene, TX',
 'Akron, OH',
 'Albany, OR',
 'Albany-Schenectady-Troy, NY',
 'Albuquerque, NM',
 'Allentown-Bethlehem-Easton, PA-NJ',
 'Altoona, PA',
 'Amarillo, TX',
 'Ames, IA',
 'Amherst Town-Northampton, MA',
 'Ann Arbor, MI',
 'Appleton, WI',
 'Asheville, NC',
 'Athens-Clarke County, GA',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Atlantic City-Hammonton, NJ',
 'Auburn-Opelika, AL',
 'Baltimore-Columbia-Towson, MD',
 'Barnstable Town, MA',
 'Baton Rouge, LA',
 'Battle Creek, MI',
 'Bay City, MI',
 'Birmingham, AL',
 'Bloomington, IL',
 'Bloomington, IN',
 'Boise City, ID',
 'Boston-Cambridge-Newton, MA-NH',
 'Boulder, CO',
 'Bowling Green, KY',
 'Bremerton-Silverdale-Port Orchard, WA',
 'Bridgeport-Stamford-Danbury, CT',
 'Brownsville-Harlingen, TX',
 'Buffalo-Cheektowaga, NY',
 'Burlington, NC',
 'Burlington-South Burlington, VT',
 'Canton-Massillon, OH',
 'Cape Coral-Fort Myers, FL',
 'Cape Girardeau, MO-IL',
 'Carson City, NV',
 'Cedar Rapids, IA',
 'Chambersburg, PA',
 'Champaign-Urbana, IL',
 'Charleston, WV',
 'Charlotte-Concord-Gastonia, NC-SC',
 'Chattanooga, TN-GA',
 'Chicago-Naperville-Elgin, IL-IN',
 'Cincinnati, OH-KY-IN',
 'Cleveland, OH',
 'Cleveland, TN',
 'Coeur dAlene, ID',
 'Columbia, MO',
 'Columbia, SC',
 'Columbus, GA-AL',
 'Columbus, IN',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Corvallis, OR',
 'Dallas-Fort Worth-Arlington, TX',
 'Dalton, GA',
 'Daphne-Fairhope-Foley, AL',
 'Davenport-Moline-Rock Island, IA-IL',
 'Dayton-Kettering-Beavercreek, OH',
 'Decatur, AL',
 'Deltona-Daytona Beach-Ormond Beach, FL',
 'Denver-Aurora-Centennial, CO',
 'Des Moines-West Des Moines, IA',
 'Detroit-Warren-Dearborn, MI',
 'Dothan, AL',
 'Dover, DE',
 'Duluth, MN-WI',
 'Durham-Chapel Hill, NC',
 'Eau Claire, WI',
 'El Paso, TX',
 'Elizabethtown, KY',
 'Elkhart-Goshen, IN',
 'Elmira, NY',
 'Erie, PA',
 'Evansville, IN',
 'Fargo, ND-MN',
 'Fayetteville, NC',
 'Flint, MI',
 'Florence-Muscle Shoals, AL',
 'Fort Wayne, IN',
 'Fresno, CA',
 'Gainesville, FL',
 'Gainesville, GA',
 'Gettysburg, PA',
 'Glens Falls, NY',
 'Grand Rapids-Wyoming-Kentwood, MI',
 'Grants Pass, OR',
 'Greeley, CO',
 'Green Bay, WI',
 'Greensboro-High Point, NC',
 'Greenville, NC',
 'Greenville-Anderson-Greer, SC',
 'Hagerstown-Martinsburg, MD-WV',
 'Hammond, LA',
 'Hanford-Corcoran, CA',
 'Harrisburg-Carlisle, PA',
 'Harrisonburg, VA',
 'Hartford-West Hartford-East Hartford, CT',
 'Hattiesburg, MS',
 'Hickory-Lenoir-Morganton, NC',
 'Hinesville, GA',
 'Hot Springs, AR',
 'Houston-Pasadena-The Woodlands, TX',
 'Huntington-Ashland, WV-KY-OH',
 'Huntsville, AL',
 'Idaho Falls, ID',
 'Indianapolis-Carmel-Greenwood, IN',
 'Iowa City, IA',
 'Ithaca, NY',
 'Jackson, MS',
 'Jacksonville, FL',
 'Janesville-Beloit, WI',
 'Jefferson City, MO',
 'Johnson City, TN',
 'Johnstown, PA',
 'Jonesboro, AR',
 'Joplin, MO-KS',
 'Kalamazoo-Portage, MI',
 'Kankakee, IL',
 'Kansas City, MO-KS',
 'Kennewick-Richland, WA',
 'Kenosha, WI',
 'Kingsport-Bristol, TN-VA',
 'Kingston, NY',
 'Kiryas Joel-Poughkeepsie-Newburgh, NY',
 'Knoxville, TN',
 'Kokomo, IN',
 'La Crosse-Onalaska, WI-MN',
 'Lafayette, LA',
 'Lafayette-West Lafayette, IN',
 'Lake Charles, LA',
 'Lakeland-Winter Haven, FL',
 'Lansing-East Lansing, MI',
 'Las Cruces, NM',
 'Las Vegas-Henderson-North Las Vegas, NV',
 'Lawrence, KS',
 'Lawton, OK',
 'Lebanon, PA',
 'Lewiston-Auburn, ME',
 'Lexington Park, MD',
 'Lexington-Fayette, KY',
 'Lima, OH',
 'Lincoln, NE',
 'Little Rock-North Little Rock-Conway, AR',
 'Longview-Kelso, WA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Louisville-Jefferson County, KY-IN',
 'Lubbock, TX',
 'Macon-Bibb County, GA',
 'Madison, WI',
 'Manchester-Nashua, NH',
 'Mankato, MN',
 'Mansfield, OH',
 'McAllen-Edinburg-Mission, TX',
 'Medford, OR',
 'Memphis, TN-MS-AR',
 'Merced, CA',
 'Miami-Fort Lauderdale-West Palm Beach, FL',
 'Michigan City-La Porte, IN',
 'Midland, MI',
 'Midland, TX',
 'Milwaukee-Waukesha, WI',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'Mobile, AL',
 'Modesto, CA',
 'Monroe, LA',
 'Monroe, MI',
 'Montgomery, AL',
 'Morristown, TN',
 'Mount Vernon-Anacortes, WA',
 'Muncie, IN',
 'Muskegon-Norton Shores, MI',
 'Myrtle Beach-Conway-North Myrtle Beach, SC',
 'Napa, CA',
 'Naples-Marco Island, FL',
 'Nashville-Davidson--Murfreesboro--Franklin, TN',
 'New Haven, CT',
 'New Orleans-Metairie, LA',
 'New York-Newark-Jersey City, NY-NJ',
 'Niles, MI',
 'North Port-Bradenton-Sarasota, FL',
 'Norwich-New London-Willimantic, CT',
 'Odessa, TX',
 'Ogden, UT',
 'Oklahoma City, OK',
 'Olympia-Lacey-Tumwater, WA',
 'Omaha, NE-IA',
 'Orlando-Kissimmee-Sanford, FL',
 'Oshkosh-Neenah, WI',
 'Oxnard-Thousand Oaks-Ventura, CA',
 'Paducah, KY-IL',
 'Parkersburg-Vienna, WV',
 'Peoria, IL',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
 'Phoenix-Mesa-Chandler, AZ',
 'Pinehurst-Southern Pines, NC',
 'Pittsburgh, PA',
 'Port St. Lucie, FL',
 'Portland-South Portland, ME',
 'Portland-Vancouver-Hillsboro, OR-WA',
 'Providence-Warwick, RI-MA',
 'Provo-Orem-Lehi, UT',
 'Pueblo, CO',
 'Punta Gorda, FL',
 'Racine-Mount Pleasant, WI',
 'Raleigh-Cary, NC',
 'Rapid City, SD',
 'Reading, PA',
 'Redding, CA',
 'Reno, NV',
 'Riverside-San Bernardino-Ontario, CA',
 'Rochester, MN',
 'Rochester, NY',
 'Rockford, IL',
 'Rocky Mount, NC',
 'Rome, GA',
 'Sacramento-Roseville-Folsom, CA',
 'Saginaw, MI',
 'Salem, OR',
 'Salisbury, MD',
 'Salt Lake City-Murray, UT',
 'San Antonio-New Braunfels, TX',
 'San Francisco-Oakland-Fremont, CA',
 'San Jose-Sunnyvale-Santa Clara, CA',
 'Sandusky, OH',
 'Santa Cruz-Watsonville, CA',
 'Santa Fe, NM',
 'Savannah, GA',
 'Seattle-Tacoma-Bellevue, WA',
 'Sebastian-Vero Beach-West Vero Corridor, FL',
 'Sherman-Denison, TX',
 'Shreveport-Bossier City, LA',
 'Sioux City, IA-NE-SD',
 'Slidell-Mandeville-Covington, LA',
 'South Bend-Mishawaka, IN-MI',
 'Spartanburg, SC',
 'Spokane-Spokane Valley, WA',
 'Springfield, IL',
 'Springfield, MA',
 'Springfield, OH',
 'St. Cloud, MN',
 'St. Joseph, MO-KS',
 'St. Louis, MO-IL',
 'State College, PA',
 'Staunton-Stuarts Draft, VA',
 'Stockton-Lodi, CA',
 'Sumter, SC',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Trenton-Princeton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tyler, TX',
 'Vallejo, CA',
 'Victoria, TX',
 'Vineland, NJ',
 'Virginia Beach-Chesapeake-Norfolk, VA-NC',
 'Walla Walla, WA',
 'Warner Robins, GA',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Waterbury-Shelton, CT',
 'Wausau, WI',
 'Weirton-Steubenville, WV-OH',
 'Wichita, KS',
 'Wildwood-The Villages, FL',
 'Williamsport, PA',
 'Winchester, VA-WV',
 'Winston-Salem, NC',
 'Worcester, MA',
 'York-Hanover, PA',
 'Youngstown-Warren, OH',
 'Yuba City, CA']

In [5]:
import pandas as pd
import requests
from datetime import datetime

def check_url_exists(url):
    """Check if a URL exists without downloading the full file"""
    try:
        response = requests.head(url)
        return response.status_code == 200
    except:
        return False

def process_2024_data(url):
    """Process data from 2024 onwards"""
    df = pd.read_excel(url, skiprows=7)
    
    # Clean columns
    df.drop(columns=['Metro /Micro Code', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_2022_2023_data(url):
    """Process data from 2022-2023"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Unnamed: 9'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

def process_pre_2022_data(url):
    """Process data from 2021 and earlier"""
    df = pd.read_excel(url, skiprows=7)
    
    # Remove first row and clean columns
    df = df.iloc[1:]
    df.drop(columns=['Monthly Coverage Percent*', 'Unnamed: 10'], inplace=True)
    
    # Clean column names and data
    df.columns = df.columns.str.replace('.1', '_ytd')
    df['Name'] = df['Name'].str.rstrip()
    
    # Add date
    df['date'] = url[-10:-4]
    
    return df

# Initialize an empty list to store all dataframes
all_dfs = []

# Process each date
for date_str in date_list:
    year = int(date_str[:4])
    
    try:
        # Determine URL format and processing function based on year
        if year >= 2024:
            url = f'https://www.census.gov/construction/bps/xls/cbsamonthly_{date_str}.xls'
            process_func = process_2024_data
        else:
            url = f'https://www.census.gov/construction/bps/xls/msamonthly_{date_str}.xls'
            if year >= 2022:
                process_func = process_2022_2023_data
            else:
                process_func = process_pre_2022_data
        
        # Check if URL exists
        if check_url_exists(url):
            try:
                df = process_func(url)
                all_dfs.append(df)
                print(f"Successfully processed data for {date_str}")
            except Exception as e:
                print(f"Error processing {date_str}: {str(e)}")
                continue
        else:
            print(f"No data available for {date_str}")
            continue
            
    except Exception as e:
        print(f"Error with {date_str}: {str(e)}")
        continue

# Concatenate all dataframes if we have any data
if all_dfs:
    homebuilding = pd.concat(all_dfs, ignore_index=True)
    
    # Convert date column to datetime
    homebuilding['date'] = pd.to_datetime(homebuilding['date'], format='%Y%m')
    
    # Sort by date and other relevant columns
    homebuilding = homebuilding.sort_values(['date', 'Name'], ascending=[False, True])
    
    print(f"\nFinal dataset contains {len(homebuilding)} rows from {len(all_dfs)} different months")
    print(f"Date range: {homebuilding['date'].min()} to {homebuilding['date'].max()}")
else:
    print("No data was successfully processed")
    homebuilding = pd.DataFrame()

No data available for 202503
No data available for 202502
Successfully processed data for 202501
Successfully processed data for 202412
Successfully processed data for 202411
Successfully processed data for 202410
Successfully processed data for 202409
Successfully processed data for 202408
Successfully processed data for 202407
Successfully processed data for 202406
Successfully processed data for 202405
Successfully processed data for 202404
Successfully processed data for 202403
Successfully processed data for 202402
Successfully processed data for 202401
Successfully processed data for 202312
Successfully processed data for 202311
Successfully processed data for 202310
Successfully processed data for 202309
Successfully processed data for 202308
Successfully processed data for 202307
Successfully processed data for 202306
Successfully processed data for 202305
Successfully processed data for 202304
Successfully processed data for 202303
Successfully processed data for 202302
Successfully processed data for 202301
Successfully processed data for 202212
Successfully processed data for 202211
Successfully processed data for 202210
Successfully processed data for 202209
Successfully processed data for 202208
Successfully processed data for 202207
Successfully processed data for 202206
Successfully processed data for 202205
Successfully processed data for 202204
Successfully processed data for 202203
Successfully processed data for 202202
Successfully processed data for 202201
Successfully processed data for 202112
Successfully processed data for 202111
Successfully processed data for 202110
Successfully processed data for 202109
Successfully processed data for 202108
Successfully processed data for 202107
Successfully processed data for 202106
Successfully processed data for 202105
Successfully processed data for 202104
Successfully processed data for 202103
Successfully processed data for 202102
Successfully processed data for 202101
Successfully processed data for 202012
Successfully processed data for 202011
Successfully processed data for 202010
Successfully processed data for 202009
Successfully processed data for 202008
Successfully processed data for 202007
Successfully processed data for 202006
Successfully processed data for 202005
Successfully processed data for 202004
Successfully processed data for 202003
Successfully processed data for 202002
Successfully processed data for 202001
Successfully processed data for 201912
Successfully processed data for 201911
No data available for 201910
No data available for 201909
No data available for 201908
No data available for 201907
No data available for 201906
No data available for 201905
No data available for 201904
No data available for 201903

Final dataset contains 30757 rows from 63 different months
Date range: 2019-11-01 00:00:00 to 2025-01-01 00:00:00

In [6]:
# homebuilding['date'] = pd.to_datetime(homebuilding['date'])
homebuilding.dtypes

CSA                                                  float64
CBSA                                                 float64
Name                                                  object
Total                                                float64
1 Unit                                               float64
2 Units                                              float64
3 and 4 Units                                        float64
5 Units or More                                      float64
Num of Structures With 5 Units or More               float64
Total_ytd                                            float64
1 Unit_ytd                                           float64
2 Units_ytd                                          float64
3 and 4 Units_ytd                                    float64
5 Units or More_ytd                                  float64
Num of Structures With 5 Units or More_ytd           float64
date                                          datetime64[ns]
dtype: object

In [7]:
homebuilding.columns

Index(['CSA', 'CBSA', 'Name', 'Total', '1 Unit', '2 Units', '3 and 4 Units',
       '5 Units or More', 'Num of Structures With 5 Units or More',
       'Total_ytd', '1 Unit_ytd', '2 Units_ytd', '3 and 4 Units_ytd',
       '5 Units or More_ytd', 'Num of Structures With 5 Units or More_ytd',
       'date'],
      dtype='object')

In [8]:
# create a 'multi_total' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total'] = homebuilding['2 Units'] + homebuilding['3 and 4 Units'] + homebuilding['5 Units or More'] + homebuilding['Num of Structures With 5 Units or More']

# create a 'multi_total_ytd' column that sums the columns for different types of multi-unit structures
homebuilding['multi_total_ytd'] =  homebuilding['2 Units_ytd'] + homebuilding['3 and 4 Units_ytd'] + homebuilding['5 Units or More_ytd'] + homebuilding['Num of Structures With 5 Units or More_ytd']

In [9]:
# rename Name to name, Total to total, and Total_ytd to total_ytd
homebuilding.rename(
    columns={
        'Name': 'name',
        'Total': 'total',
        'Total_ytd': 'total_ytd'
    },
    inplace=True
)

homebuilding = homebuilding[['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd']]

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
0,2025-01-01,"Aberdeen, SD",0.0,0.0,0.0,0.0
1,2025-01-01,"Aberdeen, WA",24.0,24.0,0.0,0.0
2,2025-01-01,"Abilene, TX",82.0,82.0,4.0,4.0
3,2025-01-01,"Ada, OK",4.0,4.0,4.0,4.0
4,2025-01-01,"Adrian, MI",8.0,8.0,0.0,0.0
...,...,...,...,...,...,...
30752,2019-11-01,"Worcester, MA-CT",18.0,219.0,2.0,52.0
30753,2019-11-01,"Yakima, WA",52.0,823.0,13.0,476.0
30754,2019-11-01,"York-Hanover, PA",11.0,155.0,4.0,62.0
30755,2019-11-01,"Youngstown-Warren-Boardman, OH-PA",13.0,200.0,0.0,7.0
30756,2019-11-01,"Yuma, AZ",80.0,1063.0,0.0,6.0

In [10]:
# find nyc data
homebuilding[homebuilding['name'].str.contains('New York')]

,date,name,total,total_ytd,multi_total,multi_total_ytd
596,2025-01-01,"New York-Newark-Jersey City, NY-NJ",4200.0,4200.0,3390.0,3390.0
1517,2024-12-01,"New York-Newark-Jersey City, NY-NJ",6341.0,58580.0,5599.0,46990.0
2438,2024-11-01,"New York-Newark-Jersey City, NY-NJ",4216.0,52213.0,3448.0,41343.0
3359,2024-10-01,"New York-Newark-Jersey City, NY-NJ",4168.0,48063.0,2924.0,37914.0
4280,2024-09-01,"New York-Newark-Jersey City, NY-NJ",3666.0,43928.0,2683.0,35127.0
...,...,...,...,...,...,...
29156,2020-03-01,"New York-Newark-Jersey City, NY-NJ-PA",3410.0,12366.0,2461.0,9753.0
29524,2020-02-01,"New York-Newark-Jersey City, NY-NJ-PA",2929.0,8873.0,2147.0,7250.0
29892,2020-01-01,"New York-Newark-Jersey City, NY-NJ-PA",5982.0,5982.0,5169.0,5169.0
30260,2019-12-01,"New York-Newark-Jersey City, NY-NJ-PA",5708.0,60746.0,5096.0,50701.0
30628,2019-11-01,"New York-Newark-Jersey City, NY-NJ-PA",6967.0,55381.0,5652.0,46086.0

In [11]:
# clean up the name column
homebuilding['name'] = homebuilding['name'].apply(lambda x: x.split(',')[0].split('-')[0] + ',' + x.split(',')[1].split('-')[0])

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
0,2025-01-01,"Aberdeen, SD",0.0,0.0,0.0,0.0
1,2025-01-01,"Aberdeen, WA",24.0,24.0,0.0,0.0
2,2025-01-01,"Abilene, TX",82.0,82.0,4.0,4.0
3,2025-01-01,"Ada, OK",4.0,4.0,4.0,4.0
4,2025-01-01,"Adrian, MI",8.0,8.0,0.0,0.0
...,...,...,...,...,...,...
30752,2019-11-01,"Worcester, MA",18.0,219.0,2.0,52.0
30753,2019-11-01,"Yakima, WA",52.0,823.0,13.0,476.0
30754,2019-11-01,"York, PA",11.0,155.0,4.0,62.0
30755,2019-11-01,"Youngstown, OH",13.0,200.0,0.0,7.0
30756,2019-11-01,"Yuma, AZ",80.0,1063.0,0.0,6.0

In [12]:
# sort by date with earliest date first
homebuilding = homebuilding.sort_values('date')



homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd
30756,2019-11-01,"Yuma, AZ",80.0,1063.0,0.0,6.0
30505,2019-11-01,"Fayetteville, AR",495.0,6303.0,199.0,2562.0
30506,2019-11-01,"Flagstaff, AZ",48.0,650.0,19.0,194.0
30507,2019-11-01,"Flint, MI",18.0,371.0,0.0,130.0
30508,2019-11-01,"Florence, SC",36.0,664.0,6.0,288.0
...,...,...,...,...,...,...
608,2025-01-01,"Oak Harbor, WA",17.0,17.0,0.0,0.0
607,2025-01-01,"Norwich, CT",11.0,11.0,0.0,0.0
606,2025-01-01,"Norwalk, OH",1.0,1.0,0.0,0.0
604,2025-01-01,"North Port, FL",1470.0,1470.0,796.0,796.0
0,2025-01-01,"Aberdeen, SD",0.0,0.0,0.0,0.0

In [13]:
# Ensure the DataFrame is sorted by 'name' and 'date'
homebuilding = homebuilding.sort_values(by=['name', 'date'])

# Create a 12-month running total column
homebuilding['rt'] = (
    homebuilding.groupby('name')['total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

# Create a 12-month running total column for multi-unit structures
homebuilding['multi_rt'] = (
    homebuilding.groupby('name')['multi_total']
    .rolling(window=12, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

homebuilding

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
11052,2024-01-01,"Aberdeen, SD",2.0,2.0,0.0,0.0,2.0,0.0
10131,2024-02-01,"Aberdeen, SD",2.0,4.0,0.0,0.0,4.0,0.0
9210,2024-03-01,"Aberdeen, SD",4.0,8.0,0.0,0.0,8.0,0.0
8289,2024-04-01,"Aberdeen, SD",15.0,23.0,0.0,0.0,23.0,0.0
7368,2024-05-01,"Aberdeen, SD",1.0,24.0,0.0,0.0,24.0,0.0
...,...,...,...,...,...,...,...,...
4604,2024-09-01,"Zanesville, OH",15.0,97.0,12.0,77.0,99.0,77.0
3683,2024-10-01,"Zanesville, OH",16.0,113.0,14.0,91.0,115.0,91.0
2762,2024-11-01,"Zanesville, OH",15.0,128.0,14.0,105.0,130.0,105.0
1841,2024-12-01,"Zanesville, OH",12.0,140.0,12.0,117.0,142.0,117.0
920,2025-01-01,"Zanesville, OH",15.0,15.0,14.0,14.0,155.0,131.0

In [14]:
# show the df sorted by multi_total_12_month_running in the max date
homebuilding[homebuilding['date'] == homebuilding['date'].max()].sort_values('multi_rt', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt
596,2025-01-01,"New York, NY",4200.0,4200.0,3390.0,3390.0,58837.0,47519.0
206,2025-01-01,"Dallas, TX",4876.0,4876.0,1586.0,1586.0,69245.0,23985.0
56,2025-01-01,"Austin, TX",1908.0,1908.0,769.0,769.0,32121.0,15730.0
489,2025-01-01,"Los Angeles, CA",1675.0,1675.0,755.0,755.0,26996.0,15308.0
48,2025-01-01,"Atlanta, GA",3133.0,3133.0,1350.0,1350.0,39409.0,14629.0
...,...,...,...,...,...,...,...,...
611,2025-01-01,"Odessa, TX",107.0,107.0,0.0,0.0,1020.0,0.0
606,2025-01-01,"Norwalk, OH",1.0,1.0,0.0,0.0,38.0,0.0
605,2025-01-01,"North Wilkesboro, NC",16.0,16.0,0.0,0.0,143.0,0.0
135,2025-01-01,"Cañon City, CO",8.0,8.0,0.0,0.0,119.0,0.0
597,2025-01-01,"Newberry, SC",13.0,13.0,0.0,0.0,152.0,0.0

In [15]:
# population

# read in the population data
metros = pd.read_csv('data/zori_metro_long_clean.csv')

# change 'date' to datetime
metros['date'] = pd.to_datetime(metros['date'])

metros

,name,date,zori,lat,lng,pop_2023
0,"New York, NY",2015-02-01,2225.296911,40.6943,-73.9249,19498249.0
1,"Los Angeles, CA",2015-02-01,1802.281380,34.1141,-118.4068,12799100.0
2,"Chicago, IL",2015-02-01,1352.236287,41.8375,-87.6866,9262825.0
3,"Dallas, TX",2015-02-01,1082.375956,32.7935,-96.7667,8100037.0
4,"Houston, TX",2015-02-01,1221.669822,29.7860,-95.3885,7510253.0
...,...,...,...,...,...,...
5995,"Salt Lake City, UT",2025-01-01,1656.973108,40.7776,-111.9311,1267864.0
5996,"Hartford, CT",2025-01-01,1870.252402,41.7661,-72.6834,1151543.0
5997,"Buffalo, NY",2025-01-01,1324.995704,42.9018,-78.8487,1155604.0
5998,"Birmingham, AL",2025-01-01,1339.420553,33.5279,-86.7971,1184290.0
5999,"Grand Rapids, MI",2025-01-01,1742.311646,42.9619,-85.6562,1162950.0

In [16]:
# merge the population data with the homebuilding data
# merge on 'name' and 'date'
# only include rows where both 'name' and 'date' are in both dataframes
homebuilding_zori = pd.merge(
    homebuilding,
    metros,
    on=['name', 'date'],
    how='inner'
)

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3145,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0
3146,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0
3147,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0
3148,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0
3149,2025-01-01,"Washington, DC",2180.0,2180.0,1078.0,1078.0,21655.0,10302.0,2358.560270,38.9047,-77.0163,6304975.0

In [17]:
homebuilding_zori['name'].nunique()

50

In [18]:
homebuilding_zori.columns

Index(['date', 'name', 'total', 'total_ytd', 'multi_total', 'multi_total_ytd',
       'rt', 'multi_rt', 'zori', 'lat', 'lng', 'pop_2023'],
      dtype='object')

In [19]:
# create 'total_per_capita' and 'total_ytd_per_capita' columns that divide 'total' and 'total_ytd' by 'pop_2023'
homebuilding_zori['total_pc'] = homebuilding_zori['total'] / homebuilding_zori['pop_2023']
homebuilding_zori['total_ytd_pc'] = homebuilding_zori['total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_pc'] = homebuilding_zori['multi_total'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_total_ytd_pc'] = homebuilding_zori['multi_total_ytd'] / homebuilding_zori['pop_2023']
homebuilding_zori['rt_pc'] = homebuilding_zori['rt'] / homebuilding_zori['pop_2023']
homebuilding_zori['multi_rt_pc'] = homebuilding_zori['multi_rt'] / homebuilding_zori['pop_2023']


# change per capita columns to per 1000
for col in homebuilding_zori.columns:
    if 'pc' in col:
        homebuilding_zori[col] = homebuilding_zori[col] * 1000

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770
3146,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318
3147,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574
3148,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697
3149,2025-01-01,"Washington, DC",2180.0,2180.0,1078.0,1078.0,21655.0,10302.0,2358.560270,38.9047,-77.0163,6304975.0,0.345759,0.345759,0.170976,0.170976,3.434589,1.633948

In [20]:
# create 'zori_yoy' column that calculates the year-over-year change in 'zori' for each metro area
homebuilding_zori['zori_yoy'] = homebuilding_zori.groupby('name')['zori'].pct_change(12)
homebuilding_zori

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gq/T/ipykernel_31587/3262750924.py:2: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  homebuilding_zori['zori_yoy'] = homebuilding_zori.groupby('name')['zori'].pct_change(12)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550,NaN
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321,NaN
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587,NaN
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802,NaN
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770,0.048862
3146,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318,0.047143
3147,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574,0.044723
3148,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697,0.045161
3149,2025-01-01,"Washington, DC",2180.0,2180.0,1078.0,1078.0,21655.0,10302.0,2358.560270,38.9047,-77.0163,6304975.0,0.345759,0.345759,0.170976,0.170976,3.434589,1.633948,0.045333

In [21]:
# sort by multi_rt_pc in the max date and filter to this date
homebuilding_zori[homebuilding_zori['date'] == homebuilding_zori['date'].max()].sort_values('rt_pc', ascending=False)

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy
125,2025-01-01,"Austin, TX",1908.0,1908.0,769.0,769.0,32121.0,15730.0,1666.818076,30.3005,-97.7522,2473275.0,0.771447,0.771447,0.310924,0.310924,12.987234,6.359988,-0.030192
2330,2025-01-01,"Raleigh, NC",1067.0,1067.0,72.0,72.0,19040.0,5634.0,1721.833096,35.8324,-78.6429,1509231.0,0.706983,0.706983,0.047706,0.047706,12.615696,3.733027,0.012323
1763,2025-01-01,"Nashville, TN",1569.0,1569.0,578.0,578.0,20019.0,5945.0,1844.593747,36.1715,-86.7842,2102573.0,0.746229,0.746229,0.274901,0.274901,9.521191,2.827488,0.019711
440,2025-01-01,"Charlotte, NC",2304.0,2304.0,903.0,903.0,26486.0,7862.0,1773.988133,35.2083,-80.8303,2805115.0,0.821357,0.821357,0.321912,0.321912,9.442037,2.802737,0.017127
1952,2025-01-01,"Orlando, FL",3632.0,3632.0,2303.0,2303.0,25032.0,9390.0,1979.918361,28.4773,-81.3370,2817933.0,1.288888,1.288888,0.817266,0.817266,8.883107,3.332230,0.013264
1196,2025-01-01,"Jacksonville, FL",1065.0,1065.0,64.0,64.0,15158.0,2229.0,1684.285184,30.3322,-81.6749,1713240.0,0.621629,0.621629,0.037356,0.037356,8.847564,1.301044,0.022803
1070,2025-01-01,"Houston, TX",5731.0,5731.0,1596.0,1596.0,65842.0,13396.0,1676.206282,29.7860,-95.3885,7510253.0,0.763090,0.763090,0.212509,0.212509,8.766948,1.783695,0.026087
755,2025-01-01,"Dallas, TX",4876.0,4876.0,1586.0,1586.0,69245.0,23985.0,1715.783376,32.7935,-96.7667,8100037.0,0.601973,0.601973,0.195802,0.195802,8.548726,2.961098,0.003167
2078,2025-01-01,"Phoenix, AZ",2687.0,2687.0,201.0,201.0,42627.0,13327.0,1791.494866,33.5722,-112.0892,5070110.0,0.529969,0.529969,0.039644,0.039644,8.407510,2.628543,0.007653
2393,2025-01-01,"Richmond, VA",1313.0,1313.0,815.0,815.0,9160.0,4119.0,1649.262853,37.5295,-77.4756,1349732.0,0.972786,0.972786,0.603824,0.603824,6.786532,3.051717,0.064608
3023,2025-01-01,"Tampa, FL",2172.0,2172.0,1105.0,1105.0,21869.0,8764.0,2073.680533,27.9945,-82.4447,3342963.0,0.649723,0.649723,0.330545,0.330545,6.541801,2.621626,0.031942
62,2025-01-01,"Atlanta, GA",3133.0,3133.0,1350.0,1350.0,39409.0,14629.0,1876.184088,33.7628,-84.4220,6307261.0,0.496729,0.496729,0.214039,0.214039,6.248196,2.319390,0.019996
692,2025-01-01,"Columbus, OH",657.0,657.0,253.0,253.0,12963.0,7051.0,1463.994780,39.9862,-82.9855,2180271.0,0.301339,0.301339,0.116041,0.116041,5.945591,3.234002,0.050810
1322,2025-01-01,"Las Vegas, NV",1292.0,1292.0,311.0,311.0,13507.0,2476.0,1774.555873,36.2333,-115.2654,2336573.0,0.552947,0.552947,0.133101,0.133101,5.780688,1.059672,0.020638
1133,2025-01-01,"Indianapolis, IN",773.0,773.0,26.0,26.0,11976.0,2776.0,1508.877057,39.7771,-86.1458,2138468.0,0.361474,0.361474,0.012158,0.012158,5.600271,1.298126,0.046547
2645,2025-01-01,"San Antonio, TX",876.0,876.0,70.0,70.0,14094.0,3720.0,1428.220419,29.4632,-98.5238,2703999.0,0.323965,0.323965,0.025888,0.025888,5.212280,1.375740,-0.012856
818,2025-01-01,"Denver, CO",985.0,985.0,287.0,287.0,15522.0,6623.0,1922.632151,39.7620,-104.8758,3005131.0,0.327773,0.327773,0.095503,0.095503,5.165166,2.203897,-0.002719
2582,2025-01-01,"Salt Lake City, UT",943.0,943.0,615.0,615.0,6507.0,2927.0,1656.973108,40.7776,-111.9311,1267864.0,0.743771,0.743771,0.485068,0.485068,5.132254,2.308607,0.010859
1889,2025-01-01,"Oklahoma City, OK",644.0,644.0,93.0,93.0,7408.0,1428.0,1362.891606,35.4676,-97.5136,1477926.0,0.435746,0.435746,0.062926,0.062926,5.012430,0.966219,0.035405
2519,2025-01-01,"Sacramento, CA",801.0,801.0,118.0,118.0,11180.0,2606.0,2275.785816,38.5677,-121.4685,2420608.0,0.330909,0.330909,0.048748,0.048748,4.618674,1.076589,0.035577
2897,2025-01-01,"Seattle, WA",1203.0,1203.0,699.0,699.0,17801.0,11892.0,2220.890403,47.6211,-122.3244,4044837.0,0.297416,0.297416,0.172813,0.172813,4.400919,2.940044,0.038585
1259,2025-01-01,"Kansas City, MO",740.0,740.0,498.0,498.0,9432.0,4810.0,1434.472153,39.1238,-94.5541,2221343.0,0.333132,0.333132,0.224189,0.224189,4.246080,2.165357,0.046141
1448,2025-01-01,"Louisville, KY",255.0,255.0,51.0,51.0,5773.0,2281.0,1376.395770,38.1663,-85.6485,1365557.0,0.186737,0.186737,0.037347,0.037347,4.227579,1.670381,0.053376
1700,2025-01-01,"Minneapolis, MN",698.0,698.0,179.0,179.0,14555.0,5448.0,1640.958410,44.9635,-93.2678,3712020.0,0.188038,0.188038,0.048222,0.048222,3.921046,1.467665,0.031068
2204,2025-01-01,"Portland, OR",808.0,808.0,241.0,241.0,9344.0,3160.0,1830.305404,45.5371,-122.6500,2508050.0,0.322163,0.322163,0.096091,0.096091,3.725604,1.259943,0.037120
2708,2025-01-01,"San Diego, CA",543.0,543.0,310.0,310.0,11475.0,8416.0,2997.904347,32.8313,-117.1222,3269973.0,0.166056,0.166056,0.094802,0.094802,3.509203,2.573722,0.029221
3149,2025-01-01,"Washington, DC",2180.0,2180.0,1078.0,1078.0,21655.0,10302.0,2358.560270,38.9047,-77.0163,6304975.0,0.345759,0.345759,0.170976,0.170976,3.434589,1.633948,0.045333
944,2025-01-01,"Grand Rapids, MI",299.0,299.0,126.0,126.0,3966.0,1514.0,1742.311646,42.9619,-85.6562,1162950.0,0.257105,0.257105,0.108345,0.108345,3.410293,1.301862,0.041795
2456,2025-01-01,"Riverside, CA",1161.0,1161.0,193.0,193.0,15065.0,3692.0,2541.583970,33.9381,-117.3949,4688053.0,0.247651,0.247651,0.041168,0.041168,3.213488,0.787534,0.036835
1511,2025-01-01,"Memphis, TN",237.0,237.0,0.0,0.0,4250.0,1088.0,1434.863194,35.1087,-89.9663,1335674.0,0.177439,0.177439,0.000000,0.000000,3.181914,0.814570,0.039100
566,2025-01-01,"Cincinnati, OH",464.0,464.0,155.0,155.0,7015.0,3186.0,1549.390843,39.1413,-84.5060,2271479.0,0.204272,0.204272,0.068237,0.068237,3.088296,1.402610,0.047927
1826,2025-01-01,"New York, NY",4200.0,4200.0,3390.0,3390.0,58837.0,47519.0,3176.778358,40.6943,-73.9249,19498249.0,0.215404,0.215404,0.173862,0.173862,3.017553,2.437091,0.039048
251,2025-01-01,"Birmingham, AL",261.0,261.0,22.0,22.0,3438.0,303.0,1339.420553,33.5279,-86.7971,1184290.0,0.220385,0.220385,0.018577,0.018577,2.903005,0.255849,0.045446
3086,2025-01-01,"Virginia Beach, VA",516.0,516.0,213.0,213.0,5097.0,1441.0,1752.738796,36.7335,-76.0435,1787169.0,0.288725,0.288725,0.119183,0.119183,2.851997,0.806303,0.048469
1574,2025-01-01,"Miami, FL",1118.0,1118.0,800.0,800.0,15973.0,11076.0,2703.046781,25.7840,-80.2101,6183199.0,0.180813,0.180813,0.129383,0.129383,2.583291,1.791306,0.020656
2141,2025-01-01,"Pittsburgh, PA",428.0,428.0,154.0,154.0,6069.0,2517.0,1451.084279,40.4397,-79.9763,2422725.0,0.176661,0.176661,0.063565,0.063565,2.505030,1.038913,0.040947
188,2025-01-01,"Baltimore, MD",708.0,708.0,468.0,468.0,6859.0,3329.0,1853.522067,39.3051,-76.6144,2834316.0,0.249796,0.249796,0.165119,0.165119,2.419984,1.174534,0.044787
2960,2025-01-01,"St. Louis, MO",385.0,385.0,129.0,129.0,6738.0,2167.0,1365.559082,38.6359,-90.2451,2796999.0,0.137648,0.137648,0.046121,0.046121,2.409011,0.774759,0.054306
1637,2025-01-01,"Milwaukee, WI",222.0,222.0,118.0,118.0,3699.0,2071.0,1366.744911,43.0642,-87.9675,1560424.0,0.142269,0.142269,0.075620,0.075620,2.370510,1.327203,0.045788
314,2025-01-01,"Boston, MA",789.0,789.0,562.0,562.0,10823.0,7480.0,3002.364112,42.3188,-71.0852,4919179.0,0.160393,0.160393,0.114247,0.114247,2.200164,1.520579,0.034211
2015,2025-01-01,"Philadelphia, PA",931.0,931.0,303.0,303.0,13702.0,6113.0,1857.521461,40.0077,-75.1339,6246160.0,0.149052,0.149052,0.048510,0.048510,2.193668,0.978681,0.043024
2834,2025-01-01,"San Jose, CA",215.0,215.0,27.0,27.0,4263.0,2074.0,3225.297614,37.3012,-121.8480,1945767.0,0.110496,0.110496,0.013876,0.013876,2.190910,1.065904,0.045284
1385,2025-01-01,"Los Angeles, CA",1675.0,1675.0,755.0,755.0,26996.0,15308.0,2915.976564,34.1141,-118.4068,12799100.0,0.130869,0.130869,0.058989,0.058989,2.109211,1.196022,0.029940
503,2025-01-01,"Chicago, IL",819.0,819.0,254.0,254.0,17396.0,8154.0,1982.542756,41.8375,-87.6866,9262825.0,0.088418,0.088418,0.027421,0.027421,1.878045,0.880293,0.057748
629,2025-01-01,"Cleveland, OH",262.0,262.0,60.0,60.0,3662.0,770.0,1351.123892,41.4764,-81.6805,2063132.0,0.126991,0.126991,0.029082,0.029082,1.774971,0.373219,0.069755
881,2025-01-01,"Detroit, MI",394.0,394.0,101.0,101.0,7423.0,2680.0,1455.089764,42.3834,-83.1024,4342304.0,0.090735,0.090735,0.023260,0.023260,1.709461,0.617184,0.051252
1007,2025-01-01,"Hartford, CT",50.0,50.0,21.0,21.0,1859.0,1315.0,1870.252402,41.7661,-72.6834,1151543.0,0.043420,0.043420,0.018236,0.018236,1.614356,1.141946,0.078849
2771,2025-01-01,"San Francisco, CA",565.0,565.0,407.0,407.0,6495.0,3842.0,2983.678311,37.7558,-122.4449,4566961.0,0.123715,0.123715,0.089118,0.089118,1.422171,0.841260,0.036532
2267,2025-01-01,"Providence, RI",150.0,150.0,58.0,58.0,2039.0,649.0,2034.960953,41.8230,-71.4187,1677803.0,0.089403,0.089403,0.034569,0.034569,1.215280,0.386815,0.061967
377,2025-01-01,"Buffalo, NY",52.0,52.0,14.0,14.0,1399.0,661.0,1324.995704,42.9018,-78.8487,1155604.0,0.044998,0.044998,0.012115,0.012115,1.210622,0.571995,0.051389

In [22]:
# Create a 'state' column by extracting the state abbreviation from the 'name' column
homebuilding_zori['state'] = homebuilding_zori['name'].str.split(', ').str[-1]

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,lng,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy,state
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,-84.4220,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550,NaN,GA
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,-84.4220,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321,NaN,GA
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,-84.4220,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587,NaN,GA
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,-84.4220,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802,NaN,GA
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,-84.4220,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937,NaN,GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,-77.0163,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770,0.048862,DC
3146,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,-77.0163,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318,0.047143,DC
3147,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,-77.0163,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574,0.044723,DC
3148,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,-77.0163,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697,0.045161,DC
3149,2025-01-01,"Washington, DC",2180.0,2180.0,1078.0,1078.0,21655.0,10302.0,2358.560270,38.9047,-77.0163,6304975.0,0.345759,0.345759,0.170976,0.170976,3.434589,1.633948,0.045333,DC

In [23]:
homebuilding_zori['name'].nunique()

50

In [24]:
regions = pd.read_csv('data/regions.csv')

regions

   state     region
0     WA       West
1     OR       West
2     CA       West
3     NV       West
4     ID       West
5     MT       West
6     WY       West
7     UT       West
8     CO       West
9     HI       West
10    AK       West
11    AZ  Southwest
12    NM  Southwest
13    TX  Southwest
14    OK  Southwest
15    ND    Midwest
16    SD    Midwest
17    NE    Midwest
18    KS    Midwest
19    MN    Midwest
20    IA    Midwest
21    MO    Midwest
22    WI    Midwest
23    IL    Midwest
24    IN    Midwest
25    MI    Midwest
26    OH    Midwest
27    AR  Southeast
28    LA  Southeast
29    MS  Southeast
30    AL  Southeast
31    TN  Southeast
32    KY  Southeast
33    FL  Southeast
34    GA  Southeast
35    SC  Southeast
36    NC  Southeast
37    VA  Southeast
38    WV  Southeast
39    ME   Northest
40    NH   Northest
41    VT   Northest
42    MA   Northest
43    RI   Northest
44    CT   Northest
45    NY   Northest
46    NJ   Northest
47    PA   Northest
48    DE   Northest
49    MD   Northest
50    DC   Northest

In [25]:


# merge
homebuilding_zori = pd.merge(
    homebuilding_zori,
    regions,
    on='state',
    how='left'
)

homebuilding_zori

,date,name,total,total_ytd,multi_total,multi_total_ytd,rt,multi_rt,zori,lat,...,pop_2023,total_pc,total_ytd_pc,multi_total_pc,multi_total_ytd_pc,rt_pc,multi_rt_pc,zori_yoy,state,region
0,2019-11-01,"Atlanta, GA",1819.0,30513.0,117.0,6602.0,1819.0,117.0,1371.279930,33.7628,...,6307261.0,0.288398,4.837758,0.018550,1.046730,0.288398,0.018550,NaN,GA,Southeast
1,2019-12-01,"Atlanta, GA",2388.0,32729.0,213.0,6732.0,4207.0,330.0,1368.872179,33.7628,...,6307261.0,0.378611,5.189099,0.033771,1.067341,0.667009,0.052321,NaN,GA,Southeast
2,2020-01-01,"Atlanta, GA",2912.0,2912.0,973.0,973.0,7119.0,1303.0,1368.798323,33.7628,...,6307261.0,0.461690,0.461690,0.154267,0.154267,1.128699,0.206587,NaN,GA,Southeast
3,2020-02-01,"Atlanta, GA",2742.0,5661.0,651.0,1562.0,9861.0,1954.0,1373.768759,33.7628,...,6307261.0,0.434737,0.897537,0.103214,0.247651,1.563436,0.309802,NaN,GA,Southeast
4,2020-03-01,"Atlanta, GA",2216.0,7883.0,127.0,1633.0,12077.0,2081.0,1382.102627,33.7628,...,6307261.0,0.351341,1.249829,0.020136,0.258908,1.914777,0.329937,NaN,GA,Southeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145,2024-09-01,"Washington, DC",900.0,16477.0,222.0,7747.0,21885.0,11089.0,2383.224478,38.9047,...,6304975.0,0.142744,2.613333,0.035210,1.228712,3.471068,1.758770,0.048862,DC,Northest
3146,2024-10-01,"Washington, DC",1801.0,19004.0,922.0,8651.0,21838.0,10897.0,2382.780218,38.9047,...,6304975.0,0.285647,3.014128,0.146234,1.372091,3.463614,1.728318,0.047143,DC,Northest
3147,2024-11-01,"Washington, DC",1124.0,20058.0,318.0,8903.0,21457.0,10369.0,2372.798426,38.9047,...,6304975.0,0.178272,3.181297,0.050436,1.412060,3.403186,1.644574,0.044723,DC,Northest
3148,2024-12-01,"Washington, DC",1506.0,21931.0,772.0,9983.0,21188.0,10023.0,2365.752183,38.9047,...,6304975.0,0.238859,3.478364,0.122443,1.583353,3.360521,1.589697,0.045161,DC,Northest
3149,2025-01-01,"Washington, DC",2180.0,2180.0,1078.0,1078.0,21655.0,10302.0,2358.560270,38.9047,...,6304975.0,0.345759,0.345759,0.170976,0.170976,3.434589,1.633948,0.045333,DC,Northest

In [26]:
# save the final dataset to a csv file
homebuilding_zori.to_csv('data/homebuilding_zori.csv', index=False)